[2018-05-24 14:43] jessfraz opened #1 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 13:31] frapposelli opened #2 "Enable Prow automation in the repo"
As subject says, Prow automation needs to be enabled for this repo before starting accepting PRs and such.

[2018-06-04 14:44] frapposelli commented on #2
ref: kubernetes/test-infra#8228

[2018-06-04 16:00] #1 closed

[2018-06-04 16:44] frapposelli commented on #2
PR merged, closing...

[2018-06-04 16:44] #2 closed

[2018-06-12 16:33] frapposelli opened #5 "Create manifests to deploy CCM as pod or daemonset"
For reference: https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/controller-manager

[2018-06-12 16:36] frapposelli commented on #5
/kind feature

[2018-06-19 13:14] frapposelli opened #6 "Enable the use of Kubernetes secrets to store passwords for CCM"
We should allow users to store infrastructure secrets in the right place.

/kind feature

[2018-06-19 14:24] frapposelli opened #7 "Import in-tree cloud provider code in codebase"
As opposed to vendoring the code from k/k.

/kind feature

[2018-06-20 19:29] frapposelli opened #8 "Setup a CI job to push latest images to dockerhub"
Makefile has a `make images` target that builds a CCM container based on `photon:2.0`.

It would be great to get the ball rolling with CI creating a job that runs a build and pushes the resulting image to dockerhub.

/kind feature

[2018-06-20 19:31] frapposelli commented on #5
/kind help-wanted

[2018-06-20 19:32] frapposelli commented on #5
/help

[2018-06-20 19:33] frapposelli commented on #8
/help

[2018-06-20 20:50] frapposelli opened #9 "Create CCM documentation as specified in KEP 0002"
ref: https://github.com/kubernetes/community/blob/master/keps/sig-cloud-provider/0002-cloud-controller-manager.md#implementation-detailsnotesconstraints

/kind feature

[2018-06-20 20:50] frapposelli commented on #9
/help

[2018-06-20 20:54] frapposelli opened #10 "Set up unit testing for CCM code"
This would ideally run a `make test` on the tide testing infrastructure, this issue is for the creation of the hook, `make test` can be a noop for now.

/kind feature
/help

[2018-06-20 21:11] dougm commented on #7
/assign @frapposelli

[2018-07-09 13:37] frapposelli opened #11 "Refactor NodeManager to use PropertyCollector"
Currently state changes within vCenter are discovered by discovering/manually fetching the Moref and then polling the object for changes, we should refactor this code to use the `PropertyCollector` service offered in vCenter >4.1

/kind feature

[2018-07-09 13:37] frapposelli commented on #11
/assign @frapposelli

[2018-07-16 09:23] aojea opened #13 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-16 17:08] frapposelli commented on #13
/kind documentation
/help-wanted

[2018-07-17 13:24] frapposelli commented on #5
Initial stab at manifest under review as #14

[2018-07-17 23:10] frapposelli commented on #8
/assign @figo

[2018-07-17 23:12] frapposelli commented on #9
/assign @figo

[2018-07-17 23:24] fanzhangio opened #15 "Create vcpctl tool to facilitate CCM provisioning"
**FEATURE REQUEST**:

Deploying a cloud provider on vSphere is a task that has many prerequisites, from creating a user with correct roles on vCenter, to creating a correct configuration for the service. When migrating users from the in-tree version there's also a need to convert configuration files and to make sure sensitive credentials are stored safely.

The tool should fulfill these needs:

-

[2018-07-18 09:14] frapposelli commented on #15
/kind feature

[2018-07-18 09:14] frapposelli commented on #15
/assign @fanzhangio

[2018-07-18 16:09] dvonthenen commented on #5
Will deploy and give this a try and provide feedback.

[2018-07-18 16:19] dvonthenen commented on #8
This requires elevated privileges to modify the repo to hook in a CI system (like Travis CI for example).

[2018-07-19 07:55] #13 closed

[2018-07-20 16:03] akutz commented on #10
Hi @figo,

To be clear, @frapposelli cares little about the test output at this time. His concern is that the `images` target is executed in order to ensure that the images are built and deployed to a remote registry to make it simple for others to obtain a working cloud provider.

[2018-07-20 17:10] dvonthenen opened #17 "Allow Pushing Images with Latest Tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
When running `make upload-images`, docker images are pushed and tags based on the build hash.

**What you expected to happen**:
Having a tag on the build hash is fine, but I would also like to push with the tag `latest`. By default, I would be nice to push both the build tag and latest tag. Not ideal but acceptable wo

[2018-07-23 14:05] frapposelli commented on #17
/kind feature

[2018-07-23 17:09] dvonthenen commented on #5
I believe I have this working now for both a pod/deployment and DaemonSet with proper RBAC settings. Will have a PR in a bit.

[2018-07-23 20:22] dvonthenen commented on #5
PR: https://github.com/kubernetes/cloud-provider-vsphere/pull/20

[2018-07-24 09:11] frapposelli commented on #7
Fixed by #14

[2018-07-24 09:11] #7 closed

[2018-07-24 16:29] #5 closed

[2018-07-24 16:36] figo commented on #10
/assign @figo

[2018-07-24 16:36] figo commented on #8
/assign @figo

[2018-07-24 16:51] #17 closed

[2018-07-25 16:34] frapposelli opened #23 "Code cleanup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The packages under `pkg/` have some dead code in them and are in general bad shape.

**What you expected to happen**:

A clean up to be perfomed: removal of dead code, code optimization, removal of redundant code paths.

**Anything else we need to know?**:

/cc @akutz

[2018-07-25 16:40] akutz commented on #23
/assign @akutz

[2018-07-25 16:43] akutz commented on #23
@frapposelli,

Please define "dead-code." In terms of Go, dead code would be code that is:

1. Is not exported AND
2. Doesn't fulfill a known, public interface AND
3. Isn't used in the same package

Is this what you mean by dead code?

[2018-07-25 16:48] akutz commented on #23
Hi @frapposelli,

FWIW, [this](https://github.com/dominikh/go-tools/tree/master/cmd/unused) project can be used to detect code that the Go linker considers "dead."

[2018-07-25 16:54] frapposelli commented on #23
@akutz I usually run this to find dead code:

[code]

[2018-07-25 16:58] akutz commented on #23
Hi @frapposelli,

So the answer is yes, you're referring to Go's definition of dead code when you said "dead code." Thank you.

[2018-07-25 18:24] akutz opened #24 "Committing vendor"
/kind feature

Have the project maintainers considered committing vendor? It tends to make project management much easier.

[2018-07-27 23:00] #23 closed

[2018-07-28 17:04] akutz opened #29 "dep: Removing non-Go files from dependencies"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

FWIW, I added the following to the `Gopkg.toml` file and did a clean `dep ensure`:

[code]

I wanted to see how much disk space was saved, if any, by removing non-Go files from the project's dependencies. The answer? Only about 2MB:

**Keep non-Go files**
[code]

**Remove non-Go files**
[code]

So for now, at least, it does not make sens

[2018-07-28 17:07] akutz commented on #24
I am closing this issue as committing vendor adds 50MB to the Git object store.

[2018-07-28 17:07] #24 closed

[2018-07-30 23:41] dougm commented on #15
@fanzhangio a few pointers:

## disk.EnableUUID

This is a VM "extra config" property, can be set using:
[code]

See: https://github.com/vmware/govmomi/blob/056ad0d4991b2ae3900603480c1d27583ffeaa1d/govc/vm/change.go#L132-L134

Get using:
[code]

See: https://github.com/vmware/govmomi/blob/056ad0d4991b2ae3900603480c1d27583ffeaa1d/govc/vm/info.go#L335-L340

## sso

Creating a solution user: https://

[2018-07-31 20:33] frapposelli commented on #6
/assign @dvonthenen

[2018-08-01 15:57] dvonthenen commented on #6
I am actually looking at the code and the functionality is mostly there with a couple of (significant) caveats:
1. The functionality is disabled currently (hence the significant caveat).
2. I don't really agree with the order precedence for what credentials are used to establish a connection.

Going to re-enable it (see if what is implemented actually works) and change the precedence.

[2018-08-03 15:33] dvonthenen commented on #6
PR: https://github.com/kubernetes/cloud-provider-vsphere/pull/33

[2018-08-06 15:06] #10 closed

[2018-08-06 15:10] #6 closed

[2018-08-06 16:03] frapposelli commented on #9
/assign @figo

[2018-08-07 13:28] frapposelli opened #34 "Implement unit tests for pkg/cloudprovider/vsphere"
We need unit tests for the cloud provider code to ensure we do not introduce breaking changes.

Currently `pkg/cloudprovider/vsphere` has no unit tests, we should implement an initial set of unit tests for the package.

These tests should be part of the `unit` Makefile target that is automatically run as part of the `test` target, which in turn is run by our CI job.

/kind feature

[2018-08-07 13:32] frapposelli commented on #34
/help-wanted

[2018-08-07 13:32] frapposelli commented on #34
/help

[2018-08-07 13:47] frapposelli opened #35 "Use a better property for reconciliation between nodes and VMs"
The current in-tree provider code assumes that the CCM code is running on every node of the cluster and uses the VM UUID (fetched locally from `/sys/class/dmi/id/product_serial`) to perform reconciliation between the kubernetes node and its underlying VM.

With the out-of-tree provider, that assumption is not true anymore and the current code uses DNS names to perform reconciliation between node a

[2018-08-07 16:00] frapposelli opened #36 "Port Zones support to out-of-tree CCM"
Zones support is currently under review in the in-tree provider and will most likely be included in the 1.12 release (ref. kubernetes/kubernetes#66795).

This issue tracks the porting of the feature over to the out-of-tree CCM hosted in this repo.

/kind feature

[2018-08-07 16:04] frapposelli commented on #36
/help

[2018-08-08 14:29] frapposelli opened #37 "Implement E2E tests using vcsim"
We need end-to-end tests for the cloud provider code to provide functional testing against a real vSphere API endpoint.

Currently the CCM has no E2E tests, we should implement an initial set of E2E tests for it, these tests should be part of a new Makefile target that will automatically run as part of a new CI job.

- [ ] Implement E2E tests using vcsim
- [ ] Create `Makefile` target for E2E test

[2018-08-08 14:29] frapposelli commented on #37
/help

[2018-08-08 15:56] frapposelli opened #38 "Run conformance test for every patch version of Kubernetes and push results to testgrid"
As outlined in [KEP0018](https://github.com/kubernetes/community/blob/master/keps/sig-cloud-provider/0018-testgrid-conformance-e2e.md), SIG Cloud Provider is asking that every Kubernetes cloud provider reports conformance test results for every patch version of Kubernetes at the minimum. Running conformance tests against master and on pre-release versions are highly encouraged but will not be a re

[2018-08-08 15:56] frapposelli commented on #38
/help

/cc @akutz FYI

[2018-08-08 16:09] frapposelli commented on #34
@akutz FYI

[2018-08-08 16:10] frapposelli commented on #37
FYI @akutz

[2018-08-08 19:14] dvonthenen commented on #34
Currently working on this issue... just posted this so I can get notified when someone else posts on it 😄

[2018-08-08 20:05] dougm commented on #34
A few pointers to get started:

https://github.com/vmware/govmomi/tree/master/vcsim

https://godoc.org/github.com/vmware/govmomi/simulator#example-VPX

There are existing tests in-tree, some can run against real vCenter or vcsim via: https://github.com/kubernetes/kubernetes/blob/652cebcba54a88d30d631e6bab1d829d01e0bf1d/pkg/cloudprovider/providers/vsphere/vsphere_test.go#L151

A few others in vclib

[2018-08-08 20:13] dvonthenen commented on #34
Thanks for the info!

[2018-08-09 18:15] frapposelli commented on #34
/assign @dvonthenen

🎉

[2018-08-10 19:40] frapposelli commented on #38
/assign @akutz

:tada:

[2018-08-16 16:24] frapposelli opened #40 "Investigate using Bazel as build/test tool"
[Bazel](https://bazel.io) is used by Kubernetes as build tool, would be nice to understand pro/cons of adopting it vs. using `make`.

The outcome of this issue should be a document or a comment on this issue detailing pro/cons and potentially reaching a consensus on the path forward.

/kind feature

[2018-08-16 16:35] dvonthenen commented on #34
Submitted PR https://github.com/kubernetes/cloud-provider-vsphere/pull/39

[2018-08-16 16:37] #34 closed

[2018-08-17 12:27] embano1 opened #41 "Merge and improve the documentation of the cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind improvement

**What happened**:
Currently, the ownerhship and status of the in-tree cloud provider documentation is unclear. Also, it ties the cloud provider to the storage related Project "Hatchway" (https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/), where a separation of concerns is perhaps better.

Going forward with bot

[2018-08-17 15:13] frapposelli commented on #11
@dvonthenen is tackling this refactor as part of #35

[2018-08-17 20:26] dvonthenen commented on #11
yup! the intersection between the two is a lot. took what you had as a base and working on it. I should have this early next week.

[2018-08-17 20:33] embano1 commented on #36
// For the case of external cloud providers, use GetZoneByProviderID or GetZoneByNodeName since GetZone
	// can no longer be called from the kubelets.
https://github.com/kubernetes/kubernetes/blob/de1656abbb5ce07bbc5dc38332ad3602c0d95396/pkg/cloudprovider/cloud.go#L205

This is not implemented via the new in-tree zones support and thus has to be added when porting VCP Zones.
https://github.com/kub

[2018-08-21 06:11] stantonxu commented on #40
Some good reference from official website,
https://bazel.build/faq.html#what-is-special-about-bazel
https://bazel.build/faq.html#what-is-bazel-best-at
https://bazel.build/faq.html#what-should-i-not-use-bazel-for

[2018-08-21 21:08] frapposelli commented on #9
/assign

[2018-08-22 13:53] embano1 commented on #36
A new issue we're working on in the in-tree cloud provider for tracking purposes here: https://github.com/kubernetes/kubernetes/issues/67703

[2018-08-22 14:54] frapposelli commented on #11
/assign @dvonthenen

[2018-08-22 16:11] frapposelli commented on #37
/assign @akutz @figo

[2018-08-22 20:10] dvonthenen commented on #35
Submitted PR: https://github.com/kubernetes/cloud-provider-vsphere/pull/43

[2018-08-22 20:10] dvonthenen commented on #11
Submitted PR: https://github.com/kubernetes/cloud-provider-vsphere/pull/43

[2018-08-23 00:04] #11 closed

[2018-09-04 09:35] frapposelli commented on #35
closing as this was fixed by #43

[2018-09-04 09:35] #35 closed

[2018-09-04 16:38] fanzhangio commented on #15
vcpctl might also need to implement session login/logout as well ?
@frapposelli @dougm

[2018-09-04 19:13] #15 closed

[2018-09-11 10:24] fanzhangio opened #47 "Add tests to vcpctl"
Tests are missing in current vcpctl at this moment. Tests need to cover functionality in `pkg/cli` package.

It also needs to investigate how to implement E2E tests for vcpctl.

[2018-09-11 10:28] fanzhangio opened #48 "Add generating certs (key-pair) in vcpctl for provisioning CCM"
`vcpctl` requires user to provide certificate by `--cert` flag in command line. There needs to add an option feature to generate key-pairs

[2018-09-11 10:28] fanzhangio commented on #48
/assign

[2018-09-11 22:59] figo commented on #38
/assign

[2018-09-11 23:15] figo commented on #38
we are setting up CI job to run k8s conformance test suite with CCM vSphere, the workflow is like below:
[code]
It have not been finalized yet, but an example of CI container is available at:
https://github.com/figo/k8s-conformance-ci

[2018-09-12 16:07] clintkitson commented on #41
/help wanted

[2018-09-12 16:08] dougm commented on #41
/help

[2018-09-12 16:12] clintkitson commented on #38
bump @akutz

[2018-09-12 17:40] dougm commented on #36
Updates from in-tree that will apply here:

- Finalized the govmomi tags API: https://github.com/kubernetes/kubernetes/pull/67722

- Added tags API support to vcsim and VCP Zones tests against it: https://github.com/kubernetes/kubernetes/pull/67741

- Added support for tagging any level in the hierarchy:  https://github.com/kubernetes/kubernetes/pull/67787

Currently in progress, SSO support for v

[2018-09-19 15:55] frapposelli opened #52 "Add documentation for vcpctl"
Write user-facing documentation for `vcpctl`, as a minimum:

- Describe its functions
- Walk the user through a new configuration from start to finish

/kind documentation
/assign @fanzhangio

[2018-09-19 15:57] frapposelli commented on #8
The images will live on GCR, a GCP project is being provisioned.

[2018-09-19 16:16] frapposelli commented on #41
/assign @akutz

[2018-09-19 16:20] frapposelli opened #53 "Explore the creation of a Helm chart for deploying CCM"
The CCM could potentially be deployed through Helm for more flexibility, explore the creation of a Helm chart for it.

/kind feature
/assign @dvonthenen

[2018-09-20 08:30] frapposelli opened #55 "Return descriptive vm size when calling InstanceType()"
Currently when calling `InstanceType()` we simply return `vsphere-vm`, this does not help the user in identifying the type of VM that the k8s node is running on.

As vSphere doesn't have t-shirt size instances, we should come up with a meaningful expression of the vm size to be reported as string.

Some ideas (assuming a VM with 4 vCPU and 8GB of RAM):

- `vsphere.4c8192m`
- `vm-4cpu8192mem`
- `vm

[2018-09-20 08:31] frapposelli commented on #55
/assign

[2018-09-20 17:47] dvonthenen commented on #53
Will be looking at this shortly.

[2018-09-24 17:05] frapposelli opened #60 "Standardize and enforce a Go version through the repo"
Create a file with the version of Go to be used when building artifacts from this repo.

The file should be used as source of truth in Makefile and across all the scripts created, they should enforce the version contained in the file.

/assign @akutz

[2018-09-25 16:10] fanzhangio commented on #48
There are four Solution User Certificates:
- machine
- vpxd
- vpxd-extension
- vsphere-webclient

To generate the cert key-pair for vcpctl, the process is that:
1) Generate `machine.csr` and `machine.key` and store locally. Note: VMCA requires that the certificate have a valid date of at least 24 hours prior
2) Provide the preceding csr to CA to generate a solution user cert and name the files as

[2018-09-25 19:44] dougm commented on #48
We don't want to use the existing solution user certs.  vCenter doesn't allow multiple solution users to use the same cert anyhow.

govc has some code to generate a new key pair: https://github.com/vmware/govmomi/blob/2eb1d11bc266cc2b0f1f5477ed2dec6ffdcaa5b0/govc/extension/setcert.go#L84

But is only meant for use in tests at the moment, such as: https://github.com/vmware/govmomi/blob/2eb1d11bc266

[2018-09-25 22:38] fanzhangio opened #64 "Bug: gopkg.toml should be updated with dependencies"
**BUG REPORT**:
Some commits imported packages which not updated in Gopkg.toml. It will cause compile error in local dev env.  So, it would be better for updating the Gopkg.toml along with each PR commit.

**What happened**:
For example:
Gopkg.toml only contains minimal dependencies, like `k8s.io/api`, `k8s.io/apimachinery`, `k8s.io/client-go`, `k8s.io/kubernetes`, etc.

New added dependencies are

[2018-09-26 14:51] #52 closed

[2018-09-26 15:53] frapposelli commented on #8
Fixed by #61

[2018-09-26 15:53] #8 closed

[2018-09-26 16:14] #38 closed

[2018-10-08 22:02] dvonthenen commented on #53
Submitted Helm to the OSS list. Dev and test on this are complete. Just waiting for OSS sign off to clear before submitting the PR.

[2018-10-08 22:09] dvonthenen commented on #55
This should be fairly easy to do since we are already pulling the guest info for NodeManager.

I think the following string should be very easy to parse:
vsphere-vm.cpu-4.mem-8gb.os-rhel

Making the format: key-value.key-value.key-value (etc, etc) allows for a generic key/value format in which order doesn't matter.

[2018-10-09 06:38] frapposelli commented on #53
thanks @dvonthenen !

[2018-10-09 06:39] frapposelli commented on #64
/assign @fanzhangio

[2018-10-09 17:35] codenrhoden opened #73 "csi: add plugin scaffold"
Add scaffold for CSI plugin that gives us something to start building and using for CI. This will be a no-op plugin first, with each method just being "not implemented", but allows other efforts to begin in parallel.

[2018-10-09 17:35] codenrhoden opened #74 "csi: add CI for plugin using vcsim"
Want to be able to run tests on the CSI plugin on a local machine using only vcsim. This requires updates to vcsim as well, to support FCD.

[2018-10-09 17:36] codenrhoden opened #75 "csi: Add e2e tests for plugin that use VMC"
The goal here is have a set of tests that can run on VMC infrastructure that exercises E2E functionality of the CSI plugin.

To this end, the following tasks need to be completed:

- [ ] Add support to [sk8](https://github.com/vmware/simple-k8s-test-env) for deploying the CSI plugin
- [ ] Determine how to build an `e2e.test` binary from tests housed in this repo that use the existing K8s testing f

[2018-10-09 17:36] codenrhoden opened #76 "csi: push plugin builds to GCR automatically."
Just as is done for the vSphere CCM, want to have new container images of the CSI plugin pushed to GCR automatically as part of CI.

[2018-10-09 17:37] codenrhoden opened #77 "csi: support for storage vMotion and SDRS"

[2018-10-09 17:37] codenrhoden opened #78 "csi: support for datastore cluster(s)"
Current in-tree solution does not support datastore clusters, only accessing a specific datastore.

[2018-10-09 17:38] codenrhoden opened #79 "csi: support for zone-local, non-shared datastores"

[2018-10-09 17:38] codenrhoden opened #80 "csi: block volume support"

[2018-10-09 17:38] codenrhoden opened #81 "csi: automatically promote/register existing virtual disk manager volumes to FCD"
In an upgrade scenario from in-tree to CSI, there may be existing volumes in use that were controlled by virtual disk manager. We want to promote these volumes by registering them as an FCD, which there is an API for.

[2018-10-10 15:44] frapposelli opened #83 "Explore load balancer support on VMC"
vSphere does not come with a load balancer facility out of the box, but when running in VMC (a.k.a. VMware on AWS) we have access to the ELB service provided by AWS.

This issue should track an exploratory effort to scope the feasibility and the work needed to bring support for ELB in `cloud-provider-vsphere`.

/kind feature
/assign @akutz

[2018-10-16 14:05] dvonthenen commented on #53
OSS Project contribution approved:
https://osstp.vmware.com/oss/#/upstreamcontrib/project/1255745

PR for Initial Release of Chart:
https://github.com/helm/charts/pull/8508

[2018-10-17 15:39] codenrhoden opened #86 "csi: design plugin to support multiple APIs"
When writing the CSI plugin, we need to make sure we can support a choice of backend APIs. The API can be chosen via config flag/var. We start by implementing FCD, but there may future APIs and it would nice to only have on official VMware plugin. Or we may need to add support for something older, like virtual disk manager. Good to keep our options open.

[2018-10-17 23:25] akutz opened #87 "Node resolution fails when other VMs have same VM-tools-reported guest host FQDNs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The CCM fails during node look up when a VM is cloned, even with a new UUID, or when VMs have the same names. I’ve seen this occur from templates and OVFs. Most recently the CCM failed outright when I exported a VM as an OVF, imported that OVF as a new VM, and then stood up K8s on the new VM. Until I removed the original V

[2018-10-18 14:01] dvonthenen commented on #87
Hi @akutz you are correct that it is due to the FQDN. It is my understanding that the node names (aka the FQDN) must be unique... The cloud provider interface has functions for both ByExternalId and ByName. One issue is that we don't have any influence on which of those two functions are called and they are definitely both being used/called. As an example:
NodeAddresses(ctx context.Context, nodeNa

[2018-10-18 21:15] dvonthenen commented on #87
Yea, I took a look at the interface and the implementation again and there isn't anything that can be done to fix it. I was looking for possibly getting around it some how... The interface just simply requires that the node's FQDN be unique. But yea... you correctly identified the issue in the cloud interface, they use the node name to come up with the ExternalID which we selected to use the BIOS

[2018-10-18 21:19] akutz commented on #87
Hi @dvonthenen,

Ugh, but at the same time, I'm glad you were able to corroborate my findings. I wonder, what if we add a config property to the CCM so that the CCM is able to reduce the scope of its queries to a specific folder or RP?

[2018-10-19 11:10] neolit123 commented on #87
this is true.

[2018-10-19 14:10] dvonthenen commented on #87
@akutz and I had discussed this offline and it's one of those "it is what it is" kinda things. Will suggest an interface change when the interface gets reworked. That change should be something like kubernetes calls a cloud provider API passing in the entire NodeObject to a function called HowDoYouWantToUniquelyIdentifyMe(NodeObject) and then each provider can return the ID string and that string

[2018-10-22 19:10] #73 closed

[2018-10-23 16:09] dougm commented on #78
Starting with support for placement (https://github.com/vmware/govmomi/issues/740)

[2018-10-23 19:36] codenrhoden opened #89 "csi: read same config from file as is used with cloud provider"
When the config map is mounted to the container running the CSI plugin, the plugin should be capable of reading this file. This will allow the same config map to be used for the cloud provider and for CSI.

Since this is just a k/v flat file in the end, this does not make reading that config file K8s specific.

As much as we can, we want to be able to configure the plugin with env vars, but more a

[2018-10-24 18:50] #86 closed

[2018-10-25 18:30] embano1 commented on #83
This exploration could be used to push [VCP zones phase 2 implementation](https://github.com/kubernetes/kubernetes/issues/64021) forward which is dealing with stretched clusters. We have some thoughts on how to address it, but non of it is ideal as all of the have some drawbacks when it comes to node label drift.

Subscribing here to follow the conversation.

[2018-10-25 20:44] dvonthenen commented on #89
PR submitted
https://github.com/kubernetes/cloud-provider-vsphere/pull/91

[2018-10-31 20:13] dougm commented on #79
See also: https://github.com/kubernetes/kubernetes/issues/67703

[2018-11-06 10:56] #89 closed

[2018-11-12 17:57] dougm commented on #78
Other than placement, we'll need to have a `DatastoreCluster` config option or add support to treat existing `Datastore` config option as a cluster.  cc @dvonthenen

[2018-11-12 18:32] dvonthenen commented on #78
Yep, I have another PR to follow the current one open. I will tackle this when I remove the network section.

[2018-11-28 00:14] codenrhoden opened #104 "csi: Implement volume create/delete"
As part of implementing CSI spec functionality, first step is adding volume create and delete.

Right now this is simplistic, as it just goes to the identified datastore, rather than a datastore cluster.

[2018-11-28 00:16] codenrhoden opened #105 "csi: implement Controller publish/unpublish"
As part of implementing CSI spec, add capability for Controller{Publish,Unpublish}. This functionality reaches out the vCenter and attaches/detaches the volume to the requested node.

[2018-11-28 00:18] codenrhoden opened #106 "csi: Implement Node stage/unstage"
Implement Node{Stage,Unstage}.

This operation mounts and unmounts the attached volume to a plugin-specific mountpoint, but does not expost the volume to a workload (pod, container) yet.

[2018-11-28 00:18] codenrhoden opened #107 "csi: Implement Node Publish/Unpublish"
Implement Node{Publish,Unpublish}Volume.

This API bind-mounts the given volume from the staged location to the workload location.

[2018-11-28 20:06] codenrhoden commented on #76
Closed with #103

[2018-11-28 20:06] #76 closed

[2018-12-07 02:32] #78 closed

[2018-12-07 03:18] dvonthenen commented on #104
I think we can close based on this PR https://github.com/kubernetes/cloud-provider-vsphere/pull/110

[2018-12-07 05:16] codenrhoden opened #115 "csi: should /etc/cloud/vsphere.conf be required?"
While testing CSI, I came across this and wanted to capture it before I forgot.

When starting the CSI plugin on a new node, I get an error:
[code]

I was expecting to be able to set all the needed parameters via env var for my simple case, but if the referenced config file is not present, the plugin does not start up. Furthermore, when looking at the code [here](https://github.com/kubernetes/clou

[2018-12-07 19:22] #104 closed

[2018-12-07 21:59] #106 closed

[2018-12-08 00:13] #107 closed

[2018-12-19 15:33] frapposelli commented on #40
/close

[2018-12-19 15:33] #40 closed

[2018-12-25 19:32] #29 closed

[2019-01-03 16:37] dvonthenen commented on #115
I believe this was addressed in the change made in this PR: https://github.com/kubernetes/cloud-provider-vsphere/pull/112/

[2019-01-10 16:16] frapposelli commented on #36
/remove-lifecycle stale
/assign @dvonthenen

[2019-01-10 19:21] dvonthenen commented on #36
Will be working on this because I am looking at multi-VC/DC support in the CSI implementation.

[2019-01-14 12:56] shahbour opened #128 "Move from intree to out of tree"
Hello

I am trying to move vsphere from intree to out of tree but when checking the [docs](https://github.com/kubernetes/cloud-provider-vsphere/tree/master/docs) I see that we can install `deploying_cloud_provider_vsphere_with_rbac.md` and  `deploying_csi_vsphere_with_rbac.md` , what is the differnece between them and should i install them both ?

Thanks

[2019-01-15 08:07] shahbour commented on #128
hello

I did try to configure the cloud provider but it did not work. I do have three masters and when starting kubelet with `--cloud-provider=external` it is not tainting it with `node.cloudprovider.kubernetes.io/uninitialized`

I did made sure it is run with the external flag

[code]

Checking the log also shows an incorrect username and password. I did double check it .

[code]

[2019-01-17 18:21] frapposelli commented on #41
/remove-lifecycle rotten
/assign @codenrhoden

[2019-01-22 09:15] Dr-Dream opened #129 "Failed to run CSI with incompatible version, csi-controller gone into unrecoverable state"
BUG REPORT

/kind bug

**What happened**:
Instaled k8s v1.13.2.
cloud-provider=external.
vsphere.conf with secrets.

Installed cloud-controller-manager according docs
Works ok.

Installed csi according docs.
Started.

So far so good, added storage class 'vsphere-gold' and created pvc.
[code]

got error
kubectl --kubeconfig admin.conf -n kube-system logs -f vsphere-csi-controller-0 vsphere-csi-cont

[2019-01-22 16:54] frapposelli commented on #36
/remove-help

[2019-01-22 17:06] dvonthenen commented on #36
Finished implementation... Currently testing.

[2019-01-22 21:41] codenrhoden commented on #74
/remove-lifecycle stale

[2019-01-22 21:42] codenrhoden commented on #77
/remove-lifecycle stale

[2019-01-22 21:42] codenrhoden commented on #80
/remove-lifecycle stale

[2019-01-22 21:43] codenrhoden commented on #81
/remove-lifecycle stale

[2019-01-22 22:05] frapposelli commented on #129
/assign @codenrhoden @dvonthenen

[2019-01-22 22:16] dvonthenen commented on #129
Hi @Dr-Dream

From your issue description, it sounds like you are running an ESX/vCenter version 5.5. Can you please confirm? If so, The external CCM and CSI implementations only support 6.5 or higher.

[2019-01-23 16:38] dvonthenen commented on #36
PR https://github.com/kubernetes/cloud-provider-vsphere/pull/130

[2019-01-23 18:58] sflxn commented on #83
We're going to need this AND a general solution outside of VMC for cluster api, v1alpha1.  If I'm not mistaken, HA support (as implemented in kubeadm) requires a load balancer.

[2019-01-23 22:47] dvonthenen commented on #128
Hi @shahbour

I noticed that behavior as well while recently testing the CCM's zone support. The PR https://github.com/kubernetes/cloud-provider-vsphere/pull/130 is currently pending (to be merged real soon), but I have updated the documentation to that effect. The code that is supposed to set the taint when setting to external lives in k/k and not apart of the CCM. For now, there is at least a wo

[2019-01-24 21:32] Dr-Dream commented on #129
Ok. Yes. Clear. Thanks.

issue was about that
1. I don't see what was a problem exactly, just a null pointer exception.
2. That csi-controller failed and didn't recovered after failure. So failure is permanent, because i need to recreate controller pod to make csi controller alive finally. Pod gone in infinite loop restarting csi-controller container.

I have a issue with in-tree provider on 5.5 d

[2019-01-30 17:00] divyenpatel opened #134 "`kubectl get pv` is not listing dynamically created PVs by vSphere CSI Driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Dynamically provisioned persistence volume using vSphere CSI Driver does not get listed with `kubectl get pv` command.

[code]

[code]

Strange thing is `Kubectl describe pv` is listing the PV.

[code]

If I specify PV name with `kubectl get pv pvc-b4d9f41b-2441-11e9-9c0e-005056a43de5`, I can see PV is getting listed.

[code]

**Wha

[2019-01-30 18:25] divyenpatel opened #135 "Dynamically provisioned Persistence Volume is not getting bound with its PV Claim."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Dynamically provisioned Persistence Volume is not getting bound with its PV Claim.

Storage Class
---------------
[code]

Persistence Volume Claim
----------------------------
[code]

[code]

PV Claim and PV remains in the Pending State and does not get bound.
------------------------------------------------------------------------

[2019-02-05 17:50] dvonthenen commented on #134
I just ran the commands using the latest (which is code changes that include this PR https://github.com/kubernetes/cloud-provider-vsphere/pull/136) and I don't see the problem. There were some updates to the YAML that affected permissions which could account for this. Recommend re-verifying after the PR gets merged.

[code]

[2019-02-05 18:00] dvonthenen commented on #134
/assign dvonthenen

[2019-02-05 19:59] dvonthenen commented on #128
Just for some validation, I rebooted a node with the cloud provider set to `external`, I totally would have thought the node (effectively simulating a crash/restart) would taint on start up... but it doesn't.

Recommend manually tainting as in the docs. A bug can be filed in the k/k repo. I think we can close this since we don't own the code that is suppose to make that process happen.

[2019-02-05 20:00] dvonthenen commented on #115
/close

[2019-02-05 20:00] #115 closed

[2019-02-05 20:02] dvonthenen commented on #128
/close

[2019-02-05 20:02] #128 closed

[2019-02-05 20:35] andrewsykim opened #137 "Investigate using k8s.io/klog instead of glog"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
We should investigate using k8s.io/klog instead of glog. `klog` is a fork of `glog` so we should validate that there are no breaking changes in the way we use glog if we were to switch.

[2019-02-05 22:37] dvonthenen commented on #135
Taking a look at this...

/assign dvonthenen

[2019-02-06 14:53] dvonthenen opened #138 "Only Return/Report IPs Bound to a VMware vNIC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Consider using this method, which only returns IP address that have a corresponding vSphere virtual NIC device: https://github.com/vmware/govmomi/blob/e560c7bb1e709826a897c9da4baad0944c2cdda0/object/virtual_machine.go#L254-L259

Also see discussion in: [kubernetes/kubernetes#73721](https://github.com/kubernetes/kuberne

[2019-02-06 14:58] dvonthenen commented on #137
There was also small additional discussion about consolidating to use a single logger. Currently using glog(->klog) and logrus. I know logrus is used in the gocsi framework/skeleton code that was created... so not entirely sure how feasible this is.

[2019-02-06 18:50] dvonthenen opened #139 "csi: Check for min-VC and min-Cluster support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The CSI driver currently only supports 6.5 and higher.

**What you expected to happen**:
Give a warning to the user if the VC or the cluster attached to a zone is pre-6.5 and produce an error. The number of configurations that can be created are infinite... so attempt to detect easy/simple unsupported configurations.

[2019-02-06 18:55] dvonthenen commented on #129
@Dr-Dream Yea, the problem is the APIs and objects don't exist against the endpoint because the version is older. I opened the following issue to address this:
https://github.com/kubernetes/cloud-provider-vsphere/issues/139

If this will meet your needs, I will close this issue and have the other one track the feature.

[2019-02-06 21:30] frapposelli commented on #37
/remove-lifecycle rotten

[2019-02-06 21:30] frapposelli commented on #87
/remove-lifecycle stale

[2019-02-07 17:36] dvonthenen commented on #135
Tested using the latest PR https://github.com/kubernetes/cloud-provider-vsphere/pull/136 and wasn't able to find any issues. It could be the same permissions related issue that was updated in the YAML.
[code]

[2019-02-07 20:50] dvonthenen commented on #129
We have also added a support matrix in the CSI documentation which states that all versions of vSphere prior to 6.5 is unsupported by the external CSI driver and that the in-tree cloud provider should be used.

https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/deploying_csi_vsphere_with_rbac.md

[2019-02-11 18:31] dvonthenen commented on #137
/assign dvonthenen

[2019-02-11 18:32] dvonthenen commented on #137
Implemented and currently testing...

[2019-02-12 16:50] dvonthenen commented on #139
/assign dvonthenen

[2019-02-12 20:23] dvonthenen commented on #137
PR was merged
/close

[2019-02-12 20:23] #137 closed

[2019-02-13 15:30] dvonthenen commented on #139
PR merged
/close

[2019-02-13 15:30] #139 closed

[2019-02-13 15:31] dvonthenen commented on #129
This PR https://github.com/kubernetes/cloud-provider-vsphere/pull/141 was merged which checks for an appropriate VC version. Throws an error if the VC version is pre-6.5 and the controller shutdowns.

/close

[2019-02-13 15:31] #129 closed

[2019-02-13 15:34] dvonthenen commented on #134
PR https://github.com/kubernetes/cloud-provider-vsphere/pull/136 was merged a few days ago. Please give it a try and see if it fixes your issue. Note the instructions below.
1) reinstall the CSI driver by grabbing/updating the YAML (fixed permissions) in its deployment
2) the YAML deploys `v0.1.1` of the driver… so you will need to change the image to `latest` within the YAML in 2 places until a n

[2019-02-13 15:34] dvonthenen commented on #135
PR https://github.com/kubernetes/cloud-provider-vsphere/pull/136 was merged a few days ago. Please give it a try and see if it fixes your issue. Note the instructions below.
1) reinstall the CSI driver by grabbing/updating the YAML (fixed permissions) in its deployment
2) the YAML deploys `v0.1.1` of the driver… so you will need to change the image to `latest` within the YAML in 2 places until a n

[2019-02-13 15:55] frapposelli commented on #53
@dvonthenen is this done? what's missing?

/remove-lifecycle rotten

[2019-02-13 16:08] dvonthenen commented on #53
I got tied up with CSI work recently... I need to take this to Charts Office Hours next week (meets on Tues at 9am) and see what the hold up is getting this merged. The chart is complete. Will probably bump the version on it just to use the latest tagged image even though the last 2 tags are functionally identical for the CCM.

[2019-02-13 16:13] frapposelli commented on #53
cool! thanks!

[2019-02-13 17:02] codenrhoden commented on #79
/close
This was implemented by #136

[2019-02-13 17:02] #79 closed

[2019-02-13 17:12] frapposelli commented on #60
/remove-lifecycle rotten

[2019-02-13 17:12] frapposelli commented on #55
/remove-lifecycle rotten

[2019-02-13 17:12] frapposelli commented on #55
/assign

[2019-02-13 17:13] frapposelli commented on #9
/remove-lifecycle rotte

[2019-02-13 17:13] frapposelli commented on #9
/remove-lifecycle rotten

[2019-02-13 17:14] frapposelli commented on #83
/remove-lifecycle stale

[2019-02-13 17:18] dvonthenen commented on #36
/close

[2019-02-13 17:18] #36 closed

[2019-02-13 23:59] akutz opened #142 "CCM >v0.1.0 fails on Photon2 OS"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Running CCM:latest on Photon2 OS results in a panic.

**What you expected to happen**:
No panic.

**How to reproduce it (as minimally and precisely as possible)**:
Use CCM:latest on Photon2 OS.

**Anything else we need to know?**:
When discovering node information, the CCM on Photon2 OS panics:

[code]

I think the issue m

[2019-02-14 17:24] dvonthenen commented on #142
I did a fresh install of photon 2 and 3 and it looks like Photon 2 behaves differently when reporting the UUID. Photon 3 conforms to how RHEL, CentOS, Ubuntu, and etc reports the UUID. Looking into how I can go about supporting this.

[2019-02-15 17:47] frapposelli commented on #142
this should be fixed by #143

@akutz can you verify?

[2019-02-15 17:59] frapposelli opened #144 "Project Health improvements for 2019 H1"
This issue tracks improvements to the health of the vSphere Cloud Provider / CSI project. These improvements are paramount to the success of this project and to foster a healthy community of contributors.

Areas of improvements for 2019 H1:

* [ ]  Perform bi-weekly issue grooming instead of monthly.
* [ ]  Create a Developer guide to enable new contributors.
* [ ]  Work to get more PRs and partic

[2019-02-15 23:28] divyenpatel commented on #135
Issue is resolved after removing `Initializers` from `enable-admission-plugins` flag on API server and removing `initializerconfiguration.admissionregistration.k8s.io/pvlabel.kubernetes.io`.

I was following instruction mentioned below

- https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager
- https://kubernetes.io/docs/reference/access-auth

[2019-02-15 23:58] divyenpatel commented on #135
Also made sure pod is up and running using the volume provisioned using vSpehre CSI driver.

[code]

[2019-02-15 23:58] #135 closed

[2019-02-16 00:00] divyenpatel commented on #134
After applying fix mentioned at https://github.com/kubernetes/cloud-provider-vsphere/issues/135#issuecomment-464245608

I am able to retrive pv and pvc using `kubectl get`

[code]

[2019-02-16 00:00] #134 closed

[2019-02-19 17:40] frapposelli opened #146 "Provide documentation on how to run CCM and CSI with Kubeadm"
As `kubeadm` is the standard way to deploy Kubernetes on operating systems, we should provide instructions on how to deploy CCM and CSI when using it.

/kind feature

[2019-02-22 17:33] dvonthenen commented on #142
Verbal verify in slack

/close

[2019-02-22 17:33] #142 closed

[2019-02-27 16:19] dvonthenen commented on #81
Will start taking a look at this and see how we can approach this.
/assign

[2019-03-05 01:55] akutz opened #152 "Please update Travis-CI env vars / fixes Aggregation layer e2e conformance test"
Hi @frapposelli,

Please update the following Travis-CI environment variables:

| Name | Value |
|-------|------|
| `SK8_URL` | `https://raw.githubusercontent.com/vmware/simple-k8s-test-env/v0.2.1/sk8.sh` |
| `E2E_IMAGE` | `gcr.io/kubernetes-conformance-testing/sk8e2e:v20190304-v0.2.1-1-g6d7e0f0` |

The new script and image support the Kubernetes aggregation layer, thereby fixing the broken e2e co

[2019-03-05 07:49] frapposelli commented on #152
done!

[2019-03-05 07:49] #152 closed

[2019-03-06 16:15] frapposelli commented on #146
/help

[2019-03-06 16:15] frapposelli commented on #138
/help

[2019-03-06 16:46] dvonthenen commented on #138
If no one steps up to work on this, I will get to it right after I work on the upgrade path from in-tree to external.

If someone does decide to step up, I would heavily recommend *against* doing any kind of MAC address filtering. I would recommend implementing using the `guest.net` info property for each VM and only report IP address where the `deviceConfigId` is *not* equal to `-1` which basical

[2019-03-06 17:12] andrewsykim commented on #146
ref: https://github.com/kubernetes/cloud-provider/issues/9

[2019-03-06 17:16] frapposelli commented on #80
/assign @codenrhoden

[2019-03-06 17:16] frapposelli commented on #75
/assign @codenrhoden

[2019-03-06 17:20] andrewsykim commented on #41
ref https://github.com/kubernetes/cloud-provider/issues/9

[2019-03-06 17:27] frapposelli commented on #41
@cantbewong can you help with some links to the docs for in-tree that you authored?

[2019-03-06 17:33] frapposelli commented on #9
Dup of #41

[2019-03-06 17:33] #9 closed

[2019-03-06 17:39] andrewsykim commented on #41
Some background information on this from SIG Cloud Provider:

* Ideally we want all providers following a set template so we can easily pull all the docs into a centralized page (something like https://kubernetes.io/docs/setup/pick-right-solution/)
* There's a KEP to standardize on provider docs which is still a WIP but I think it would still be beneficial to start implementing it based on the pro

[2019-03-06 18:57] andrewsykim commented on #146
/assign

[2019-03-06 18:57] andrewsykim commented on #41
/assign

[2019-03-06 19:52] clintkitson commented on #81
Hello team,

I would like to focus this issue on investigation. I am not concerned about a migration capability being in place right now. Lets make sure we understand it, and the operational aspects of the CSI driver are setup to work if migration is implemented.

[2019-03-06 21:22] dvonthenen commented on #37
Just leaving a comment based on the discussion in the monthly cloud-provider-vsphere meeting. With the recent merge of the following PRs (https://github.com/kubernetes/cloud-provider-vsphere/pull/147 and https://github.com/kubernetes/cloud-provider-vsphere/pull/149) combined with the existing go tests in place, the vcsim e2e tests are looking pretty good at this point. If there are additional spec

[2019-03-06 21:23] dvonthenen commented on #37
/assign

[2019-03-10 17:44] akutz opened #157 "Fix lint errors"
/kind bug

**What happened**:
The `lint` target reveal many errors/suggestions with the code:

[code]

**What you expected to happen**:
The linter should not return any suggestions.

**How to reproduce it (as minimally and precisely as possible)**:
The reproduction requires PR https://github.com/kubernetes/cloud-provider-vsphere/pull/156. The following command uses that PR on top of `master` to li

[2019-03-10 17:46] akutz opened #158 "Fix vet errors"
/kind bug

**What happened**:
The `vet` target reveal many errors/suggestions with the code:

[code]

**What you expected to happen**:
The linter should not return any suggestions.

**How to reproduce it (as minimally and precisely as possible)**:
The reproduction requires PR https://github.com/kubernetes/cloud-provider-vsphere/pull/156. The following command uses that PR on top of `master` to vet

[2019-03-10 22:20] akutz opened #160 "The test "TestGRPCServerClient" is flaky on Prow"
/kind bug
/assign @dvonthenen

**What happened**:
The test `TestGRPCServerClient` fails occasionally on Prow.

**What you expected to happen**:
For the test to not fail.

**How to reproduce it (as minimally and precisely as possible)**:
I don't know. Please see https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-cloud-provider-vsphere-test for a list of the failed tests, spec

[2019-03-11 15:29] dvonthenen commented on #160
Taking a look at it now... it's been flaky for a while. Will fix shortly.

[2019-03-11 21:54] dvonthenen commented on #160
/close

[2019-03-11 21:54] #160 closed

[2019-03-11 21:55] dvonthenen commented on #138
i can take a look at this tomorrow
/assign

[2019-03-12 16:10] #157 closed

[2019-03-12 16:10] #158 closed

[2019-03-12 18:54] dvonthenen commented on #138
/close

[2019-03-12 18:54] #138 closed

[2019-03-18 15:10] frapposelli commented on #64
closing since we moved to go module

/close

[2019-03-18 15:10] #64 closed

[2019-03-19 00:34] #55 closed

[2019-03-20 19:33] codenrhoden opened #170 "Explore splitting CSI plugin into separate repo"
/kind cleanup

We should look at whether we want to move the CSI plugin to it's own separate repo. Having it in the same repo as the CCM means they are coupled for releases, and makes versioning and tagging more complicated. We originally put CSI in here with the CCM because we followed [KEP 02](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180530-cloud-controlle

[2019-03-20 19:35] codenrhoden opened #171 "csi: update kubernetes-csi docs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind documentation

The docs at https://kubernetes-csi.github.io/docs/drivers.html are out of date re: csi-vSphere, an need to be updated to point to the right place.

[2019-03-20 19:35] codenrhoden commented on #80
/kind feature

[2019-03-26 19:12] dvonthenen commented on #77
I have working with the FCD team on issues relating to this.

/assign

[2019-03-29 21:36] saad-ali commented on #171
Create a PR https://github.com/kubernetes-csi/docs/pulls editing the https://github.com/kubernetes-csi/docs/blob/master/book/src/drivers.md file. Site will be updated as soon as that PR merges.

[2019-04-01 21:00] SandeepPissay commented on #170
I think it makes sense to have a separate repo for vSphere CSI and also the common code that CSI and CCM can use. Is there a KEP for moving csi out of the cloud-provider repo? Any progress on this issue so far?

[2019-04-01 21:32] andrewsykim commented on #170
I don't think anyone would object if you proposed a change in https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180530-cloud-controller-manager.md#implementation-detailsnotesconstraints for this. Fwiw, that KEP is a bit out-dated and needs an update :)

[2019-04-02 14:38] #80 closed

[2019-04-02 16:30] dvonthenen commented on #77
For the FCD driver in a "greenfield" deployment, the Storage vMotion (and subsequently the SDRS) functionality will work as expected. This was verified using 6.7u2 only.

It should be noted that this doesn't cover the before mentioned upgrade scenario (ie volumes created using the in-tree cloud provider to be migrated to this external CCM/CSI provider).

Question is should we claim this support on

[2019-04-02 16:32] dvonthenen commented on #81
Provided a document to stakeholders with observations relating to FCD promotion and also recommendations for an upgrade. Unless there are any objections, will close this issue out as we met the delivered objective.

[2019-04-02 16:52] codenrhoden commented on #170
@SandeepPissay No I haven't done anything so far. I was going to wait until after we tagged a 0.2.0 release for CSI, which should be coming shortly. I'll be looking into this in the next couple of weeks.

[2019-04-02 16:54] codenrhoden commented on #77
I don't think we should, no...  at least not for FCD. If something comes along later that can to it, maybe that can be revisited. I'd recommend to close this for now. Thoughts?

[2019-04-02 16:54] codenrhoden commented on #81
No objections here

[2019-04-02 17:40] dvonthenen commented on #77
Good enough for me.

/close

[2019-04-02 17:40] #77 closed

[2019-04-02 17:40] dvonthenen commented on #81
👍

/close

[2019-04-02 17:40] #81 closed

[2019-04-03 05:40] Elegant996 opened #178 "Err: No vSphere disk ID/Name found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volume failed to attach to pod after it was restarted.

**What you expected to happen**:
Volume to successfully reattach as the `PersistentVolumeClaim` and `PersistentVolume` still exist as well as the `vmdk`.

**How to reproduce it (as minimally and precisely as possible)**:
After a grace period (a day or two?), scale th

[2019-04-03 14:47] frapposelli commented on #37
based on @dvonthenen last comment and PR #155 being merged, we can

/close

this one.

[2019-04-03 14:48] #37 closed

[2019-04-03 16:25] frapposelli commented on #53
reminder: If not closed by May 1st, drop from the milestone

[2019-04-03 18:16] codenrhoden commented on #178
Hi @Elegant996, thanks for the report.

Just to clarify, you had an existing Deployment that was working as expected, then scaled it down to 0 and then back up?

And you noticed that when scaling to 0, the existing PV was not detached from the node? Just trying to get a clearer picture for when I try to recreate.

[2019-04-03 18:19] dvonthenen opened #179 "Investigate Node Affinity Scheduling"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Based in part on the work done here:
https://github.com/vmware/vsphere-affinity-scheduling-plugin

[2019-04-03 18:19] dvonthenen commented on #179
/assign

[2019-04-03 19:47] Elegant996 commented on #178
Hi @codenrhoden,

That is correct, this happens with both my Deployments and StatefulSets when scaling. The PVC and PV are still marked as bound in `kubectl`.

vCenter does not appear to detach the volumes after scaling as it no longer seems to be able to determine the associated `vmdk`. This issue appears to occur in 90% of my pods.

One StatefulSet (`replicas: 1`) survived as the CSI driver was

[2019-04-05 00:30] RaceFPV opened #180 "Attached PVC vmdks get deleted when a node is removed"
When a node is removed via the provider, there are cases where the still attached PVCs can get deleted from disk as well, causing a loss of data and the vmdk file. This then causes k8s to fail to bring up the container on a new node as the underlying PVC is gone.

This can be resolved by having the vm deleted but not deleting all of the PVC vmdk files, or by flagging the PVC vmdks to not delete wi

[2019-04-10 19:17] codenrhoden commented on #180
/assign @dvonthenen

[2019-04-10 19:17] codenrhoden commented on #170
/assign @codenrhoden

[2019-04-10 19:41] dvonthenen commented on #180
@RaceFPV Some clarification... you said "When a node is removed via the provider"... what provider are you talking about?

Trying to understand how the VM is being deleted since we don't have any functionality that deletes VMs.

[2019-04-11 06:39] LinAnt commented on #180
Drain a node.
Node says it is drained.
The VMDKs remain attached to the node.
If you delete the node the VMDKs are deleted as well, which is expected.

This issue has been present in the in tree cloud provider forever it seems like.

https://github.com/rancher/rancher/issues/15065
https://github.com/rancher/rancher/issues/18221

I think there is a KEP for 1.15 about fixing the drain command :)

[2019-04-11 14:10] dvonthenen commented on #180
This repo is for the out-of-tree or external CCM and CSI driver. I would recommend that you re-file this issue on the k/k repo so the correct people get informed of the bug.

[2019-04-19 15:41] codenrhoden commented on #171
/close

[2019-04-19 15:41] #171 closed

[2019-04-19 16:50] codenrhoden commented on #178
This issue has been migrated to the new CSI repo.

[2019-04-19 16:50] #178 closed

[2019-04-19 20:58] dvonthenen commented on #179
I have been researching this alongside my normal day-to-day work. I should have some ideas to discuss shortly.

[2019-04-24 23:20] #170 closed

[2019-05-01 18:29] codenrhoden commented on #75
Migrated issue over to new CSI repo

[2019-05-01 18:29] #75 closed

[2019-05-01 18:31] codenrhoden commented on #74
Migrated issue to new CSI repo

[2019-05-01 18:31] #74 closed

[2019-05-03 15:38] mylesagray commented on #146
/assign

[2019-05-09 00:01] d4larso opened #185 "When a Vmware node goes down, Kubernetes is unaware and PV isn't released"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

If a Vmware node with a PV crashes, is shutdown or halted, Kubernetes is unaware and doesn't release the a pod's claim (PVC)  on the PV.

**What you expected to happen**:
The PV  should become "unattached" so the node and can be picked up for use by a Pod on another node.

**How to reproduce it (as minimally and precisely

[2019-05-09 09:50] frapposelli commented on #185
/kind bug
@codenrhoden @dvonthenen PTAL

[2019-05-09 20:48] dvonthenen commented on #185
@d4larso I migrated this issue to the new CSI vSphere repo:
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/15

I am currently taking a look at this and you can follow up with me there.

/close

[2019-05-09 20:48] #185 closed

[2019-05-09 20:51] d4larso commented on #185
Thanks!

Dan

From: David vonThenen <notifications@github.com>
Reply-To: kubernetes/cloud-provider-vsphere <reply@reply.github.com>
Date: Thursday, May 9, 2019 at 1:49 PM
To: kubernetes/cloud-provider-vsphere <cloud-provider-vsphere@noreply.github.com>
Cc: Daniel Larson <DLarson@walmartlabs.com>, Mention <mention@noreply.github.com>
Subject: EXT: Re: [kubernetes/cloud-provider-vsphere] When a Vmwa

[2019-05-13 10:49] mylesagray commented on #146
I signed it

[2019-05-17 12:03] khauser opened #186 "Using VMFS instead of vSAN"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kubernetes states about a wrong VSAN datastore but what we have is a VMFS one.

`kubectl describe pvc myvolume` brings:

`Warning    ProvisioningFailed  8s (x21 over 30m)   persistentvolume-controller  Failed to provision volume with StorageClass "mystorageclass": The specified datastore: "<out_datastore>" is not a VSAN da

[2019-05-17 12:28] khauser commented on #186
Okay, I see. hostFailureToTolerate ist only supported when using vSAN

[2019-05-17 12:28] #186 closed

[2019-06-04 19:58] andrewsykim commented on #41
/remove-lifecycle stale

WIP in https://github.com/kubernetes/cloud-provider-vsphere/pull/181

[2019-06-05 22:13] smazurov commented on #83
I really do want to see if this can be addressed as either part of this provider or otherwise.

[2019-06-05 22:30] frapposelli commented on #83
/remove-lifecycle stale

[2019-06-05 22:30] frapposelli commented on #83
this is going to be important for [CAPV](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere).

[2019-06-15 20:22] rhockenbury opened #200 "Zones Support with SAML Auth"
**Is this a BUG REPORT or FEATURE REQUEST?**:

There were some recent fixes to the in-tree VCP for handling SAML auth with the zones API.  Can these fixes be integrated to out-of-tree?

Relevant Issues:
https://github.com/kubernetes/kubernetes/issues/77360

Relevant PRs:
https://github.com/kubernetes/kubernetes/pull/75515
https://github.com/kubernetes/kubernetes/pull/78137
https://github.com/kuber

[2019-06-15 20:34] rhockenbury opened #201 "Windows Node SystemUUID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

The out-of-tree VCP depends on having systemUUID set on the node object.  The systemUUID property does not get set on Windows - https://github.com/kubernetes/kubernetes/issues/75978

This may prevent the windows kubelet from starting when VCP is enabled.  Although, the vSphere CSI won't work on windows, it would be nice to be able to run the out-of-tr

[2019-06-17 22:29] EleanorRigby opened #202 "CCM failing to find node in VC"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**:
On deploying the CCM as a pod, it gives CrashLoopBackoff. The container fails to start.
from the logs, I believe CCM failed to find a node because the node name is different from a vSphere DNS name.
PKS uses a `--host-override`  when starting kubelet and changes the default hostname that CCM uses to `find_node_by_dns_

[2019-06-17 22:30] EleanorRigby commented on #202
@frodenas @yeshwantbabar

[2019-06-17 22:43] EleanorRigby commented on #202
@divyenpatel

[2019-06-18 14:22] dvonthenen commented on #202
The `--host-override` is going to be a source of issues mainly because of the wait the external cloud provider interface is defined (https://github.com/kubernetes/cloud-provider/blob/master/cloud.go#L154) which is defined like:
[code]
This function makes the VM's node/host name to UUID and from there the UUID is used to ID the VM going forward.

In that lookup process, we currently do a "best effo

[2019-06-18 14:22] dvonthenen commented on #202
/assign

[2019-06-18 15:22] dougm commented on #200
Yes indeed, these changes need to be integrated here.

[2019-06-18 15:23] dougm commented on #200
/assign

[2019-06-18 18:39] dvonthenen commented on #201
@rhockenbury As soon as that is implemented in k/k for Windows, the vSphere CCM should automatically work without any code modification.

[2019-06-18 18:59] SandeepPissay commented on #202
@dvonthenen The VM name can be changed easily in vCenter UI, the IP address could also change if the IP was assigned by DHCP. In vSphere Cloud Provider (in tree), we used the product serial of the node as the provider ID. This is unique to the VM and you can also find the VM in VC inventory based on this. I would suggest to stick to this approach so that we can reliably discover the node VM in VC

[2019-06-18 19:08] dvonthenen commented on #202
Hi @SandeepPissay We current use and prefer the product serial number, but how kubelet does the node-to-providerid lookup and therefore the behavior of the in-tree and external CCM is different. Please see my comment above. I have the code fix for this, but still waiting to verify.

Also, it was suggested that PKS use `--provider-id=vsphere://<uuid>` in order to avoid any sort of ambiguity.

[2019-06-18 19:15] frodenas commented on #202
@dvonthenen We can definitively use the `--provider-id` flag with the product serial in PKS.

[2019-06-18 21:32] dvonthenen commented on #202
PR to fix this has been tested and submitted.

[2019-06-19 17:22] dvonthenen commented on #202
PR has been merged. Should be available on latest.

/close

[2019-06-19 17:22] #202 closed

[2019-06-20 03:09] EleanorRigby opened #204 "CCM failing with Panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
CCM failed to come up with `CrashLoopBackOff`

**What you expected to happen**:
CCM should have not crashed.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy a PKS testbed.
2. Configure external cloud provider in kube-apiserver, kubelet, kube-controller-manager
3. Deploy CCM

**Anything else w

[2019-06-20 03:10] EleanorRigby commented on #204
@frodenas @yeshwantbabar

[2019-06-20 15:24] dvonthenen commented on #204
@EleanorRigby can you re-run with `--v=6` and drop the logs here

[2019-06-20 16:33] EleanorRigby commented on #204
The log with `V=6`
[code]

[2019-06-20 16:34] EleanorRigby commented on #204
Kubelet Process

[code]

[2019-06-20 16:41] dvonthenen commented on #204
Just as I thought... the provider id is in caps. Will put in a fix.

[2019-06-21 14:44] dvonthenen commented on #204
Fix was verified and merged. Closing.

/close

[2019-06-21 14:44] #204 closed

[2019-06-25 03:13] divyenpatel opened #207 "InstanceShutdownByProviderID is not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Cloud Provider vSphere does not implement `InstanceShutdownByProviderID `. This is very important for determining if Node VM is shutdown, and so volumes attached to node VM are safe to detach.

- https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/instances.go#L172
- https://github.com/kubernet

[2019-06-28 19:17] andrewsykim opened #209 "Allow IPv6 Node Addresses"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently we do a check for only IPv4 addresses when getting node addresses.
[code]

This means vNICs with v6 addresses can never be registered on a Kubernetes node. I'm not sure if the solution is to just remove that check since it may unexpectedly add v6 addresses and potentially break clusters but there should be so

[2019-06-28 19:18] andrewsykim commented on #209
cc @akutz

[2019-06-28 19:19] akutz commented on #209
Currently the Cluster API Provider for vSphere allows IPv6 addresses, but ultimately will deploy clusters that break since the cloud provider will filter out those addresses when reporting node addresses.

[2019-07-01 14:27] #207 closed

[2019-07-01 22:34] mylesagray opened #210 "Auth fails when using secret instead of username and password"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When using a secret to store creds, if the base64 string is not generated using exactly the format: `echo -n P@ssw0rd | base64` auth will fail.

I.E: if I do `echo P@ssw0rd | base64` - auth fails.

**What you expected to happen**:
Expect CCM to handle a new line at the end of the password, this will be a common stumbling b

[2019-07-01 23:01] frapposelli commented on #210
Seems like #184 can help here, we should probably move all the examples to `stringData` and call it a day.

/cc @andrewsykim @dvonthenen

[2019-07-02 02:56] dvonthenen commented on #210
We can move to `stringData` and also update CSI to do the same, but the current documentation does state to use:
[code]

Docs are here:
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/deploying_cloud_provider_vsphere_with_rbac.md

[2019-07-02 08:04] frapposelli commented on #210
@andrewsykim @mylesagray any objection in changing that across the documentation?

[2019-07-02 08:12] mylesagray commented on #210
@frapposelli with reference to changing it to stringData?

[2019-07-02 09:19] frapposelli commented on #210
@mylesagray yes, the idea is that we should only use `stringData` across all documentation and manifests provided

[2019-07-02 10:20] mylesagray commented on #210
@frapposelli that sounds good to me.

Will let @andrewsykim chime in.

[2019-07-03 14:53] frapposelli commented on #41
/close

fixed in #181

[2019-07-03 14:53] #41 closed

[2019-07-03 16:10] frapposelli commented on #179
/lifecycle frozen

[2019-07-03 16:20] frapposelli commented on #146
this is important for v1

[2019-07-03 16:27] frapposelli commented on #83
explore the possibility of creating a new provider specifically for VMC

[2019-07-03 16:28] akutz commented on #83
I *really* hate the idea of a separate provider for this. It should be easy enough to bake into the current one.

[2019-07-03 16:29] frapposelli commented on #200
important for v1 as it brings CCM on par with in-tree

[2019-07-03 16:32] frapposelli commented on #209
/assign @dvonthenen
/priority critical-urgent
/lifecycle active

[2019-07-03 16:33] frapposelli commented on #210
/priority critical-urgent

[2019-07-03 16:34] frapposelli commented on #210
This also needs to happen on the CSI side

[2019-07-03 16:34] akutz commented on #209
Please touch base with me and @andrewsykim on this. This needs to occur with some version of `KubernetesPreferredCIDR` mask used to filter non-Kubernetes IP addresses.

[2019-07-03 17:52] andrewsykim opened #212 "Update k8s.io/kubernetes dep to v1.15"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Currently, `k8s.io/kubernetes` v1.11.2 is vendored and used to build the CCM. We should update k8s.io/kubernetes to a more recent version given there have been some optimizations and bug fixes done there for the CCM controllers. With that said, there are a lot of code changes between those v1.11.2 and the latest stable version v1.15 and

[2019-07-03 17:52] andrewsykim commented on #212
cc @frapposelli @dvonthenen

[2019-07-05 11:29] qw1mb0 commented on #210
If you use the secret with stringData then the controller logs now have this error:
```E0705 11: 28: 54.261128 1 connection.go: 63] Failed to create govmomi client. err: ServerFaultCode: Cannot complete login.```

[2019-07-05 11:39] qw1mb0 opened #214 "User names cannot be used with escape characters."
/kind bug

**What happened**:
We have a user named `user\sa-DevopsProvisioner` with which we want to order disks.

**What you expected to happen**:
If you use the username in vsphere.conf:
`user = 'user\sa-DevopsProvisioner'` we get the controller error:
[code]

If you use the username
`user = 'user\\sa-DevopsProvisioner'` we get the controller error:
[code]

If you use the username
`user = "user\

[2019-07-08 14:02] dvonthenen commented on #210
@qw1mb0 If you use a k8s secret, it will always print that line once because it attempts to use the creds in the vsphere.conf file first for backwards compatibility. When it fails (because the creds don't exist in the vsphere.conf), it then attempts to grab the creds from the k8s secret. Everything should proceed normally at that point.

I just verified that the k8s secret using the `stringData` b

[2019-07-09 17:33] dvonthenen commented on #214
@qw1mb0 How were you even able to create a user account `user\sa-DevopsProvisioner` in the vCenter Server? The `\` is an invalid character in a vSphere username.

[2019-07-09 23:56] #210 closed

[2019-07-12 08:06] qw1mb0 commented on #214
In this case, it turned out that `user` is a domain, corrected the user on `sa-DevopsProvisioner@domain.example.com` and everything began to work correctly

[2019-07-12 08:06] #214 closed

[2019-07-24 04:44] rhockenbury commented on #201
Should be resolved with the 1.16 release - https://github.com/kubernetes/kubernetes/pull/80486

[2019-07-25 04:17] Mataris opened #218 "Node_controller unable to be registered without cloud taint"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

Deployed v0.2.1 of vCloud Cloud Provider.  Each of the nodes had the  node.cloudprovider.kubernetes.io/uninitialized=true set, it registers them, then straight after states the node no longer has the taint

I0725 04:05:02.791535       1 node_controller.go:373] Adding node label from cloud provider: beta.kubernetes.io/instance-type=vsphere-

[2019-07-26 20:30] taylorsilva opened #219 "Error with deleting Persistent Volumes after they've been mounted to a worker node"
**What happened**: When I deleted a PVC, the corresponding PV was not automatically deleted. The reclaim policy was set to `DELETE`. Describing the PV shows an error:

[code]

**What you expected to happen**: The PV is automatically deleted when the PVC is deleted.

**How to reproduce it (as minimally and precisely as possible)**:
See this gist for steps on reproducing: https://gist.github.com/tay

[2019-07-30 13:39] jd-daniels opened #220 "worker node without zones unable to start kubelet without config file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When adding a new worker node to an existing cluster that already uses vsphere cloud provider, I am running into this:

"Error: failed to run Kubelet: could not init cloud provider "vsphere": no vSphere cloud provider config file given"

**What you expected to happen**:

The documentation says that I shouldn't need to pro

[2019-07-30 13:43] frapposelli commented on #220
Hi @jd-daniels, looks like you're using the in-tree provider for vsphere which is a different codebase hosted under github.com/kubernetes/kubernetes, can you please file this issue there?

[2019-07-30 16:29] jd-daniels commented on #220
Sorry about that, will do.

[2019-07-30 16:29] #220 closed

[2019-08-01 13:03] krisdock commented on #83
we are exploring essential pks on vmc. we'd love to know a timeline for load balancing capability within the vsphere (or vmc) cloud provider.

[2019-08-01 17:04] dvonthenen commented on #218
@Mataris that is the expected behavior. That log entry is coming from the code in the cloud provider interface. It's to prevent registration of the node.

You see that the node has been successfully been registered here:
`I0725 04:05:04.327591 1 node_controller.go:421] Successfully initialized node shortk8sm01.shorty.nz with cloud provider`

[2019-08-01 17:18] dvonthenen commented on #219
@taylorsilva the vSphere CCM/CPI (this project) doesn't handle anything related to storage.

PKS uses the in-tree provider since the CCM (this project repo) and CSI are still listed as beta and not recommended yet for production environments.

I would re-submit this issue in the k/k repo so it can get the proper attention and people to look at it. Re-submit here: https://github.com/kubernetes/kube

[2019-08-02 19:36] divyenpatel commented on #200
Observed this with latest vSphere CCM Image

[code]

cloud-config configmap is created from following file.

[code]

here user is the certificate retrieved for vpxd from vCenter server

[code]

and password is the private key retrieved for vpxd from vCenter server

[code]

[2019-08-02 19:47] taylorsilva commented on #219
@dvonthenen Thank you David, I'll repost there.

[2019-08-02 19:47] #219 closed

[2019-08-03 18:21] #60 closed

[2019-08-05 14:52] frapposelli commented on #218
/priority awaiting-more-evidence
/kind bug

[2019-08-05 14:54] frapposelli commented on #201
/kind feature
/lifecycle frozen

[2019-08-05 14:55] frapposelli commented on #212
/assign

[2019-08-05 21:02] dvonthenen commented on #179
Going to start taking a look at this again. We are re-visit since consensus from SIG Cloud Provider was to do it out of core k8s.

[2019-08-06 09:24] sujeet-banerjee commented on #179
I have been working on this proposal since the beginning of the year (attached). I am working on putting a patch for the same.

[2019-08-06 14:51] dvonthenen commented on #179
@sujeet-banerjee I read through the doc and it looks like the doc is in relation to cluster api. Maybe I am missing something... There definitely needs to be an understanding about VMs and which physical hosts they are on, but the issue is that the scheduler doesn't know about the backing infrastructure when it comes time to scheduling pods on those worker nodes. The VMs themselves can move around

[2019-08-06 17:03] #212 closed

[2019-08-07 12:40] #200 closed

[2019-08-07 16:06] frapposelli commented on #146
docs can be found here: https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html

[2019-08-07 16:07] frapposelli commented on #146
/close

[2019-08-07 19:39] dvonthenen commented on #209
Talked with @andrewsykim about it... started implementation. Will have a PR by tomorrow.

[2019-08-07 20:11] frapposelli commented on #144
/remove-lifecycle stale
/lifecycle frozen

[2019-08-15 16:21] dvonthenen commented on #209
PR https://github.com/kubernetes/cloud-provider-vsphere/pull/231 merged

/close

[2019-08-15 16:21] #209 closed

[2019-08-16 18:43] akutz opened #233 "Support different secret/secretNamespace per vCenter"
/kind feature

Currently the CCM only supports a single `secret` and `secretNamespace` for all vCenters as global properties. This issue tracks support for a `secret`/`secretNamespace` per vCenter.

[2019-08-16 18:45] akutz opened #234 "Expand failure domains beyond region/zone"
/kind feature

Failure domains should be expanded beyond region/zone tags to include the following:

* Clusters
* Datacenters
* Datastores
* Host groups
* ResourcePools

[2019-08-19 16:07] dvonthenen commented on #234
This is tied to the following issue: https://github.com/kubernetes/cloud-provider-vsphere/issues/179

[2019-08-19 16:07] dvonthenen commented on #233
/assign

[2019-08-19 19:45] dvonthenen commented on #233
Discussed with @akutz, got more requirements, and started implementation on it

[2019-08-21 19:37] embano1 commented on #234
@akutz can you please elaborate more on that feature?

You mention "region/zone tags". Does this imply vSphere tags or K8s labels?
Are we saying that besides the mapping of vSphere tags for zones/region we also want additional fields (in the CPI configuration file) for clusters, datacenters, etc.? Assuming this is for additional labels on the workers for better placement decisions, correct?

[2019-08-22 18:44] annerajb commented on #218
I am having a similar issue to the original onethe way the nodes are tainted makes the vsphere-cloud-controller-manager never start.

In my case I use rke/rancher and not kubeadm it seems that rke/rancher does not setup the key of:

instead if uses

This seems to be causing the vsphere-cloud-controller-manager pod to never start since it cannot find a host/node that can satisfy is constraint.

Can

[2019-08-22 21:05] dvonthenen commented on #218
@annerajb I can help out with that tomorrow... the workaround would be to either: 1) add the necessary keys or  2) modify the YAML to make use of the keys rke/rancher defines.

In the interest of compatibility, method 1 would be a preferred workaround considering those labels are going to be used for other components like CSI. kubeadm is becoming the standard for cluster initialization in all thin

[2019-08-23 20:42] dvonthenen commented on #218
@annerajb You should be able to label your master nodes like this:
`kubectl label node <insert_master_node_name_here> node-role.kubernetes.io/master=`

To verify, run the following command:
`kubectl get nodes --show-labels`

Then try redeploying and see if that fixes your issue.

[2019-08-29 15:20] dvonthenen opened #243 "Update NewInformer to reuse SharedInformerFactory but create NewLister"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
This is an enhancement to decrease the number of watchers generated.

**What you expected to happen**:
Everything to still work except to use less resources.

[2019-08-29 15:20] dvonthenen commented on #243
/assign

[2019-08-29 20:32] dvonthenen commented on #201
Just a general FYI. The PR that implements Windows UUID was merged upstream... unfortunately, I have no means of testing this.

[2019-08-29 20:36] dvonthenen commented on #87
It should be noted that if `--provider-id=vsphere://<uuid>` is set in the kubelet config on installation, this will workaround this particular issue.

[2019-08-29 20:37] dvonthenen commented on #48
Closing because PR https://github.com/kubernetes/cloud-provider-vsphere/pull/65 was merged.

/close

[2019-08-29 20:37] #48 closed

[2019-08-30 14:28] dvonthenen commented on #234
@embano1 those are good questions. You can already apply regions/zones to Clusters, Datacenters, Host groups (by way of folders), and also ResourcePools. Is there something else you had in mind? You can also place a hierarchy on regions/zones too where leaf most nodes override higher-level constructs/nodes.

Datastores you can't since regions/zones apply to where pods run (ie Clusters, Datacenters

[2019-08-30 14:28] dvonthenen commented on #243
Currently, taking a look at this.

[2019-09-04 13:47] dvonthenen commented on #233
Closing because PR https://github.com/kubernetes/cloud-provider-vsphere/pull/241 was merged

/close

[2019-09-04 13:47] #233 closed

[2019-09-04 16:08] frapposelli commented on #201
This looks like a testing effort and currently we have no CI or testing environment with Windows.

@rhockenbury do you know if there's any Windows testing infra we can leverage for this?

[2019-09-04 16:12] frapposelli commented on #234
/priority important-longterm
/lfecycle frozen

[2019-09-04 16:12] frapposelli commented on #234
/lifecycle frozen

[2019-09-04 16:15] frapposelli commented on #53
/remove-lifecycle stale

[2019-09-04 16:20] frapposelli commented on #83
/priority important-longterm

[2019-09-04 17:47] #243 closed

[2019-09-04 17:52] rhockenbury commented on #201
I suspect there is - I believe @benmoss had set up verification tests for windows nodes on vsphere.  Hopefully, he can chime in on the state of this, what could be leveraged, and the level of effort.

On a related note, there's also been a lot of recent work on the windows csi-proxy which would enable running the vsphere-csi-driver on windows.  Unsure of what (if any) test infra has been proposed

[2019-09-04 19:23] benmoss commented on #201
I have a CI system that deploys a cluster with a Windows node and runs conformance tests against it, the results are posted [here](https://k8s-testgrid.appspot.com/sig-windows#cfcr-vsphere-windows-master). The CI isn't accessible to the public internet and isn't super easily portable, it's a rather complicated setup that uses BOSH and [kubo](https://github.com/cloudfoundry-incubator/kubo-release)

[2019-09-05 15:31] schizoid90 opened #246 "Invalid patch version value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I followed the instructions on this [page](https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-039425C1-597F-46FF-8BAA-C5A46FF10E63.html) to install the driver on my kubernetes cluster.

When i apply the vSphere CSI driver configuration two containers in the vsphere-csi-controller-0 pod don't come up:

[2019-09-05 15:34] dvonthenen commented on #246
Hi @schizoid90, please file this issue in https://github.com/kubernetes-sigs/vsphere-csi-driver. This repo doesn't contain any of the CSI components and another team handles it's development/issue-tracking/etc. This is repo only contains bits relating for Cloud Provider Interface (CPI).

[2019-09-06 07:27] danielkucera opened #247 "Firewall settings for CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We have a firewall between kubernetes cluster and vsphere API (vcenter). I was trying to find in the documentation which connections do we need to allow - if `all masters -> vsphere API` is enough or if also nodes need to access it.

Could you please clarify this in the docs?

[2019-09-06 08:22] schizoid90 commented on #246
Thanks @dvonthenen, got here from Google so assumed it was the right place

[2019-09-06 08:22] #246 closed

[2019-09-06 13:46] dvonthenen commented on #247
Hi @danielkucera,

Thanks for taking the time to file this issue, but you can you re-file this issue in the following repo https://github.com/kubernetes-sigs/vsphere-csi-driver. This repo only contains code for the external Cloud Provider Interface and does not contain any storage-related or CSI functionality. The CSI repo listed above is also maintained by a different team and I want to make sure

[2019-09-06 13:55] dvonthenen commented on #53
Started looking at this again... this should hopefully be low hanging fruit in terms of refreshing/updating based on changes.

Will try to shepherd this into the charts repo again.

[2019-09-06 14:00] dvonthenen commented on #201
I have no idea what I am looking other than a lot of red 🙃

A couple of things I would look for in the logs would be that the node name and internal/external hostname/ips are being set correctly. If zones are being used, then the zone/region labels are properly being populated.

[2019-09-06 14:00] #247 closed

[2019-09-06 14:11] frapposelli commented on #201
@benmoss thanks for chiming in, our current testing rig is running on vSphere on AWS (a.k.a. VMC) that VMware is sponsoring, it is triggered by Prow and we have a set of presubmits and postsubmits that test the cloud provider functionalities end-to-end.

If there is a way for us to trigger a pre and post submit job on your infra we could have a way to test changes on Windows, do you think that's d

[2019-09-06 15:39] benmoss commented on #201
Yeah, the Windows tests tend to be quite flaky in my experience. I haven't had time to debug the problems, I know others have recommended not running tests in parallel to avoid this flakiness but that's never sat well with me. Even with that the [other builds](https://k8s-testgrid.appspot.com/sig-windows#Summary) from Microsoft and Google are still pretty flaky.

My setup isn't through Prow, it's

[2019-09-10 15:02] dvonthenen commented on #53
This unfortunately isn't so straight forward anymore. 🤣

Will start on this process...
https://github.com/helm/hub/blob/master/Repositories.md

[2019-09-19 23:43] davlloyd opened #252 "Update Controller DaemonSet to support Kubernetes release 1.16+"
/kind bug

**What happened**:
The controller DaemonSet manifest vsphere-cloud-controller-manager-ds.yaml is not supported with Kubernetes 1.16+ as the api 'extensions/v1beta1' is now deprecated for a range of controllers including DaemonSet.

**What you expected to happen**:
Created of the controller DaemonSet

**How to reproduce it (as minimally and precisely as possible)**:
Try apply the manifes

[2019-09-24 14:05] #252 closed

[2019-10-02 16:06] frapposelli commented on #201
@benmoss was there any progress on getting the tests running through prow?

[2019-10-02 16:08] frapposelli commented on #53
/lifecycle frozen

[2019-10-02 16:21] frapposelli opened #255 "Document vCenter/ESXi compatibility matrix"
Document the vCenter/ESXi compatibility matrix with regards to CPI and CSI

/kind feature

[2019-10-02 17:40] benmoss commented on #201
No, I don't have the bandwidth for this right now.

[2019-10-02 17:54] dvonthenen commented on #233
@akutz This came up in the cloud-provider-vsphere meeting. The group just wanted to make sure that was implemented satisfies the needs you posted in this issue.

What was implemented allows for:
- a secret/secretNamespace per vCenter which maps to a given vCenter username/password
- allows for multiple connections to a vCenter with each connection holding a different username/password stored in a

[2019-10-04 15:11] akutz commented on #233
lgtm!

[2019-10-07 18:41] andrewsykim opened #259 "Remove ServiceAccount in Cloud Config"
/kind feature

In https://github.com/kubernetes/cloud-provider-vsphere/commit/3c937e44618f3e0792bbf6f3fbe71a21c1024673#diff-eff14abf49a482c341f44fe1f99cbd27 we added a ServiceAccount field in the cloud config. Turns out we were mostly using that field as the client's user agent, not the client's service account. That should probably be removed from the cloud config cause we don't have any reason t

[2019-10-08 13:14] dvonthenen commented on #255
Based on my testing, it looks like the CNS based CSI driver only supports 6.7u3 after having tests with back level 6.7u2 and 6.7u1 ESX hosts using a 6.7u3 vCenter. I dug around and found the following PRs in govmomi which supports that claim.

https://github.com/vmware/govmomi/pull/1585/files
https://github.com/vmware/govmomi/pull/1572/files

As for CPI testing (and having familiarity developing t

[2019-10-08 13:19] #259 closed

[2019-10-08 15:19] dvonthenen commented on #255
/assign

[2019-10-09 03:16] andrewsykim opened #261 "Docs on Cloud Config need an update"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

When I initially put together the docs for cloud config (https://cloud-provider-vsphere.sigs.k8s.io/cloud_config.html), it was with both the in-tree and out-of-tree provider in mind. Realizing now that documenting both on the same page is not feasible. We should update that page so it only references config valid for the external provide

[2019-10-09 03:20] andrewsykim opened #262 "CSI docs need to be updated with latest CNS release"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Prior to the release of CNS (vsphere CSI driver), we created a CSI page on the docs site (https://cloud-provider-vsphere.sigs.k8s.io/container_storage_interface.html) as a place holder for future documentation. Now with CNS released, we should revisit this page and address some of the TODOs there.

[2019-10-09 14:16] andrewsykim commented on #261
/assign @dvonthenen

[2019-10-09 21:45] dvonthenen commented on #255
PR https://github.com/kubernetes/cloud-provider-vsphere/pull/263 merged

/close

[2019-10-09 21:45] #255 closed

[2019-10-09 21:45] dvonthenen commented on #261
PR https://github.com/kubernetes/cloud-provider-vsphere/pull/263 merged

/close

[2019-10-09 21:45] #261 closed

[2019-10-10 19:29] dvonthenen commented on #53
Start inquiry about hosting a VMware Helm Chart repo.

[2019-10-10 22:03] andrewsykim commented on #262
@cormachogan @mylesagray any chance you can take this one?

[2019-10-10 23:10] kfox1111 opened #265 "vsphere secret"
The documentation mentions putting credentials in a configmap. Its best practice to put them in secrets.

[2019-10-11 06:02] ivanfilippov opened #266 "Cloud controller is unable to patch node with IP addresses from cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cloud controller is unable to patch node with IP addresses from cloud provider on a multi-NIC VM.

[code]

**What you expected to happen**:
Nodes are patched with IP addresses from cloud provider.

**How to reproduce it (as minimally and precisely as possible)**:
Build a worker node with 3 NICs and attempt to deploy the c

[2019-10-11 08:11] frapposelli commented on #266
/assign @andrewsykim @vonthenend

[2019-10-11 14:28] dvonthenen commented on #266
/assign

[2019-10-11 15:49] dvonthenen commented on #265
Yea, the documentation should definitely document using k8s secret since the CPI supports it. Will make the change to the docs.

/assign

[2019-10-11 20:01] dvonthenen commented on #265
PR submitted.

@kfox1111 That should at least get you going if you haven't done so already.

[2019-10-11 20:25] dvonthenen commented on #265
/close

[2019-10-11 20:25] #265 closed

[2019-10-14 15:47] kfox1111 commented on #265
Great. Thanks! :)

[2019-10-14 15:51] kfox1111 opened #268 "Migration documentation"
Documentation is needed for how to migrate from the deprecated in tree driver to the external driver.

[2019-10-15 09:34] mylesagray commented on #262
/assign @mylesagray

[2019-10-21 14:18] dvonthenen commented on #268
Not sure if the CPI repo is the best place for this document (which the migration effort/work is still pending last I checked). For the CPI, the migration is just setting `--cloud-provider=external` and deploying it. For CSI (and the storage capabilities it provides) which is located in this repo (https://github.com/kubernetes-sigs/vsphere-csi-driver) will have a bunch of requirements for migratio

[2019-10-21 14:21] dvonthenen commented on #266
It looks like that was merged and possibly made it into 1.16. Any confirmation on that?

[2019-10-21 15:33] andrewsykim commented on #266
yeah its in v1.16

[2019-10-21 15:40] dvonthenen commented on #266
Since I need to rebuild my dev env, will be trying this out today or tomorrow.

[2019-10-21 15:48] andrewsykim commented on #266
It seems like just k8s.io/kubernetes needs to be updated

[2019-10-22 13:54] zuzzas opened #270 "Both InternalIP and ExternalIP gets created for first IP on each vNIC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

If there are multiple vNICs, then for the first address on each vNICs `status.addresses` on the Node object would contain both InternalIP and ExternalIP address type.

**What you expected to happen**:

I'd like to have a way to specify exact network name, so that when vsphere CCM iterates over vNICs, it detects corre

[2019-10-22 14:33] #262 closed

[2019-10-24 16:04] dvonthenen commented on #266
Looks like it's only on the k8s side. I tested with the latest CPI binary without updating the k8s.io/kubernetes that the CPI is built on and it works just fine with 1.16.2. Closing this out.

/close

[2019-10-24 16:08] andrewsykim commented on #266
@dvonthenen you used multiple vNICs in your tests? At first glance it sounds like we do need to update k8s.io/kubernetes in the controller manager since PatchNodeStatus is still called by the cloud node controllerl

[2019-10-24 16:10] dvonthenen commented on #266
ahhhh i missed that condition... will re-test right now

[2019-10-24 17:22] andrewsykim commented on #266
/reopen

[2019-10-25 16:01] dvonthenen commented on #266
Yep, I re-tested with 3 NICs with 3 different IPs one on each NIC and I don't see that error. Works with the latest CPI binary without updating the k8s.io/kubernetes that the CPI is built on.

Keep in mind, we also made the change that only the first IP is patched remember. That change isn't in the 1.0.0 release but only on master.

[2019-10-25 16:37] andrewsykim commented on #266
So sounds like this is already fixed in master but we're going to allow users to configure which networks the VM addresses should come from in https://github.com/kubernetes/cloud-provider-vsphere/pull/271? Is that correct @dvonthenen?

[2019-10-28 15:08] dvonthenen commented on #266
@andrewsykim that is correct

[2019-11-07 18:29] andrewsykim opened #275 "Support yaml for cloud config"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Support the cloud config being in yaml instead of gcfg. We would have to support both but I assume most users are already comfortable with yaml.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- vsphere-cloud-con

[2019-11-07 20:13] dvonthenen commented on #53
Pinged Adnan Abdulhussein as a follow up to this issue. Should hear more info about direction of path forward.

[2019-11-08 16:58] dvonthenen opened #276 "CPI and CSI Config Alignment"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The configs between CPI and CSI have a lot of commonality between the two, but there are also CPI and CSI specific things that should not be inherited by other components when they are not applicable.

You will find a link to a Google Doc which is a collaboration space for the definition of what the CPI and CSI configu

[2019-11-08 21:03] dvonthenen commented on #53
Discussed with Adnan about this issue... he recommends the best path forward right now is to create a PR into the main helm/charts repo and try to get that merged. since that's a very public facing PR, will re-test for drift (I dont believe there is any) and then open the PR on monday

[2019-11-11 22:08] dvonthenen commented on #53
PR submitted:
https://github.com/helm/charts/pull/18790

[2019-11-12 20:56] dvonthenen commented on #53
Closing since the PR was merged
/close

[2019-11-12 20:57] #53 closed

[2019-11-18 22:43] andrewsykim opened #277 "Minor versions should track Kubernetes minor versions"
/kind feature

Ideally every minor version of the vSphere cloud provider should track a minor version of Kubernetes by importing the corresponding version of k8s.io/kubernetes. The semantic versioning doesn't have to match exactly, but there should still be a 1 to 1 correlation. By doing so we can prescribe to users the exact version of the cloud provider based on the version of Kubernetes they ar

[2019-12-04 17:09] frapposelli commented on #276
@frapposelli to loop in folks from CSI to agree on a common spec

[2019-12-04 17:11] frapposelli commented on #275
We should make a priority for v1.2.0 to transition to yaml

[2019-12-04 17:12] frapposelli commented on #268
@frapposelli to loop in CSI folks to create a single doc for in-tree > out-of-tree.

/cc @mylesagray

[2019-12-04 17:14] frapposelli commented on #266
@dvonthenen can you verify and close?

[2019-12-04 17:19] frapposelli opened #279 "Create pluggable mechanism for service type LoadBalancer in CPI"
/kind feature

Create a pluggable mechanism for service type load balancer in CPI to support multiple loadbalancers on vSphere.

ref: #272

[2019-12-06 08:01] olivierbeytrison opened #281 "csi-controller SIGSEGV"
/kind bug

**What happened**:
We're trying to setup the VSphere CPI/CSI following this [doc](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html)

The csi-controller daemonset is in a CrashLoopBackOff state. The liveness check fails, because the csi-controller container cannot start due to a SIGSEGV.

[code]
**vsphere-csi-controller-0**
[code]
**What you ex

[2019-12-06 08:37] olivierbeytrison commented on #281
might not be the right place to open this issue.
For x-reference : https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/106

[2019-12-07 08:53] olivierbeytrison commented on #281
solved after re-installing verything.

[2019-12-07 08:53] #281 closed

[2019-12-10 21:57] dvonthenen commented on #270
I am trying to test this feature against what customers might do in the wild and even in my own test environment, what we thought was sufficient turns out it might not be. I'm re-opening this issue to block the 1.1 release. Going to think about this a little more and then update the implementation.

[2019-12-10 21:58] dvonthenen commented on #266
Same as https://github.com/kubernetes/cloud-provider-vsphere/issues/270

[2019-12-13 10:45] mardicas opened #285 "CPI (vsphere-cloud-controller-manager) unable to enable instance when using FQDN"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Installing the external vSphere integration CPI components. The vsphere-cloud-controller-manager container is unable to find the kubernetes hosts when using FQDN as nodes in kubernetes setup.
It is also unable to detect the IP address of nodes.

When using govc tool, then I am able to find the hosts using FQDN. From vSphe

[2019-12-13 16:36] dvonthenen commented on #285
@mardicas is each node running VMTools and is current/update-to-date/latest version?

/assign

[2019-12-13 17:42] dvonthenen commented on #285
I just went through configuring all nodes using FQDNs and all nodes are correctly identified by the CPI. All nodes are discovered and all attributes are set up correctly for all nodes, but just showing the master node as example below.

The attached screenshot shows what the master node looks like in vCenter with VMTools status as an example.
![master](https://user-images.githubusercontent.com/127

[2019-12-16 07:18] mardicas commented on #285
Yes the host names resolve with the FQDN. For short names it does not (not in the search path of resolv). Is it required to resolve short names too?
[code]

The vmtoolsd is running:
[code]
To my knowledge this should be a recent enough version.

[2019-12-16 07:48] mardicas commented on #285
The machines are all cloned from the same vm image - could that cause problems?
All the VM-s have the same ID in /etc/machine-id.

[2019-12-16 08:50] mardicas commented on #285
I noticed the vSphere screen shows also the pod-to-pod network interface IP. Seems sometimes it has reported the flannel interface as primary instead.
![Screenshot 2019-12-16 at 10 27 39](https://user-images.githubusercontent.com/29144235/70892431-d9361100-1ff1-11ea-9d64-af0e890bf765.jpg)

From vmware tools debug logs:
[code]
Interfaces
[code]
Both IP-s are reported to vSphere though.
The flannel

[2019-12-16 11:26] mardicas commented on #285
I have changed the configuration of machines, so the hosts file is:
[code]
The flannel interface is now ignored by vmtools and only the correct IP is reported by vmware tools. (10.0.34.71)
Also the nslookup no longer answers as 127.0.1.1 when looking up the host itself.

I still find it odd that when it looks by IP it does not find it, and the log does not even show the IP that is being searched(j

[2019-12-16 12:13] mardicas commented on #285
I now discovered that when I put the FQDN into the /etc/hostname file, then the joining works and the "DNS Name" in vsphere is shown correctly. This hostname file is set by vmware tools itself.
The interesting part is that I can not set FQDN as the "host_name" when cloning the machine. I have to set "host_name" as the short name and specify the "domain" as the domain. Then vmware itself proceeds t

[2019-12-16 13:02] mardicas commented on #285
I can now confirm that when I set the system hostname with ansible after cloning:
[code]
The kubernetes nodes are found and everything works by hostname.
So the issue was not related to CPI, but vmware/vmtoolsd cloning or/and reporting. I am not even sure weather tools should rely on "hostname -f" when reporting the "DNS Name" or the cloning (customize) part should be able to set the FQDN correctl

[2019-12-16 17:14] dvonthenen commented on #285
There are a lot of replies/questions here... will try to address all of them.

No, the short name is not required. If the FQDN is used, then the hostname for the system (ie /etc/hostname) must be the FQDN. If an IP is used, then the hostname must be the IP. Whatever is registered with the kubernetes cluster must resolve in DNS somehow.

The system UUID for each VM is required to be unique. On a cl

[2019-12-16 17:14] #285 closed

[2019-12-17 09:40] mardicas commented on #285
I tried to document all the steps I did to solve the issue. In case someone else runs into the same problem.
Thank you! No need to re-open issue.

[2019-12-17 15:56] dvonthenen commented on #285
Oh no worries. The info is super valuable. I was more concerned about addressing all the questions you had and not missing any. Thanks again!

[2019-12-17 23:13] akutz commented on #234
ping @pdaigle

[2019-12-18 14:08] frapposelli commented on #266
closed via #284

/close

[2019-12-18 14:08] #266 closed

[2019-12-18 14:08] frapposelli commented on #270
closed via #284

/close

[2019-12-18 14:08] #270 closed

[2019-12-30 21:31] davidkarlsen commented on #144
Cross-linking: https://github.com/helm/charts/issues/19807

[2020-01-06 23:44] mike-england opened #287 "Passwords cannot use escape characters"
/kind bug

**What happened**:
CSI stateful set is unable to start when passwords have backslash in it (and possibly other special characters but I didn't do extensive testing).

When following the [guide](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html), under csi-vsphere.conf, I'm unable to use a username with backslash, which is talked about in [issue

[2020-01-07 03:47] dvonthenen commented on #287
Hi @mike-england!

Please file an issue in the CSI repo in order to get the correct visibility: https://github.com/kubernetes-sigs/vsphere-csi-driver/

/close

[2020-01-07 03:47] #287 closed

[2020-01-23 23:59] rhockenbury opened #291 "Support windows server nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Add support for running the CPI on windows server nodes.   This would require publishing a windows image for the CPI, and modifying the Helm chart to add a daemonset to run the windows CPI on windows node.

This would bring the CPI inline with the in-tree VCP, which supported windows.

**What you expected to happen**:

**How to reproduce

[2020-01-24 02:43] dvonthenen commented on #291
This issue captures the current status: https://github.com/kubernetes/cloud-provider-vsphere/issues/201

There shouldn't be any reason why the current v1.1 release of the CPI wouldn't work with Windows-based Kubernetes cluster. We should just need someone to validate if it works (or not - and if not, logs would be helpful). Windows images should not be required for the CPI. Is there a particular r

[2020-01-24 03:18] rhockenbury commented on #291
Thanks.  Misunderstanding on my part 😊- I had quickly looked at the helm chart and saw a daemonset (assuming it needs to run on all nodes), but yes, now I see that it has a nodeselector for the masters.  Windows images are not required then.

I plan to test this out on a cluster with windows nodes.

For the CSI, I had created an issue over there already - https://github.com/kubernetes-sigs/vsphere

[2020-01-24 03:18] #291 closed

[2020-01-24 03:41] dvonthenen commented on #291
Thanks @rhockenbury! The validation would be invaluable since I don't have access to a Windows k8s cluster and don't current have resource to check it.

[2020-01-28 19:29] theabmitra opened #294 "MultiVcenter - Volumes not created across Vcenter with new cloud provider for vSphere"
/kind bug

**What happened**:

In a multivcenter environment , when pods are scheduled on the second vcenter (where master is not residing), the kubelet is unable to find labels from vcenter(even though they are created).

**What you expected to happen**:

As per documentation, https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_

[2020-01-28 19:40] dvonthenen commented on #294
Hi @theabmitra, can you file this issue in the CSI repo (https://github.com/kubernetes-sigs/vsphere-csi-driver/)? This CPI repo only handles workload placement and not volume provisioning. The docs only get published through this repo because gitbook only supports a single repo to publish from: https://cloud-provider-vsphere.sigs.k8s.io/

[2020-01-28 21:03] theabmitra commented on #294
Have filed a new issue there
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/129#issue-556466662

[2020-01-28 21:03] #294 closed

[2020-02-01 03:45] jordanrinke commented on #234
This just came up in some discussions we were having internally. Wanting to potentially be able to add something like a "host" parameter to the failure domain. Reason being - say we have an edge cluster that has 5 nodes, that we are running 5 VMs on, one of those hosts fails and the VM is brought back up automatically on another host via HA rules. Now we have 1 host, that has 2 k8s nodes on it. Th

[2020-02-05 16:18] dvonthenen opened #295 "Updates to CPI Helm Chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Issue reported in chart repo: https://github.com/helm/charts/issues/19807
Creating this tracking issue so we don't lose sight of the work

**What you expected to happen**:
Make updates where necessary

**How to reproduce it (as minimally and precisely as possible)**:
NA

**Anything else we need to know?**:
NA

[2020-02-06 21:45] txnw opened #296 "Migrate PV VMDKs to another datastore"
Hey,

we are running Kubernetes on VMWare using the vSphere Cloud Provider to allow Kubernetes to create and attach additional VMDKs on a separate Datastore for persistent volumes.

This works pretty well. But now we are about to replace our shared storage system.
Doing a “classic” storage vmotion does not help us for the PV because this would place all VMDKs inside the VMs configuration folder an

[2020-02-07 18:53] dvonthenen commented on #295
PR submitted:
https://github.com/helm/charts/pull/20612

[2020-02-07 21:50] dvonthenen commented on #296
Hi @txnw! Are you using the in-tree cloud provider (ie `--provider=vsphere`) or the external cloud provider (`--provider=external`)? I assume this is probably for in-tree provider since this project repo doesn't handle storage at all.

I would probably ask this question in the kubernetes' #provider-vsphere channel (https://kubernetes.slack.com/archives/C9PGCDKV5) or since you are dealing with a pr

[2020-02-11 09:50] vitality411 opened #298 "vcpctl Solution User ServerFaultCode: Invalid certificate bytes"
/kind bug

**What happened**:
I tried to use vcpctl to provision the requirements for CCM but got an error during solution user creation:
[code]

**What you expected to happen**:
Solution user to be created

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
It works with the vcpctl created certificate when using govc as described in https

[2020-02-11 12:14] txnw commented on #296
Hey, from what I see we use the in-tree provider (`--provider=vsphere`).
I will raise the question in the Slack channel as you mentioned, thanks for that hint!

We already started discussing internally how a workaround may look like without diving into each app.

We were just wondering that obviously either no one else every needed s/th like this or its so dead simple that no one talks about it :)

[2020-02-11 17:25] dvonthenen commented on #296
Since many of the people that work on the external provider (this repo) only deal with this cloud provider and the vsphere CSI driver, we don't know the best practices when it comes to handling migration issues on the in-tree provider.

Another option might be that you could also svMotion and selectively pick each storage array for each VMDK. I think you might also be able to specify which folder

[2020-02-11 21:46] dvonthenen commented on #295
PR merged closing this tracking issue

/close

[2020-02-11 21:47] #295 closed

[2020-02-11 21:51] dvonthenen commented on #298
Hi @vitality411,

I can take a look at this but will need to familiarize myself with this utility. The `vcpctl` hasn't been maintained for some time since the primary contributor has left the project. Will need to bring attention to this to see if we can get enough support for it.

[2020-02-12 07:59] txnw commented on #296
Hey,

thanks for your follow up, unfortunately that's the point were we get bitten quite fast.
When moving disks, VMWare places the VMDKs in folder that are named like the VM and names the VMDK also like the VM. So with PVC VMDKs like /kubernetepvc/pvc-123-456-789.vmdk we end in a chaos :).
In the past there was an option to skip the renaming. We asked the VMware support and they confirmed that th

[2020-02-16 16:19] mamullen13316 opened #299 "vsphere-cloud-controller-manager pod crashes with error: Error from server: no preferred addresses found; known addresses: []"
**Is this a BUG REPORT or FEATURE REQUEST?**:  BUG REPORT
 /kind bug

**What happened**:
While working through the documentation https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html. In the section titled "Deploy the CPI Manifests",  the cloud-controller-manager daemonset and pod are launched with the command:
kubectl apply -f https://github.com/kubernetes/c

[2020-02-21 17:00] dvonthenen commented on #299
Hi @mamullen13316

Can you paste the entire logs for the daemonset?

[2020-02-21 17:06] dvonthenen commented on #296
@txnw were you able to get any more assistance from the support ticket?

I think the problem is there are many limitations with the in-tree storage provider which is why those in-tree cloud/storage providers are being deprecated in favor of these external ones. For complete transparency, a migration path from in-tree to these external providers are still being worked on.

[2020-02-22 23:45] mamullen13316 commented on #299
Hi @dvonthenen,
Thanks for getting back to me.  Would you please let me know the command for the output you are requesting?  The single log message above is all that is being returned from the pod,  and i'm not sure how to gather logs for a daemonset.  Here's the output from a describe if that is helpful.

root@ubuntu1804-k8s-1:~# kubectl describe daemonset vsphere-cloud-controller-manager -n kube

[2020-02-24 20:55] dvonthenen commented on #299
The command should be:
[code]

Just in case you don't know how to get the pod info with the random 5 letters:
[code]

[2020-02-25 01:59] mamullen13316 commented on #299
It's just a single log message:

`root@ubuntu1804-k8s-1:~# kubectl logs vsphere-cloud-controller-manager-t7hxn -n kube-system
Error from server: no preferred addresses found; known addresses: []`

[2020-02-25 04:22] dvonthenen commented on #299
Sorry. That's my bad... I forgot to ask to up the log level. Increase the log level to `--v=6`, redeploy, and run the log capture line again.

[2020-02-25 10:08] mandelsoft opened #300 "What benefit do we get from this instead of using sync.Mutex and locking against all keys? Is it for performance reasons so we can operate against multiple keys concurrently or something else?"
What benefit do we get from this instead of using sync.Mutex and locking against all keys? Is it for performance reasons so we can operate against multiple keys concurrently or something else?

_Originally posted by @andrewsykim in https://github.com/kubernetes/cloud-provider-vsphere/pull/292_

[2020-02-25 10:09] #300 closed

[2020-02-25 14:27] mamullen13316 commented on #299
I deleted the daemonset,  then cloned the repo locally and made the change to line 41 to increase the logging level to 6 as suggested.  Then launched again with kubectl apply -f vsphere-cloud-controller-manager-ds.yaml.   Unfortunately i'm still only seeing the single log message as before.

root@ubuntu1804-k8s-1:~/cloud-provider-vsphere/manifests/controller-manager# kubectl logs vsphere-cloud-con

[2020-02-25 16:57] dvonthenen commented on #299
Hi @mamullen13316  That's odd. Ok will investigate.

- What is the version of your VC?
- I assume that all your k8s nodes have a valid *single* IPv4 address per node based on your configuration?

[2020-02-26 01:56] mamullen13316 commented on #299
vCenter is 6.7.0.42000.   Yes,  single IPv4 per node plus of course the IPs that are added by Docker and Flannel.

root@ubuntu1804-k8s-1:~/cloud-provider-vsphere/manifests/controller-manager# ifconfig
docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 172.17.255.255
        ether 02:42:e0:a9:e5:08  txqueuelen 0  (Ethernet)
        RX packe

[2020-02-26 15:36] dvonthenen commented on #299
On a very off chance... Do your hostnames resolve from DNS on every node? I assume the gateway is set and all nodes are routable (I assume yes because you are able to pull the container image)?

Can you do a describe on the master node and print node labels?

[2020-02-27 23:00] mamullen13316 commented on #299
Host resolution is working between the nodes and from the nodes to vcenter.  Using hosts files for local name resolution between the machines, and they point to Internet DNS servers for outbound.

`
root@ubuntu1804-k8s-1:~# kubectl describe nodes
Name:               ubuntu1804-k8s-1
Roles:              master
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/

[2020-03-03 08:35] txnw commented on #296
Hey,
unfortunately no. There was an option in the old days to disable the renaming of vmware  but this option does not exist anymore.
We are now having a look into http://velero.io and will do probably a mix of migration with velro and replacing them with new empty ones on the new storage depending on the use case.

[2020-03-03 17:30] dvonthenen commented on #296
@txnw based on my understanding of the last version of Velero I looked at, you should know that Velero uses restic (https://github.com/restic/restic) to do backups. It doesn't use native vSphere snapshots which also means that if you are using live running VMs when taking your backup, applications will not be quiesced (data in memory will be flushed to disk) meaning they will resemble a backup tha

[2020-03-03 17:30] #296 closed

[2020-03-04 17:08] frapposelli commented on #298
Reviving `vcpctl` is something desirable but we don't have a timeline for it, setting to milestone Next

[2020-03-04 17:13] frapposelli commented on #299
This was triaged also during the monthly vSphere provider call and it was pointed out that there might be a fix for this behavior in 1.16, see kubernetes/kubernetes#75229

[2020-03-04 17:14] frapposelli commented on #299
/kind bug

[2020-03-04 17:20] frapposelli commented on #268
@mylesagray any luck on this one?

[2020-03-05 08:53] mylesagray commented on #268
@frapposelli - I'm having some conversations internally about how best to approach this, I think a combined doc is the way to go for this, as generally the CSI and CPI will be used in tandem to replace the dual functionality of the VCP.

I was hoping we might do the CSI migration piece once we have a better story around the VCP->CSI volume conversion using the shim layer as there is essentially a

[2020-03-09 14:44] mamullen13316 commented on #299
Thank you @frapposelli,  it does appear this was resolved.  I am no longer seeing the issue after deploying 1.17.3.

[2020-03-09 14:44] #299 closed

[2020-03-11 02:10] deshui123 opened #302 "Does cloud-provider-vsphere support dual stack?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

At present, kubernetes 1.17 and cloud-provider-openstack can support dual-stack.
When tested cloud-provider-vsphere with dual-stack and version 1.17, I got some errors and   the taint **node.cloudprovider.kubernetes.io/uninitialized** still exists

**What you expected to happen**:

cloud-provider-vsphere with dual-stack can work we

[2020-03-11 21:06] dvonthenen commented on #302
Currently, there isn't support for running both IPv4 and IPv6 in a dual-stack configuration at this time. I can take a look at adding the support in the next release.
/feature

If the CPI fails to initialize in a supported configuration, the taint will not be removed. That's by design.

It should also be noted that support for CPI starts at vSphere 6.7u3. (Docs: https://github.com/kubernetes/cloud

[2020-03-12 01:44] deshui123 commented on #302
@dvonthenen  Thanks for your response.
Since my vsphere version is < 6.7u3,  I go through this guide for cloud-provider: https://cloud-provider-vsphere.sigs.k8s.io/tutorials/k8s-vcp-on-vsphere-with-kubeadm.html
![image](https://user-images.githubusercontent.com/16129161/76479093-9f847300-6445-11ea-8d75-bb64612f6f98.png)
I will update my vsphere version >=6.7u3 and wait for the new feature of IPv4/

[2020-03-16 21:41] frapposelli commented on #279
/remove-lifecycle stale
/lifecycle frozen

[2020-03-18 07:46] onesolpark opened #306 "Version compatibility for NSX-T LoadBalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
#292
I saw that the nsx-t implementation for Service type:LoadBalancer was merged a couple of weeks ago.

I want to test the implementation on our environment.
I was just wondering if there is there a minimum version requirement for NSX-T
and which NSX-T versions are compatible with the current feature.

**What you ex

[2020-03-19 20:42] dvonthenen commented on #306
The current compatibility is with NSX-T 2.5 only. The feature is only listed as alpha just to set expectations on how it's going to work. Since the feature is new, expect an evolving set of changes with the implementation. Will list the compatibility with the feature in the release notes when the next version of the CPI is cut.

If you have any other questions, you can find me in k8s slack!

[2020-03-24 16:38] doctori opened #307 "Handling Cases where Guest.Net is empty"
/kind feature

**What happened**:
In some cases VMs can stop posting Guest.Net information (still trying to understand why)
for exemple :
[code]

**What you expected to happen**:
In this case by default it would be nice to use Guest.IpAddress since it seems to be more consistant.

**How to reproduce it (as minimally and precisely as possible)**:
It seems in some cases that a lot of sub interfaces

[2020-03-26 16:15] cheftako opened #308 "sig-cloud-provider-leads alias is out of date in OWNER_ALIASES"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
It looks like you have an old (and out of date) list of owner aliases

**What you expected to happen**:
Kept up to date.

**How to reproduce it (as minimally and precisely as possible)**:
Looks the OWNER_ALIASES file in this repo.

**Anything else we need to know?**:

**Environment**:
K8s/cloud-provider-vsphere

[2020-03-26 17:09] dvonthenen commented on #307
Hi @doctori

I will investigate this, but VMTools really needs to be configured correctly in order for the CPI to function normally. I believe even if we do put in this workaround, there will be other aspects of the CPI (and also CSI - specifically correlating the VHDs to K8s volumes) that will not function properly.

The other consequence of implementing this functionality is if there are multipl

[2020-03-29 18:27] dvonthenen commented on #306
/kind doc

[2020-04-03 09:18] deshui123 opened #312 "For IPv6, loud controller is unable to patch node with IP addresses from cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For IPv6(both internal and external are IPv6), cloud controller is unable to patch node with IP addresses from cloud provider on a multi-NIC VM.
When I get node address info using following cli, I can only get **one external IP address**.
I want to get **both internal and external IP address for IPv6** ENV which can achieve this for

[2020-04-03 09:19] deshui123 commented on #266
hit the same issue for pure IPv6, related ticket https://github.com/kubernetes/cloud-provider-vsphere/issues/312

[2020-04-03 14:49] #308 closed

[2020-04-03 15:44] dvonthenen commented on #312
Hi @deshui123

Did you try switching the IP Family in the config to IPv6? By default, the provider uses IPv4.
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/common/config/types.go#L109-L113

[2020-04-06 03:08] deshui123 commented on #312
@dvonthenen Yes, I have specified the ip-family to ipv6.
If i don't specify this value, I can only get IPv4 address info of node.
But even I specified to "ipv6", i can only get the external IP address. I want to get both internal and external IP address  which can be achieved in cloud-provider-openstack

[2020-04-06 14:39] dvonthenen commented on #312
Did you also specify the following?

https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/types.go#L44-L53

[2020-04-07 07:49] deshui123 commented on #312
@dvonthenen  Thanks for your response.
My vsphere version is **6.5**.
I referred to such guide to set up my cluster using kubeadm  https://cloud-provider-vsphere.sigs.k8s.io/tutorials/k8s-vcp-on-vsphere-with-kubeadm.html

There is no mentioned about internalVMNetworkName and other parameters mentioned in your link.

Could u please share some info or vsphere.conf about these parameters?

[2020-04-08 18:29] dvonthenen commented on #312
Yea, they are meant as advanced options for users to try out. The comments should provide some details on how to use... in a nutshell, you can specify the following:
- Using CIDR, which means all your IPs must be in the same network (ie. /24 for IPv4)
- Using vSphere VM Network names which allows you to have multiple networks (ie IPs from different subnets), but you must have a dedicated VM Networ

[2020-04-13 06:08] deshui123 commented on #312
@dvonthenen Thanks for your response.
When add vSphere VM Network names, I can get both internal&external IPs.
Thanks a lot

[2020-04-13 06:08] #312 closed

[2020-04-13 06:10] deshui123 commented on #266
When using vSphere VM Network names, the error disappeared.

[2020-04-13 12:20] onesolpark opened #316 "Add missing rbac for nsx-t implemenation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
system:cloud-controller-manager needs additional rbac for nsx-t implementation

`E0413 12:20:54.103686       1 service_controller.go:234] error processing service kube-system/grafana (will retry): failed to update load balancer status: services "grafana" is forbidden: User "system:serviceaccount:kube-system:cloud-controll

[2020-04-13 15:44] dvonthenen commented on #312
@deshui123 no problem at all!

[2020-04-13 16:09] #316 closed

[2020-04-21 18:42] adityasaxena88 opened #324 "Getting error attachvolume.attach failed for volume has no nodeid annotation in kubernetes 1.18.1 and vsphere 6.7u3"

[2020-04-21 20:33] dvonthenen commented on #324
Hi @adityasaxena88

- Were you able to verify that cloud-provider-vsphere was installed and running correctly?
- Can you provide some logs for the cloud-provider-vsphere instance?
- Can you also attach a print of node labels?

That would be a pretty good start.

Thanks!

[2020-04-22 05:17] adityasaxena88 commented on #324
logs of cloud provider

I0422 03:53:51.565211       1 instances.go:78] instances.NodeAddressesByProviderID() CACHED with 42159afd-43f4-981f-2bed-4048da618451
I0422 03:53:51.568846       1 instances.go:158] instances.InstanceExistsByProviderID() CACHED with 4215bc17-179f-bf15-72cf-aa34edc25be5
I0422 03:53:51.568865       1 instances.go:78] instances.NodeAddressesByProviderID() CACHED with 4215bc17-

[2020-04-22 16:42] dvonthenen commented on #324
@adityasaxena88  I can see the node labels getting applied by the CPI (node name, VM properties, etc). It looks like the CPI is functioning properly. This appears to be a CSI storage driver related issue... you might need to file an issue in the following repo (https://github.com/kubernetes-sigs/vsphere-csi-driver/). If you can include logs for the CSI controller where the attach happens, I might

[2020-04-22 16:54] adityasaxena88 commented on #324
![csi-controller](https://user-images.githubusercontent.com/12782430/80010450-0fc3f100-84e8-11ea-82d9-e4e461d9666c.JPG)

![csi-aatacher](https://user-images.githubusercontent.com/12782430/80010459-1488a500-84e8-11ea-87a0-2f855964b107.JPG)

[2020-04-22 17:52] dvonthenen commented on #324
It looks like the deploy of the CSI driver has changed quite a bit along with the deployment YAML... Can you take this info and open a ticket in the https://github.com/kubernetes-sigs/vsphere-csi-driver/ repo? The people working on the CSI team should be able to better help you with this issue.

[2020-04-22 18:18] adityasaxena88 commented on #324
Vmtools is installed on all machine. Even disk.EnableUUID is set to True.

I can see from the log that

I0422 16:28:19.976955       1 csi_handler.go:512] CSINode k8s-worker-2-aditya does not contain driver csi.vsphere.vmware.com
I0422 16:28:19.976964       1 csi_handler.go:382] Saving attach error to "csi-8e1d24fa4bd5a4c250cb9f6566ae22317c1fa297889c162c5fbbf1921c5b214d"
I0422 16:28:19.981306

[2020-04-22 22:52] nagstaku opened #326 "vsphere-cpi driver doesn't get "ProviderID""
/kind bug

**What happened**:
Trying to provision k8s cluster on vsphere with Rancher (rke),  I install the CPI and CSI, but I am unable to provision volumes.

UPDATE: So, I can't change the title, but I added a taint to the node, and now it does create a ProviderID, however, when making a pod with a test disk mount, it still shows "Cloud provider not initialized properly":
[code]

this is the tai

[2020-04-23 17:18] dvonthenen commented on #324
yea, I think there was a recent change to that if I recall... but i don't have the details. definitely follow up on the storage driver repo. it looks like you created an issue on that repo... so going to close this issue out here

/close

[2020-04-23 17:18] #324 closed

[2020-04-23 17:19] dvonthenen commented on #306
Will check the docs and update if this isn't clear

[2020-04-23 20:57] andrewsykim opened #327 "Validate vSphere Cloud Provider against providerless kubernetes build"
/kind feature

Kubernetes has a [providerless](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190729-building-without-in-tree-providers.md) build tag which excludes all the in-tree cloud providers and their volume plugins. Even though the vSphere cloud provider works today with `--cloud-provider=external` set on all components, we should also validate that a provi

[2020-04-29 06:33] wyyxd2017 opened #333 "invalid url"
#330
I found their have many invaild url in this repository！Some paths have been deleted, they no longer exist, and some are no longer valid.

ex: https://github.com/vmware/govmomi/tree/master/govc

[2020-04-30 02:08] dvonthenen commented on #333
Hi @wyyxd2017

If you find an issue in https://github.com/vmware/govmomi, you can file a PR or issue in that repo.

By the way, thanks again for helping out with fixing dead links and etc!
It's been most helpful!

[2020-05-04 15:08] kfox1111 commented on #268
/reopen
/remove-lifecycle rotten

[2020-05-06 16:12] frapposelli commented on #307
You could also try with another vmtools implementation that exists in vmware/govmomi called `toolbox` https://github.com/vmware/govmomi/tree/master/toolbox

[2020-05-06 16:16] frapposelli commented on #333
looks like the link you provided works correctly, feel free to open a new issue for broken links

/close

[2020-05-06 16:16] #333 closed

[2020-05-06 16:17] frapposelli commented on #275
/remove-lifecycle stale

[2020-05-06 17:53] dvonthenen commented on #326
HI @nagstaku

You might be using an older version of the chart because the chart is attempting to deploy v0.1.3 and not the v1.1.0 that is currently present in the chart: https://github.com/helm/charts/blob/master/stable/vsphere-cpi/values.yaml#L45

You can update the charts by running `helm up`. Try redeploying and see if that fixes the issue.

[2020-05-09 03:34] acobaugh commented on #326
Seeing the same/similar symptoms. What's interesting is some of my nodes are working fine. It's just this one that isn't:

[code]

Deployed with vsphere-cpi chart 0.1.3, running manager v1.1.0.

OS: Flatcar Container Linux by Kinvolk 2345.3.1 (Rhyolite)
Kernel: 4.19.107-flatcar

[code]

[2020-05-10 15:56] steffann commented on #302
I'm running into the same problem with 6.7U3. Is there anything I can do to get this fixed? As I am one of the board members of The Netherlands IPv6 Foundation you can understand that it is embarrassing that I can't run IPv6... :)

[2020-05-11 16:28] dvonthenen commented on #326
@acobaugh The node name in your log is very concerning... did you redact the node name as well?

[code]

Discovering using FQDN or short is usually an issue with VMTools not being configured properly. The FQDN based search is usually a last ditch effort to try and make a match.

Are the nodes that aren't working correctly all of a particular type? like worker vs master nodes?

[2020-05-11 16:47] acobaugh commented on #326
No redaction on my part. All of the nodes are identical, same DC, same vcenter. Same version of everything. Tools are installed on all nodes - we've never had to touch that, as kubespray seems to Just Work on that front.

I got it to work by re-tainting the node with `node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule` then restarted the controller. That's now the second time I've done

[2020-05-12 17:47] dvonthenen commented on #326
@acobaugh  So there is this note about re-tainting the node in the docs:
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md

You definitely need to check that all nodes have the taint before attempting to run the CPI. I have noticed that there are many situations where the taint needs to be manually applied on certain scenario

[2020-05-13 15:39] acobaugh commented on #326
So, I tried this with 1.16 and 1.15, and with --cloud-provider=external. kubelet definitely didn't set that taint automatically. I had to do it manually, then things worked. Then a few days passed and I noticed the above log messages for one of the masters. Added the taint, restarted cpi, and things started working again.

Not sure what you mean by "running the CPI a second time without the nodes

[2020-05-13 16:53] cfrantsen opened #334 "Unable to deploy daemonset on k8s 1.18 when node is NotReady"
/kind bug
/assign @andrewsykim

**What happened**:
When trying to deploy cloud-provider-vsphere daemonset on a kubeadm installed cluster with kube-router as CNI, kube-router does not deploy due to the node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule taint. cloud-provider-vsphere does not deploy due to the node being in NotReady state because CNI is not configured (kube-router is not

[2020-05-13 20:20] dvonthenen commented on #302
There are issues up k/k itself that need to be addressed. Please see the following KEP:
https://github.com/kubernetes/enhancements/pull/1665

[2020-05-14 19:16] dvonthenen commented on #302
Hi @steffann

You can run IPv6, but if you want to do it in as apart of a dual stack, please see the previous post with the upstream enhancements to k/k.

[2020-05-14 19:26] dvonthenen commented on #326
This is expected and documented. You definitely need to check to see if taints exist before running the CPI.

Non-CPI pods themselves should not have any effect on the CPI and how it operates. How did the CPI pod fail? That actually is important and we need more detail on. It's possible there can be events where this could happen and if they do, we want to know how to mitigate them. The kubelet ne

[2020-05-14 19:34] dvonthenen commented on #334
Hi @cfrantsen

That's expected. The kubernetes node must already be in the "ready" state before the CPI can be deployed.

Please see the documentation for suggested/supported setup of the kubernetes cluster:
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md

[2020-05-14 20:26] andrewsykim commented on #334
@cfrantsen following up from our discussion in https://github.com/cloudnativelabs/kube-router/pull/897, did you already test your setup with the not-ready toleration?

[2020-05-14 20:33] dvonthenen commented on #334
@andrewsykim and I discuss offline and I think I missed your original point... I think I'm on the same page now.

[2020-05-15 07:27] cfrantsen commented on #334
Yes, I added the following toleration to the `vsphere-cloud-controller-manager` Daemonset and it works like a charm.
[code]

[2020-06-02 19:44] alex-vmw opened #338 "CCM randomly does not pickup node IP correctly, causing the node to have "<none>" for Internal and External IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After installation on a new k8s cluster, CCM randomly does not pickup node IP correctly, causing the node to have `<none>` for Internal and External IP.
[code]

**What you expected to happen**:
Expect CCM to always correctly identify node IPs.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install n

[2020-06-03 02:17] andrewsykim commented on #334
FYI https://github.com/kubernetes/cloud-provider-vsphere/pull/339

[2020-06-04 21:31] dvonthenen commented on #338
I have been looking into this... do you have VMTools set to be upgraded on boot?

[2020-06-04 22:04] alex-vmw commented on #338
No, VMware Tools Update on every boot is disabled:

![image](https://user-images.githubusercontent.com/36181540/83815220-9128aa80-a674-11ea-8ab0-421f05aec1c3.png)

[2020-06-05 16:35] dvonthenen commented on #307
I did a simple check and after disabling VMTools, the guest.ipAddress field is also unset. This also appears to be the root cause for this issue as well:
https://github.com/kubernetes/cloud-provider-vsphere/issues/338

![Uploading Screen Shot 2020-06-05 at 9.32.44 AM.png…](Unset guest.ipAddress)

[2020-06-05 16:41] dvonthenen commented on #338
Do you know if those VMs are going into power save mode or to sleep? Often times that kills services like VMTools or even system network when those power save evens kick in. It seems unlikely but just throwing it out there... going to try an implement one solution try to address the issue.

[2020-06-05 18:05] #334 closed

[2020-06-05 19:28] alex-vmw commented on #338
@dvonthenen No, the VMs do not go into power saving more or sleep. There is obviously some race condition somewhere in the code because a single system randomly is not able to find the IP and as you may know through our Slack messages, it took me a few tries (re-deploying all nodes in the cluster) to re-create this issue. If you need better logs to understand the issue better, then please put them

[2020-06-05 19:52] dvonthenen commented on #338
I don't think that's the issue either but someone else had a similar issue not relating to initial deployment and I think they might be related.

The API call should most definitely return the correct data and it's not. The interesting thing is that the hostname which also comes from the `guest` parameter is set, but the `net` values is nil. So it's like the data is only partially being populated.

[2020-06-06 07:19] dvonthenen commented on #338
Will have a PR on Monday to give this a try...

[2020-06-07 19:56] doctori commented on #307
quick update on this one,
filtering interfaces helped a lot, to have a stable guest information.
basically added
`set guestinfo/exclude-nics "docker*,cali*,veth*,virbr*,flan*"`
in the `/etc/vmware-tools/tools.conf`
so the issue was that too many interfaces was comming up and the vcenter just ignored the whole block.

[2020-06-08 08:19] zhoudayongdennis opened #340 "Chart: vsphere-cloud-controller-manager daemonset bringup issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

after helm install cpi on cluster, failed to bring up DaemonSet on three control nodes, and one was UP and the other 2 with same error message "failed to create listener: failed to listen on 0.0.0.0:10258: listen tcp 0.0.0.0:10258: bind: address already in use".

Not sure how it caused such kind of issues.

CPI version used 1.1.0.

[root@tesla-auto-20

[2020-06-08 17:15] dvonthenen commented on #307
HI @doctori

I can give that a try and see if that helps at all. We have been doing the filtering on the CPI side and wondering if all those device can cause the choking.

I have a PR that I need to test and see if it makes any impact or not. If not, I will try this combo (PR and your suggestion here).

[2020-06-08 18:43] dvonthenen commented on #340
The Helm chart currently doesn't support multi-master. If you do want to add the support, you need to use the manifests in the repo and then change the deployment so the pods end up on different masters using the affinity and anti-affinity rules.

https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity

/feature

[2020-06-08 19:30] dvonthenen commented on #307
Hi @doctori

If you had the time, I added some code to attempt to make sure the guest info is obtained correctly. If you had the time, try deploying the image `dvonthenen/vsphere-cloud-controller-manager:latest` using the existing yaml.

[2020-06-08 19:33] dvonthenen commented on #338
Hi @alex-vmw

I added some code to attempt to make sure the guest info is obtained correctly. If you had the time, try deploying the image `dvonthenen/vsphere-cloud-controller-manager:latest` using the existing yaml.

There is also some interesting additional info in a different thread. Please give the test image a try on it's own first. If that is still a problem, please try again using the filte

[2020-06-08 19:56] andrewsykim commented on #340
@dvonthenen does the helm charts also need to be updated to tolerate the not-ready taints as per https://github.com/kubernetes/cloud-provider-vsphere/pull/339 ?

[2020-06-09 05:42] zhoudayongdennis commented on #340
there was another Cloud-Controller-Managers (CCM) deployed in the same cluster, which introduced the port conflict, and correct it and wait for result.

[2020-06-09 16:03] dvonthenen commented on #340
Yes, the Helm chart does need to be updated. One of the YAML specs in this repo got stale and I updated it in a yet to be submitted PR.

[2020-06-09 16:04] dvonthenen commented on #340
Yup, that isn't a supported configuration.

[2020-06-17 16:45] RaunakShah opened #341 "vSphere CSI driver documentation is outdated."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Documentation for CSI driver points to the wrong page and has outdated information. Filing this issue to get that fixed.

**What you expected to happen**:
CSI driver installation to be uptodate.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- vs

[2020-06-24 17:19] dvonthenen commented on #338
Filed a couple of PRs to ensure consistency for the cache:
https://github.com/kubernetes/cloud-provider-vsphere/pull/343
https://github.com/kubernetes/cloud-provider-vsphere/pull/336

After additional discussions, the issue is tied to the number of interfaces/devices. A CNI implementation was creating an interface/device on the vNIC per pod and a filter needs to be created in order to not report t

[2020-06-24 17:21] dvonthenen commented on #307
Verified that the device/interface filtering is the root cause. Will use this issue to add documentation around this.

[2020-06-24 23:54] dvonthenen commented on #341
Closing this issue since PR was merged

/close

[2020-06-24 23:54] #341 closed

[2020-06-30 14:16] andrewsykim opened #348 "Support node deletion of terminated VMs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

In the past we opted not to delete the node object of a terminated VM due to certain failure scenarios.  However, this behavior is not consistent with other cloud providers. We should re-evaluate if we want to re-introduce this behavior.

Specifically, `InstanceExistsByProviderID` should return `false, nil` when the VM on vSphere no long

[2020-06-30 15:59] andrewsykim commented on #277
/reopen
/remove-lifecycle rotten

[2020-07-01 16:16] frapposelli commented on #348
I'm fine with this behavior being reinstated as the default, but we could use a feature toggle to enable use cases that require VMs to be persisted even when deleted from the underlying platform

[2020-07-01 16:23] frapposelli commented on #338
To avoid the 16 vnic limitation the fix should really be applied on the OS that is running Kubernetes, filtering out unnecessary vNics using VMware tools.

[2020-07-01 16:29] frapposelli commented on #277
Let's move the current milestone from `1.2.0` to `1.18.0` which will be our new versioning scheme aligned with Kubernetes minors.

[2020-07-01 16:42] jayunit100 commented on #348
Is this inflamed by using a CNI like calico that makes a new eth pair for every pod?  In other CNIs like antrea, you only get one eth per pod.  examples below respectively of antrea/calico.

[code]

But calico... you get alot ...
[code]

... So does any CNI on a cluster w/ > 16 pods basically expose this? or am i misunderstanding the issue maybe.

[2020-07-01 16:47] jayunit100 commented on #338
Is this inflamed by using a CNI like calico that makes a new eth pair for every pod?   If so In other CNIs like antrea, you only get one eth per pod.  examples below respectively of antrea/calico.

# Antrea : 1 eth per node
[code]
# Calico : n eths per node (where n = number of pods!)
But calico... you get alot ...
[code]

... So does any calico  CNI on a cluster w/ > 16 pods basically expose this

[2020-07-01 16:48] jayunit100 commented on #348
(deleted my above comment, i meant to put it in #338)

[2020-07-01 17:21] jayunit100 commented on #338
after using `lspci`, itLooks as if you can make a `veth` pair WITHOUT making a vNIC, so my comment above maybe isnt an issue we need to worry about.

[2020-07-01 18:07] dvonthenen commented on #338
Yep, using https://github.com/kubernetes/cloud-provider-vsphere/issues/307 to update the documentation

[2020-07-01 18:12] dvonthenen commented on #338
Merged the PR. Unless there are any objections, will close this issue in a couple of days.

[2020-07-01 18:20] dvonthenen commented on #348
Yea, I'm concerned with that scenario as well as ones where VM's aren't accessible by Center but where the VM/k8s-node is still running. Like a long lived network partition event. One that happens all the time is when the ESX host gets disconnected from Center but is ultimately still running, is connect to the k8s cluster, and can still take on additional k8s workloads. A switch would be a good wa

[2020-07-02 15:34] yastij opened #351 "issues with vcenter fqdns that contains uppercase"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

it seems like we are lower casing the vcenter fqdn before storing in the cache https://github.com/kubernetes/cloud-provider-vsphere/blob/6872a0bb96eb62712a5896744b00bd1d78f88241/pkg/common/credentialmanager/credentialmanager.go#L196-L208, but when trying to access credentials we are using vcenter fqdn as is, see:

https://github.com/kuberne

[2020-07-02 18:33] dvonthenen commented on #351
Thanks @yastij for catching this!

[2020-07-02 19:09] dvonthenen commented on #276
/remove-lifecycle rotten

[2020-07-05 02:54] lynic opened #353 "Running vmtoolsd inside pod will change worker node's internalIP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Worker node's internalIP and externalIP was changed after running another vmtoolsd inside pod.

**What you expected to happen**:
It won't change the internalIP and externalIP.

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod on one worker node, and run vmtoolsd inside pod.
It will report the

[2020-07-07 09:16] rchessa commented on #338
Hello,

I'm in the same situation, my setup is:

vSphere 6.7U3
nodes: Ubuntu 18.04 LTS + open-vm-tools
CNI: Calico
CPI ( gcr.io/cloud-provider-vsphere/cpi/release/manager:v1.1.0)  + CSI

The cluster worked fine for 2 months, but after an upgrade to 1.17.2 -> 1.17.7 the two worker nodes lost internalIP and externalIP.

I've tried to add --node-ip to the kubelet configuration, and after some restart

[2020-07-07 15:21] dvonthenen commented on #338
@rchessa it seems like the hostname it's valid either. can you run the following commands on this VM and copy the output here:
[code]

[2020-07-07 15:37] rchessa commented on #338
@dvonthenen after some restarts of CPI pods now all two worker nodes has an internal-ip and external-ip, but in the CPI logs I've found those messages:

[code]
and
[code]

and as I wrote before, both nodes have the ip
[code]
this is the output of _hostname_ and _ip a_

`hostname: sbr2-stg-k8swrk01`
[code]

[2020-07-07 16:37] dvonthenen commented on #338
We have a bunch of changes in the pipe and haven't had a release in some time now and some of that includes additional improvements in this space as well as logging for the recent issues with the IP address reporting. Let's cut a release and we can file a new issue if there are still problems.

[2020-07-07 16:37] dvonthenen commented on #338
/close

[2020-07-07 16:37] #338 closed

[2020-07-08 05:22] vuil commented on #351
@dvonthenen is this an issue that will be addressed soon?

[2020-07-08 16:37] dvonthenen commented on #351
The PR (above) to fix this was opened the same day the issue was filed. Just waiting for feedback or a merge on this PR in order to close this out.

[2020-07-09 15:20] MaxRink opened #354 "Running CCM in namespaces other than kube-system"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
We are running CCM externally of an cluster (by providing the kubeconfig of the target cluster).
This is linked to Cluster-API, CAPV in particular which relys on CCM to remove nodetaints even when not provisioning CSI
We are running CCM in the namespace "Demo" (successfully in an single replica mode) but stumbled across

[2020-07-09 21:40] MaxRink commented on #354
Logs for Issue 1:

[code]

the secret exists tho.
[code]

[2020-07-20 17:54] MaxRink commented on #354
Ok, this issue is basically me mixing up in wich cluster ccm looks for the secrets, its abviously the one provided. I wrongly looked th the cluster its running in.

[2020-07-20 17:54] #354 closed

[2020-07-20 18:03] MaxRink opened #356 "Configuration and HA enhancements for running CCM external of an cluster"
/kind feature

We are currently using Cluster API with the vSphere provider. During that process we stumbled across the dependency to run the CCM internally of the created cluster. We would like to remove that dependency because of security reasons ( if the workload clusters have no way to even contact the vcenter, they cant influence other VMs running on the shared cluster) The CAPV Issue is trac

[2020-07-20 18:44] dvonthenen commented on #356
My KubeCon EU session is exactly this use case. You need to have individual vCenter accounts per workload cluster. Using vCenter RBAC, restrict the user access to only that particular vSphere folder or Resource Group. That should limit the scope to exactly those users VMs.

[2020-07-21 16:05] andrewsykim commented on #266
FYI we also need to backport https://github.com/kubernetes/kubernetes/pull/79391

[2020-07-21 20:26] #275 closed

[2020-07-21 21:04] dvonthenen commented on #351
/close

[2020-07-21 21:04] #351 closed

[2020-07-21 21:07] dvonthenen commented on #307
/close

PR 349 was merged

[2020-07-21 21:07] #307 closed

[2020-07-22 15:10] abregar opened #357 "cloud provider could not be initialized: could not init cloud provider "vsphere": 1:1: expected section header"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Following the docs/book  _kubernetes-on-vsphere-with-kubeadm_ seems after the change _Initial implementation for YAML based config_ controllermanager.go crashed after announcing 1:1: expected section header
[crashed_manager.log](https://github.com/kubernetes/cloud-provider-vsphere/files/4960736/crashed_manager.log)

**Wha

[2020-07-22 16:09] dvonthenen commented on #357
Hi @abregar!

We haven't cut a release yet of the CPI, so currently the tags for the CPI in GCR point to 1.1.0 and latest still only support the INI configuration. Please use the documentation for the INI based format here:
https://github.com/kubernetes/cloud-provider-vsphere/blob/c08d3f932463ff9579c07f6a283424ee7f0aec47/docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md

It might be worth

[2020-07-22 22:13] dvonthenen commented on #357
Hi @abregar

Updated the documentation to include the `INI` based configuration for older versions of the CPI. If you are still having issues, please let me know.

/close

[2020-07-22 22:13] #357 closed

[2020-07-23 08:37] abregar commented on #357
Thank you for the clarification. Since I do like the yaml format, is there any estimated date on new CPI version release supporting this feature (and all the fixes since 1.1.0)?

[2020-07-23 11:05] rumans commented on #296
Hey,
We needed to migrate from one storage to another and this worked for us.
It seems that vsphere in-tree driver only uses DS name and not any uid.
So moving to another DS with the same name as the original works properly.

* Create new DS  with **new_DS_name**
* Scale down all deployments/statefulset that use pv to 0, so the vmdk are unmounted from the workers vm.
* Be sure that no worker vm's

[2020-07-24 15:47] andrewsykim commented on #353
@lynic do the internal/external IPs change back to the expected VM address or do they remain as the pod's IP?

[2020-07-24 16:39] dvonthenen commented on #353
If you run the pod as non-root, I believe that should also prevent the pod from changing the IP. Another example for not running pods as root.

[2020-07-27 22:24] dvonthenen commented on #357
I'm in the process of working on that release right now.

Also, since this might trip other people up (myself included just now), the port value is no longer a string but an int.

Correct:
[code]

Incorrect:
[code]

[2020-07-29 18:02] MaxRink commented on #356
hi @dvonthenen ,
The Link above is broken. I also think its not directly fitting our case, as our securitiy requirement is actually no network connectivity from the workload clusters to the vcenter.
Running the CCM on the CAPI mgmt cluster works fine, as that is already the CPOM. Scoping ontop of that is an added bonus, but keeping the ccm external is basically an hard requirement. Its only used f

[2020-07-30 17:20] joelsmith opened #364 "Private keys committed to repo without accompanying readme"
/kind bug

**What happened**:

The Kubernetes Product Security Committee received reports of encryption keys being posted to Git Hub due to:

https://github.com/kubernetes/cloud-provider-vsphere/blob/dd04229da5faab670bcb27abe18f26cafa81596b/pkg/common/vclib/fixtures/ca.key
https://github.com/kubernetes/cloud-provider-vsphere/blob/dd04229da5faab670bcb27abe18f26cafa81596b/pkg/common/vclib/fixtures/s

[2020-07-30 17:44] joelsmith commented on #364
/assign @dvonthenen

[2020-07-30 17:46] dvonthenen commented on #364
@joelsmith and I have been exchanging emails regarding this issue. The keys are just dummy keys for the go tests when talking to vcsim (vCenter Simulator). They don't access anything. The keys just need to be real enough when simulating a secure vCenter connection. Will look at dynamically creating the keys, but in the short term, will drop in a README. There might be a way to fool the simulator j

[2020-08-01 18:39] #298 closed

[2020-08-02 21:24] dvonthenen commented on #356
You should be able to use CCM installed on the management cluster only. To do that, create a tenant configuration/entry per tenant vSphere account and use vSphere Role Based Access to limit account permissions to just their resource pool/cluster.

[2020-08-03 08:20] deshui123 opened #368 "cloud controller is unable to patch node with IP addresses from cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For IPv6(both internal and external are IPv6), cloud controller is unable to patch node with IP addresses from cloud provider on a multi-NIC VM.

I have added **internal-vm-network-name**, but this can not work for all nodes, even there is some logs look like 'Adding Internal IP by NetworkName: 2001:da8:8001:801::115'

[code]

We ca

[2020-08-03 08:27] deshui123 commented on #368
[code]
According to this link: https://github.com/kubernetes/cloud-provider-vsphere/blob/870ee4bde1ca7056117b9b84e60ba32808260a3e/pkg/cloudprovider/vsphere/nodemanager.go,  I think only provide the internal-vm-network-name, CCM also can get the internal network
[code]

[2020-08-03 15:50] dvonthenen commented on #368
HI @deshui123 The configuration you provided seems to be for the in-tree cloud provider. The documentation for using the external cloud provider can be found here:
https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html

[2020-08-03 16:21] kfox1111 commented on #268
Still important

/reopen
/remove-lifecycle rotten

[2020-08-04 02:56] deshui123 commented on #368
Hi @dvonthenen,
Thanks for your response.
For the configuration, i think even if keep [Workspace] and [Disk] tag in cloud.conf, it will not cause any issues, since CPI will not use it. Please correct me if I  am wrong

As you mentioned, the CPI only supports a single IP address (v4 or v6) on a given NIC. In my lab, we only have one single IPv6 address for each NIC, and all nodes have the same netw

[2020-08-04 06:52] deshui123 commented on #368
I check some code in cloud-provider-openstack, hope these fix can provide some idea for you
https://github.com/kubernetes/cloud-provider-openstack/pull/1041
https://github.com/kubernetes/cloud-provider-openstack/commit/c544421eaeaf8124786f2ef54cfaa6f794b1fe87
https://github.com/kubernetes/cloud-provider-openstack/blame/6d0ea905cabb5e8a974c4bdfb49d1b354907822a/pkg/cloudprovider/providers/openstack/

[2020-08-04 08:25] deshui123 commented on #368
Also hit this issue for **IPV4**
[code]
[code]

[2020-08-05 01:29] deshui123 commented on #368
any update?

[2020-08-05 16:10] andrewsykim opened #371 "Tool for converting INI cloud config to YAML"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

We recently added support to use YAML for the cloud configuration file. We now support both INI and YAML but YAML is preferred. It would be useful to users to have a tool to convert an existing INI file to YAML.

[2020-08-05 20:17] dvonthenen commented on #371
Instead of writing go code that we would need to maintain... I would be in favor of having an online tool in the Docs where we convert INI to YAML. Placing this tool just after the YAML configuration would be a great place for it. Doing this would potentially allow someone to work on this as a good first issue to tackle.

[2020-08-06 11:17] onesolpark opened #373 "Support using only NSX-T Type: LoadBalancer Implementation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Unable to use just the NSX-T type loadbalancer implementation without access to vsphere.

**What you expected to happen**:
Support using only NSX-T Type LoadBalancer Implementation in cloud provider

**How to reproduce it (as minimally and precisely as possible)**:
Cloud Provider fails when access(network or client) t

[2020-08-06 17:45] dvonthenen commented on #373
vSphere access is minimally required for:
- configuration and deployment of NSX-T
- having the necessary permissions for the user account being used in the CPI
- (potentially) having access to the CPI configuration in order to use the correct vSphere account to manage the k8s cluster in question

@mandelsoft would you know what the minimum role would be to enable this functionality? I am guessing

[2020-08-06 17:53] dvonthenen opened #374 "Chart: Update chart for v1.2.0 and hostNetwork: true"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The CPI just went through a release!

**What you expected to happen**:
The Chart to work using v1.2.0 CPI

**How to reproduce it (as minimally and precisely as possible)**:
NA

**Anything else we need to know?**:
NA

**Environment**:
NA

[2020-08-06 20:24] dvonthenen commented on #368
I'm looking at this right now and it looks like there might be a bug. Will post back shortly.

[2020-08-07 03:11] dvonthenen commented on #368
@deshui123 If you want to give this a try, the latest image is located here:
dvonthenen/vsphere-cloud-controller-manager:latest

It's based on this code:
https://github.com/dvonthenen/cloud-provider-vsphere/tree/bug368/addyreporting

[2020-08-07 07:07] deshui123 commented on #368
Hi @dvonthenen,
Thanks for your response.
Usually, we use the release from https://github.com/kubernetes/cloud-provider-vsphere. Hope we can get the latest release which covers this fix ASAP.

[2020-08-07 16:11] dvonthenen commented on #368
This is untested and I currently need to find the time to try this out (not sure when that might be)... which is where I would hope you might come in since you are having trouble. If not, I will give this a try when I get my testbed up and running again.

[2020-08-10 15:59] dvonthenen commented on #348
PR Merged...
/close

[2020-08-10 15:59] #348 closed

[2020-08-11 05:14] onesolpark commented on #373
@dvonthenen Do you have the list of permissions needed for vsphere users?
I went searched the vcpctl part (where it makes users with minimum authz) and ended up in govmomi repo (https://github.com/vmware/govmomi/blob/master/simulator/esx/authorization_manager.go)

Is this the minimum requirement for vsphere users for CPI?

[2020-08-11 17:12] dvonthenen commented on #373
It's neither. The first link is just a dump of permissions. The second link is the older in-tree VCP support which is going through a deprecation phase.

The docs should be here https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges and what is documented is what a user account would look like for using the same CPI and CSI account for both. If you only wa

[2020-08-12 00:41] onesolpark commented on #373
@dvonthenen Thanks that really helped. Appreciate it :)

[2020-08-12 14:49] dvonthenen commented on #373
/close

[2020-08-12 14:49] #373 closed

[2020-08-12 14:58] dvonthenen commented on #364
/close

[2020-08-13 15:24] dvonthenen commented on #87
I think this is a pretty well-known requirement at this point and if unique hostnames cannot be accommodated (how do you do DNS anyways?), you can use `--provider-id=vsphere://<uuid>` in the kubelet config on each node to assign the provider ID to the node.

[2020-08-13 15:25] dvonthenen commented on #87
I think this is a pretty well-known requirement at this point and if unique hostnames cannot be accommodated (how do you do DNS anyways?), you can use `--provider-id=vsphere://<uuid>` in the kubelet config on each node to assign the provider ID to the node.

/close

[2020-08-13 15:25] #87 closed

[2020-08-21 05:13] inductor opened #380 "Please consider updating quickstart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Neither of the above.

**What happened**:

https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html is based on kubeadm 1.14 and getting old. kubeadm params and kubernetes configuration might need some modification on upstream.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as p

[2020-08-21 14:36] yastij opened #381 "CPI 1.2 deletes a node object right after its creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

the CAPV CI started to flake intensively after we upgraded to 1.2 CCM. after some debugging here's what we found:

after the bootstrap the kubelet is able to register the node sucessfully:

[code]

on the CPI side we found out:
[code]
it seems like the CPI node lookup is having an issue with node lookup

cc @dvonthenen @

[2020-08-24 16:51] dvonthenen commented on #381
@yastij Could you provide vCenter logs and also `--v=6` logs for the CPI when this is occurring in the deployment?

[2020-08-24 20:24] andrewsykim commented on #381
@yastij can you also confirm if you are using the same values for the VM's hostname and the VM name on vcenter?

[2020-08-26 16:34] #381 closed

[2020-09-02 17:10] kfox1111 commented on #268
/reopen
/remove-lifecycle rotten

[2020-09-10 08:38] tuxiem opened #390 "CPI cannot find a suitable IP on VMs with only one interface listed in vSphere"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After installing cloud-provider-vsphere, not all VMs can be provisioned, as the CPI cannot find a suitable IP, even though vSphere lists an IP on the VMs.
VM's where several interfaces are listed, works correctly.

**VM that won't work:**
[code]
**VM that works as expected:**
[code]
[code]

**What you expected to happen**:

[2020-09-10 14:34] dvonthenen commented on #390
This sounds like this problem... Did you run though these steps?

https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/known_issues.md

[2020-09-11 06:33] alex1989hu opened #391 "Extend list of tolerations for cloud-controller-manager"
/kind feature

**What happened**:

Currently we are running Kubernetes cluster on vSphere Hypervisor.  The new version of the Kubernetes cluster *"provider"* sets a taint `node-role.kubernetes.io/master=true:NoSchedule` on `master` node.

Additional Kubernetes cluster sets that taint:
xref: https://docs.platform9.com/kubernetes/disallowing-workloads-on-kubernetes-master-nodes/
xref: https://www.ta

[2020-09-14 21:12] jayunit100 opened #393 "Config viperization/consolidation: needs to be abstracted away from env vars (or at least LookupEnv should happen in one place)"
**What happened**:
Were about to add dual stack to this cloud provider, but as of now weve got some drift around where the configs coming from external are stored:
[code]

**What you expected to happen**:

env vars should probably be parsed into a global config object w a validateconfig func

**How to reproduce it (as minimally and precisely as possible)**:

grep :)

**Anything else we need to kno

[2020-09-14 21:17] jayunit100 commented on #393
i guess if we want lightweight something as simple as

[code]

followed by

[code]

but if we suspect more sophisticated config in the future something like viper (https://github.com/spf13/viper) could be used to do this automagically.

[2020-09-15 00:08] dvonthenen commented on #393
We do have the ENVVARs in 2 main locations depending on if the setting is common or not... we just got a little lazy with the `SKIP_NODE_DELETION` flag because we through it was going to be just a temporary one-off flag for a single release.

You can find the CPI and common vars:
CPI specific envvars - https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/confi

[2020-09-23 15:07] AntonSmolkov commented on #381
latest cpi-manager (**v1.2.1** )
Unfortunately the issue is still takes place(
Not always, but pretty often node (re)creation goes to loop.

<details><summary>Expand log</summary>
<p>

[code]

</p>
</details>

[2020-09-23 15:12] andrewsykim commented on #381
E0923 14:54:20.743297 1 datacenter.go:124] Unable to find VM by UUID. VM UUID: 423d053b-954e-4808-d456-6acb5072aa28
E0923 14:54:20.743352 1 search.go:181] Error while looking for vm=423d053b-954e-4808-d456-6acb5072aa28(byUUID) in vc=vc.domain.com and datacenter=SUPER_DATACENTER: No VM found
I0923 14:54:20.743372 1 search.go:186] Did not find node 423d053b-954e-4808-d456-6acb5072aa28 in vc=vc.domai

[2020-09-23 15:37] AntonSmolkov commented on #381
Looks like it tries to find node by previous id and then deletes it by name, using actual id.
![image](https://user-images.githubusercontent.com/5318028/94035131-6ac97f00-fdcb-11ea-879f-ce15139de8be.png)

Just in case: I use Rancher and run `kubectl delete lab-kubeworker-1` to recreate node

[2020-09-23 15:49] andrewsykim commented on #381
Ah, so those two UUIDs are supposed to be different since one is the UID on the Kubernetes node and one is the VM UUID in vSphere.

Can you check if `423d0529-.....-d59b5e7b7ca9` specifically matches the VM's UUID in vCenter?

[2020-09-23 15:52] andrewsykim commented on #381
Looking at your logs again, I see there are actually two UUIDs there `423d7a1d-......-b0f1359ae019` and `423d0529-....-d59b5e7b7ca9` is the VM itself also being recreated or is this all happening on the same VM on vSphere?

[2020-09-23 15:54] andrewsykim commented on #381
Are you setting `--cloud-provider=vsphere` on the kubelet by any chance?

[2020-09-23 15:59] AntonSmolkov commented on #381
At the bottom of my screenshot you can find PowerCli wich returnes exactly this UUID(..7b7ca9) for lab-kubeworker-1 VM.
So yes it definitely existed.

VM with the same name, yes

No, it is `--cloud-provider=external`, according to [this guide ](https://rancher.com/blog/2020/stateful-kubernetes-workloads)

[2020-09-23 16:06] AntonSmolkov commented on #381
[code]
I guess this might be related. According to logs VM UID was being cached.

[2020-09-23 16:07] andrewsykim commented on #381
Hmm can you try restarting vsphere-cloud-controller-manager to see if the issue gets resolved? It could be that an old VM with the same name was cached and is now providing a stale providerID for a node.

[2020-09-23 17:59] andrewsykim commented on #381
Regardless it seems like we should cache based on node UID and not the name so recreation of a node with the same name isn't accidentally cached. @gwang550 are you able to work on a fix for this?

[2020-09-23 18:15] gwang550 commented on #381
yeah, I will get that started

[2020-09-29 19:46] andrewsykim commented on #277
/remove-lifecycle stale

[2020-10-03 18:13] #327 closed

[2020-10-06 22:05] gwang550 commented on #381
@AntonSmolkov Hi, I am currently trying to reproduce the issue. Could you provide the detailed steps of reproducing the issue? Thanks

[2020-10-09 16:30] dvonthenen commented on #390
@tuxiem were you able to give this a try?

[2020-10-11 21:23] #326 closed

[2020-10-19 06:22] AntonSmolkov opened #397 "CPI 1.2 deletes a node object right after its recreation with the same name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

https://github.com/kubernetes/cloud-provider-vsphere/issues/381#issuecomment-697798343

[2020-10-19 06:23] AntonSmolkov commented on #397
@gwang550 Hi. Created a separate bug to track it.

[2020-10-19 06:28] lynic opened #398 "list nodes give <none> on internalIP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubectl list nodes
Some nodes display <none> on internalIP and ExternalIP.

**What you expected to happen**:
These nodes should display their IP on interlanIP and externalIP.

**How to reproduce it (as minimally and precisely as possible)**:
Stop vmware-tools inside node for a period of time.
kubectl list nodes, this node will displ

[2020-10-20 15:43] dvonthenen commented on #398
Hi @lynic

Did you happen to give this a try?
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/known_issues.md

[2020-10-20 15:45] dvonthenen commented on #397
Hi @AntonSmolkov

Did you try using 1.2.1? The CPI 1.2.0 does have that issue, but should be addressed. If you are using 1.2.0, could you provide some logs with `--v=6`? Thanks!

[2020-10-22 14:14] AntonSmolkov commented on #397
@dvonthenen
Hi. I use CPI 1.2.**1**. I mentioned it the related issue.
here is --v=6 log:
[cpi_deletes_wrong_node.log](https://github.com/kubernetes/cloud-provider-vsphere/files/5423340/cpi_deletes_wrong_node.log)
![image](https://user-images.githubusercontent.com/5318028/96884104-d285ef00-1489-11eb-9dcf-c7ba4f5c87fc.png)

Again: "not found" node UID and node being deleted are different
![image](h

[2020-10-22 16:44] vrabbi opened #399 "Build images for CPI as multi-arch images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
now that ESXi on ARM is available as a fling it would be great to get the CPI to support ARM based clusters.

**Anything else we need to know?**:
currently seperate issues were created in CSI and CAPV repos to support multi-arch as well which together with this would allow for running CAPV clusters on ARM which would

[2020-10-27 19:30] dvonthenen commented on #277
Going to assign this to you @gwang550. @andrewsykim thought it might be a good idea for you to take a look at this. I unfortunately am getting sidetracked temporarily with some internal unrelated items for right now. Looking to do this before accepting new merge requests.

[2020-11-05 22:11] dvonthenen commented on #368
@deshui123 PR https://github.com/kubernetes/cloud-provider-vsphere/pull/378 should have addressed in the 1.2.1 release. Please give this a try. If it doesn't meet you needs, please let us know.

/close

[2020-11-05 22:11] #368 closed

[2020-11-09 16:16] dvonthenen commented on #340
This should be addressed in this PR for charts repo. If not, please reopen.
https://github.com/helm/charts/pull/23682

/close

[2020-11-09 16:16] #340 closed

[2020-11-11 02:53] dantingl opened #404 "Pod route exchange with NSX-T"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When adding node to NSX-T networking, container data plane will be associated with NSX-T encapsulation protocols.

**What you expected to happen**:
Exchange routes with NSX-T tier 1 router, so that:
  - a non-encapsulation transit mode can be used when hosts are not layer-2 adjacent and must have traffic forwarded by a

[2020-11-13 01:38] andrewsykim commented on #404
Given we already support NSX-T load balancers and all the configuration handling exists, I would be okay to support this. @dantingl are you able to work on the PR for this?

[2020-11-13 01:51] dantingl commented on #404
Sure, I can work on this.

[2020-11-13 01:58] andrewsykim commented on #404
Thanks!

/assign @dantingl

[2020-11-16 17:40] dealboy opened #406 "cpi cannot find node - Unable to find VM by UUID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CPI cannot find the VMs in vsphere.
**What you expected to happen**:
CPI to query and find all VMs, and assign a ProviderID

**How to reproduce it (as minimally and precisely as possible)**:
it happens every time in my reference setup and configuration.
I presume that is either a path issue (our VMs are not in default fol

[2020-11-16 17:56] alex1989hu commented on #406
Did you install `open-vm-tools` onto nodes?

[2020-11-16 19:20] dealboy commented on #406
@alex1989hu yes, open-vm-tools  v11.0.2

[2020-11-16 19:30] alex1989hu commented on #406
When we started to use CPI, we faced that it is mandatory to have it installed - this is why I asked it. Anyway, I found the root cause in your log message:

I1116 17:16:47.427617 1 connectionmanager.go:152] Invalid credentials. Fetching credentials from secrets.

[2020-11-16 19:33] dealboy commented on #406
I have also spotted that, but I am sure that the credentials in the secret are correct.
They are stringData (so I can verify them easily )

[2020-11-16 19:33] dvonthenen commented on #406
It is because the CPI first tries to use the creds in the secret before falling back to the config. Also make sure the correct secret is being referenced in the correct namespace.

[2020-11-16 19:42] dealboy commented on #406
I have no credentials defined in the vshpere.conf, only the secretName/secretNamespace combination.

and verified that  I get back the secret from the kube-system namespace

[code]

[2020-11-16 19:47] dealboy commented on #406
One interesting thing is that using only the username in the secret, vsphere-cloud-controller-manager gives me more errors.
Changing it to username@dev.int , it give only the error line shown above.

(On vcenter I can login either with `username@dev.int` or with plain `username` )

[2020-11-16 19:47] dvonthenen commented on #406
seems like the secret data is not correct then... I'm willing to bet it's your username. Try taking the values and logging into vsphere with them

[2020-11-17 08:54] dealboy commented on #406
Hi @dvonthenen , I did that, and the accounts can be used to logging into vsphere!

My VMs are under one cluster in vphere and in a 3 level folder structure, does this matter?
is that VM lookup capable of searching in a folder  tree? or in the cluster?

[2020-11-17 14:15] dealboy commented on #406
and my kubelet reports `csi.vsphere.vmware.com-reg.sock: connect: connection refused`

does that info help?

[code]

[2020-11-17 17:03] dvonthenen commented on #406
this shouldn't matter as long as you are running the 1.2.X or later release

[2020-11-17 17:05] dvonthenen commented on #406
It seems like you have a problem with the CSI driver. Before running CSI for vSphere, the node lookup in CPI should be addressed first.

[2020-11-17 17:12] dvonthenen commented on #406
Can you log into the vSphere MOB, find the VM and grab a screenshot of 2 things:
1) grab a screenshot of the `summary.config` field/struct for VM `dev-dev-0348`
2) grab a screenshot of the `guest` field/struct (same VM)

[2020-11-17 17:13] dvonthenen commented on #398
What version of CPI are you using? If you restart the CPI, does the correct correct IP show up?

[2020-11-17 17:19] dvonthenen commented on #397
I missed the link to the first stale issue and was thinking this was a new issue. The UnregisterNode should remove the VM objects based on UUID from cache... will try to simulate the delete and recreate a VM to reproduce.

[2020-11-17 22:48] andrewsykim commented on #404
@MartinWeindel any thoughts on this?

[2020-11-18 09:53] dealboy commented on #406
![image](https://user-images.githubusercontent.com/1675899/99514062-9c099a00-298b-11eb-8593-735ccc988436.png)

![summary config](https://user-images.githubusercontent.com/1675899/99514561-2f42cf80-298c-11eb-86d4-841f7852c571.PNG)

[2020-11-19 02:24] zhoudayongdennis opened #409 "PV was in Released status but the persistentVolumeReclaimPolicy with Delete in storageclass"
vSphere Client version 6.7.0.40000 with CNS volume usage.

here was the detail info about Released PV, and detail info for an example Release PV.

the number was in increasing trend.

[root@nc0750node02 ~]# kubectl get pv | grep vsphere | grep Released |wc -l
46
[root@nc0750node02 ~]# kubectl get pv | grep vsphere | grep Released
pvc-05ab5701-834e-4181-8401-d02ce444f3f6   4Gi        RWO

[2020-11-19 03:40] andrewsykim commented on #409
I think you want to open this issue in https://github.com/kubernetes-sigs/vsphere-csi-driver instead

[2020-11-19 03:43] #409 closed

[2020-11-19 03:43] zhoudayongdennis commented on #409
invalid one and create new one in CSI instead of CPI

[2020-11-19 03:54] andrewsykim opened #410 "Node GC Controller"
/kind feature

**What happened**:
There are certain scenarios where it could be beneficial to delete the underlying VM of a node that is in a failed state. One example would be if a node is in a failure state and cannot unmount and detach volumes. In this state, a new pod cannot be  rescheduled to a new node until it's associated volume is unmounted and detached, but we also cannot unmount volumes

[2020-11-19 15:50] andrewsykim commented on #410
This sort of behavior is also something that the cluster provisioner should probably handle, not the cloud provider. But still open to hearing ideas/suggestions on this problem.

[2020-11-19 16:21] dealboy commented on #406
Hi @dvonthenen  do you see anything strange on the above screenshots?

Is there something else I could try?

[2020-11-19 20:42] dvonthenen commented on #406
I think I see the problem, the hostname should be the FQDN. If you update the hostname to `dev-dev-0348.development.int`, that should fix it.

[2020-11-19 21:55] dvonthenen commented on #374
This PR https://github.com/helm/charts/pull/23682 bumped to 1.2.1 and also addressed this issue

[2020-11-19 21:55] #374 closed

[2020-11-22 02:29] lynic commented on #353
No.. have to restart cloud-controller-manager...

[2020-11-22 02:31] lynic commented on #353
Right, might be that’s causing the issue.

[2020-11-22 02:35] lynic commented on #398
Version shows in description, yes, we apply the changes to vmware-tools. The problem is if vmware-tools didn’t report the ip to vc during a period of time, the internalIP will become none, even after the vmware-tools back to normal, the internalIP will not come back until we restart cloud-controller-manager.

Did u fix it in latest code?

[2020-11-23 17:10] dealboy commented on #406
thanks a lot @dvonthenen !  issue is fixed

[2020-11-23 17:10] #406 closed

[2020-11-23 18:12] dvonthenen commented on #406
Awesome!

[2020-11-24 14:40] xing-yang commented on #410
Once a VM is deleted by this Node GC Controller, who is responsible for creating a new VM?

[2020-11-24 14:52] andrewsykim commented on #410
I think that's up to the cluster provisioner. There's an assumption here that some other system is ensuring clusters always have some desired number of nodes. There's a case to be made that the cluster provisioner should just handle the node health check and deletion then, and not the cloud provider. But that would require every provisioner to re-implement this logic, and typically provisioners do

[2020-11-24 14:54] andrewsykim commented on #410
I'm happy to be convinced that the cluster provisioner should handle this sort of thing, cause I'm not in favor of adding this sort of functionality to the cloud provider unless there are no better alternatives. If I'm taking Cluster API as an example, it has machine health checking capabilities but it does not inspect volume states before it decides to replace nodes. Maybe this is acceptable thou

[2020-11-25 15:49] jonkerj opened #413 "Supplied deployment manifests taint/toleration mismatch in k8s 1.19"
/kind bug

**What happened**:
I am using CAPV to bootstrap Talos on vSphere (using CABPT and CACPPT), which mostly works fine. My workload cluster is based on K8S 1.19.3. At the final step, when the API endpoint becomes available, CAPV injects the CPI in the workload cluster. On my workload cluster, however, this consistently leads to a non working `DaemonSet`:

[code]
Note the 0 desired there.

*

[2020-11-25 19:24] dvonthenen commented on #413
I believe this PR https://github.com/kubernetes/cloud-provider-vsphere/pull/392 should address this issue... it just hasn't been merged yet.

If you could test out this change, I can merge this. I'm out on PTO and won't be able to check until Monday.

[2020-11-26 13:35] jonkerj commented on #413
Works like a charm!

[2020-11-26 19:40] dvonthenen commented on #413
Ok. Merging! Thanks for testing this!

[2020-11-26 19:42] #391 closed

[2020-11-26 19:44] dvonthenen commented on #413
Ok. Merging https://github.com/kubernetes/cloud-provider-vsphere/pull/392! Thanks for testing this!

/close

[2020-11-26 19:44] #413 closed

[2020-11-26 20:22] tuxiem commented on #390
Sorry for the late reply.
The known issue guide you linked to, was the correct answer to our issue :)

Thanks for the help.

[2020-11-26 20:22] #390 closed

[2020-12-01 17:21] dvonthenen commented on #268
@kfox1111 I think this might be addressed with this doc
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/features/vsphere_csi_migration.md

[2020-12-05 09:35] AntonSmolkov commented on #397
An updates?☹️

[2020-12-19 08:45] inductor commented on #380
/remove-lifecycle rotten

[2020-12-22 03:12] #353 closed

[2020-12-22 21:20] SandeepPissay opened #419 "Update the CPI doc related to CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

This is related to the CSI doc here - https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md#install-the-vsphere-cloud-provider-interface. The doc says:

`Please note that the CSI driver requires the presence of a ProviderID label on each node in the K8s cluster. This can be

[2020-12-30 23:41] #356 closed

[2020-12-31 18:21] kfox1111 commented on #268
That doc looks pretty good. It doesn't mention if the cloud provider needs to be adopted as well or in what order to do that. So looking very close to done but not quite?

/remove-lifecycle rotten

[2021-01-02 21:50] #371 closed

[2021-01-04 19:33] #404 closed

[2021-01-05 16:58] dvonthenen commented on #397
Sorry I was on PTO for the better half of Dec. Just getting caught up with the backlog of stuff while returning. Will take some time getting to this.

[2021-01-14 15:40] andrewsykim opened #428 "Document least privilege roles for vCenter user credentials"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

We should document the least privilege required for the vCenter user/credentials used by the vSphere cloud provider. To my understanding, a read-only role should be sufficient since the vSphere cloud provider does not need any write permissions for VMs.

[2021-01-14 15:41] andrewsykim commented on #428
@dvonthenen do you know if we require write permissions for any operations?

[2021-01-18 05:10] vijaykatam opened #431 "CloudConfigSecret should not be reconciled if CloudProviderConfiguration is empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: The controller fails clusters when `CloudProviderConfiguration` is empty trying to reconcile `VSphereCluster.Spec.CloudProviderConfiguration.VCenter`

**What you expected to happen**: Controller should skip reconciling cloud-config secret when `CloudProviderConfiguration` is empty.

**How to reproduce it (as minimally and

[2021-01-18 10:36] yastij commented on #431
moving this to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1083

/close

[2021-01-18 10:36] #431 closed

[2021-01-19 00:46] corrieb opened #432 "Init fails if config file isn't called vsphere.conf, even when using ConfigMap"
/kind bug

**What happened**:

When following the directions for creating a ConfigMap from the vsphere.conf file for the CPI configuration, there is an undocumented expectation that the file name *must* be vsphere.conf in order for the CCM to initialize successfully.

I would argue that this is a fragile and unintuitive pre-condition, given that the CPI should be looking for the name of the Config

[2021-01-19 01:17] corrieb opened #433 "CloudProvider init appears to have succeeded when initialization failed"
/kind bug
**What happened**:

If you happen to install the Cloud Provider without ensuring that `--cloud-provider=external` is in the kubeadm config, the installation of the CloudProvider appears to have succeeded in that the CCM is running and healthy with no obvious errors.

The only indication that there was an error is if you look at the logs and you see:
[code]
I spent an hour tracing through

[2021-01-20 17:43] xgao3 opened #435 "Unable to label region/zone from vsphere CCM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When attempting to provision storage zone/region using documents from here:

https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html
https://vsphere-csi-driver.sigs.k8s.io/features/volume_topology.html

I'm not able to assign required zone/region node labels using the vSphere cloud config.

[2021-01-25 19:47] andrewsykim commented on #277
/remove-lifecycle stale

[2021-01-25 19:47] andrewsykim commented on #277
This is technically done with the last two minor releases

/close

[2021-01-25 19:48] #277 closed

[2021-01-26 14:09] nick-oconnor opened #436 "github.com/helm/charts deprecation"
[https://github.com/helm/charts](https://github.com/helm/charts) has been fully deprecated since Nov 13th 2020. The helm chart for this repo should be published elsewhere and the docs should be updated to point to the new location.

[2021-01-26 16:55] xgao3 commented on #435
I tried different version of k8s but still having issues assigning labels..  Any suggestions?

[2021-02-02 23:52] dvonthenen commented on #428
Sorry for the late reply. Been working on an internal release.

Shouldn't need write operations at all. The permissions should be the same as required by the in-tree driver... and also based on what the CSI driver does, it should also pretty close as far as permissions minus anything storage-related. I haven’t verified that though.

I not really sure about all the permissions required with the new

[2021-02-08 15:00] piepmatz opened #438 "CCM does not start with K8s 1.20 dependencies"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The CCM binary instantly exits with `--cloud-provider cannot be empty`, even though the flag is provided. The binary doesn't react to any flags at all, e.g. `--version` and `-h` have no impact.

I noticed this with a different, private CCM after updating the K8s dependencies to 1.20 and wanted to look how others have sol

[2021-02-19 10:28] piepmatz commented on #438
It's a K8s upstream bug: https://github.com/kubernetes/cloud-provider/issues/44

[2021-02-22 15:54] xing-yang commented on #410
/remove-lifecycle stale

[2021-02-22 15:55] xing-yang commented on #410
It might be possible to "cleanup" such a node before pods are allowed to be scheduled on it again rather than delete it.

[2021-03-02 03:57] nicolehanjing commented on #438
Hi @piepmatz
I have a PR out for fixing this issue: https://github.com/kubernetes/cloud-provider-vsphere/pull/434
There is another PR to fix the upstream bug: https://github.com/kubernetes/kubernetes/pull/98210

[2021-03-04 19:42] #438 closed

[2021-03-12 12:59] PSTobiasMueller commented on #435
I've the same issue. I tried the example from the gitbooks page and although the ccm finds my node i did'nt get any labels for region or zone

[2021-03-13 07:08] lubronzhan opened #447 "ProviderID Prefix to `vsphere-paravirtual` which doesn't match CAPV providerID Prefix"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
**What happened**:
When deployed with CAPV using the `vsphere-paravirtual` CP, providerID in machine spec is like `providerID: vsphere://421fddb7-1f54-b972-1b97-528b55613b94`, but on the node spec ` vsphere-paravirtual://421cae04-e91b-f502-03a4-e9b4e4690115`, which set by the paravirtual provider.

Because `ProviderID` is constructed using t

[2021-03-16 15:45] tgelter opened #449 "CPI installation tutorial link broken"
/kind bug

**What happened**:
While investigating CPI, I found that the link to the installation tutorial is broken:
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/cloud_provider_interface.md#how-do-i-install-it

**What you expected to happen**:
Upon clicking the link, I should be directed to the installation tutorial for the vSphere CPI.

**How to reproduce it (as mini

[2021-03-16 23:22] vhosakot opened #450 "vsphere-cloud-controller-manager does not work when k8s nodes have multiple network interfaces (NICs)"
**BUG REPORT**:

/kind bug

**What happened**:
When k8s nodes have multiple network interfaces (NICs), `vsphere-cloud-controller-manager` pod has the following error in logs and does not remove the `node.cloudprovider.kubernetes.io/uninitialized: true` taint on the nodes:
[code]

Due to this, `coredns` pod will be in `Pending` state since the `node.cloudprovider.kubernetes.io/uninitialized: true`

[2021-03-19 08:35] lubronzhan commented on #447
Fixed in https://github.com/kubernetes/cloud-provider-vsphere/pull/448

[2021-03-19 08:35] #447 closed

[2021-03-19 09:52] inductor commented on #380
/remove-lifecycle stale

[2021-03-21 19:18] #399 closed

[2021-03-28 06:00] nickvth commented on #435
You added those tags also on your VMware nodes ? https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.md#2-creating-zones-in-your-vsphere-environment-via-tags

[2021-04-04 23:50] #276 closed

[2021-04-04 23:50] #306 closed

[2021-04-13 18:29] Alxndr3 opened #454 "HA Cluster - vSphere Cloud Provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'm following this doc https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html

I am using a load balancer as my ControlPlaneEndpoint, now I would like to join a new master to the cluster passing the cloud-provider flag as well (I believe it is necessary as it is for the workers).

The first Cont

[2021-04-17 11:02] bsctl commented on #419
@SandeepPissay any update on it? For my understanding the sentence you reported is no more applicable and no ProviderID label must be provided. Correct?

[2021-04-19 07:41] nicksu-kdkd opened #455 "Node removed after the vm was removed from inventory on vSphere"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After we remove vm from inventory on vSphere, the node was removed from openshift

**What you expected to happen**:
The node still exist in the openshift but become unready status

**How to reproduce it (as minimally and precisely as possible)**:
Every time remove the vm from inventory in vSphere

**Anything else we need

[2021-04-19 16:27] SandeepPissay commented on #419
@bsctl I had an issue with this statement - `Please note that the CSI driver requires the presence of a ProviderID label on each node in the K8s cluster. This can be populated by whatever means is most convenient`

I was highlighting that CPI is a must since we have always qualified vSphere CSI with CPI. In other words, we do not support any other component updating the ProviderID of the node.

[2021-04-21 04:03] #398 closed

[2021-04-26 15:40] nick-oconnor commented on #436
/remove-lifecycle stale

[2021-04-28 14:28] andrewsykim opened #456 "internalVmNetworkName/externalVMNetworkName config should not rely guest info"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Setting the config internalVmNetworkName or externalVMNetworkName results in the node controller checking for VMs that have the corresponding network name in the guest info. The guest info is actually not guaranteed to have this field set so we should use a more reliable approach to determining the network name that a VM b

[2021-04-28 20:54] cantbewong opened #457 "Documentation does not provide an easy answer to the question "Is Kubernetes version X supported?" where X is a recent release"
/kind bug

**What happened**:
Documentation does not contain information on cloud provider support of recent kubernetes versions. For example if I want to deploy Kubernetes 1.20 that release of the clod provider (if any) would support this?

**What you expected to happen**:
Something like the notes found used the github page for the [azure](https://github.com/kubernetes-sigs/cloud-provider-azure)

[2021-05-05 12:53] Itai-Rosenmann opened #458 "Support for using datastore cluster as storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am looking for a way to use a datastore cluster or multiple datastores as the storage for a single StorageClass.
I was able to find issue [#78](https://github.com/kubernetes/cloud-provider-vsphere/issues/78) which seems to say that it's supported. I am unable to find how to do it in the documentation and so I am looking for clarif

[2021-05-11 19:46] tgelter commented on #458
@Itai-Rosenmann if it helps, our group is using datastore clusters by leveraging [tag-based storage policies](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.storage.doc/GUID-D025AA68-BF00-4FC2-9C7E-863E5787E743.html):
[code]

[2021-05-19 21:29] divyenpatel opened #463 "Remove documentation about vSphere CSI Driver from CPI Documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind documentation

**What happened**:
[CPI documentation](https://cloud-provider-vsphere.sigs.k8s.io/) says about vSphere CSI Driver. Information is not up to date and creating confusion for customers. We need to remove all references of vSphere CSI Driver from the CPI documentation.

**What you expected to happen**:

Here are vSphere CSI references

[2021-05-24 13:50] ibauersachs opened #465 "Document a support policy/commitment for Kubernetes versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The documentation does not provide a support policy for new Kubernetes releases. E.g. v1.19.0 of cloud-provider-vsphere was released on Jan 14 2021, while Kubernetes v1.19 was released on 26 August 2020. Similarly, there is no stable release of cloud-provider-vsphere v1.20 yet (with Kubernetes released 8 December 2020, mo

[2021-05-25 19:48] #450 closed

[2021-05-27 15:56] andrewsykim commented on #433
/remove-lifecycle rotten

[2021-05-27 17:05] corrieb commented on #433
@andrewsykim Thanks for the update Andrew. Can you explain how it's a valid configuration? When would you ever want a situation where you don't get ProviderIDs?

[2021-05-27 17:34] andrewsykim commented on #433
It's not very common so I'm not sure if we need to account for it, but if I wanted to join baremetal machines to a cluster where the control plane runs on vSphere, I wouldn't set --cloud-provider=external on the kubelets of those machines.

[2021-05-30 19:34] #268 closed

[2021-06-04 01:29] #449 closed

[2021-06-04 18:11] #393 closed

[2021-06-04 18:11] #397 closed

[2021-06-07 18:44] MaxRink opened #474 "Support more complicated network setups ther multiple CIDRs are in use for Internal and external IPs"
/kind feature

**What happened**:
Currently the CPI only supports specifying a single CIDR  to match for internal and external IP.
That isn't always enough, in some instances you end up not being able to set a CIDR that covers all networks that are internal/external (e.g. if you have both 10.0.0.0/8 and 192.168.0.0/16 internal IPs there is no way to safely specify a cidr that covers both without a

[2021-06-10 08:38] nickperry opened #475 ""Signaling deletion" logged at verbosity 4 - should be 2?"
https://github.com/kubernetes/cloud-provider-vsphere/blob/f7b9efdc6be16ba973e2c17cbff28fbff0d4ac57/pkg/cloudprovider/vsphere/instances.go#L179

is logged at V(4), whilst https://github.com/kubernetes/cloud-provider-vsphere/blob/f7b9efdc6be16ba973e2c17cbff28fbff0d4ac57/pkg/cloudprovider/vsphere/instances.go#L164 is at V(2).

This seems counterintuitive? As a user, I'm - if anything - MORE likely to

[2021-06-10 08:46] nickperry opened #476 "Is SKIP_NODE_DELETION staying? Can it be documented and used by end users?"
SKIP_NODE_DELETION was originally only intended to be a temporary provision - per https://github.com/kubernetes/cloud-provider-vsphere/issues/393#issuecomment-692382596 - however it still exists.

https://github.com/kubernetes/cloud-provider-vsphere/blob/f7b9efdc6be16ba973e2c17cbff28fbff0d4ac57/pkg/cloudprovider/vsphere/instances.go#L174

Can it be documented and used by end users?

[2021-06-10 12:42] yastij commented on #476
cc @andrewsykim

[2021-06-11 20:57] #457 closed

[2021-06-15 22:45] nicolehanjing commented on #465
@ibauersachs We added the release matrix to README file last week: https://github.com/kubernetes/cloud-provider-vsphere/pull/459, hope that helps :)

[2021-06-16 11:10] ibauersachs commented on #465
@nicolehanjing The information merged in #459 doesn't answer my question _at all_. It doesn't contain any timeline for new versions nor a support promise.

[2021-06-17 16:43] jvrahav commented on #433
@andrewsykim would it be possible to address a part of this bug by publishing status on nodes to indicate if there are any failures that CPI is aware of

[2021-06-17 16:48] nicolehanjing commented on #475
Hi @nickperry thanks for raising this, we will fix this soon

[2021-06-17 17:57] nicolehanjing commented on #465
I think our current policy is that when a new Kubernetes release comes out, we will bump our k8s dependencies and cut a new release for cloud provider vsphere.
e.g. v1.19.x of cloud-provider-vsphere was released after k8s v1.19 comes out
sometimes we delay our release because of testing for new features or bug fixes

[2021-06-17 21:35] nickperry opened #479 "Should CPI delete an unhealthy node when it cannot confirm its existence in VCenter? Or should it have to successfully confirm its non-existance in VCenter?"
Should CPI delete an unhealthy node when it cannot confirm its existence in VCenter?

Or, should it have to successfully confirm its non-existance in VCenter?

I believe the former is currently how it works, but I would like it to work like the latter.

/kind bug

**What happened**:

We had a production outage.

A node exceeded the node-monitor-grace-period of 40 seconds between node lease heartbe

[2021-06-17 22:17] nickperry commented on #479
https://github.com/kubernetes/cloud-provider-vsphere/blob/f7b9efdc6be16ba973e2c17cbff28fbff0d4ac57/pkg/cloudprovider/vsphere/instances.go#L155-L181

https://github.com/kubernetes/cloud-provider/blob/kubernetes-1.19.5/controllers/nodelifecycle/node_lifecycle_controller.go#L145-L151

[2021-06-17 22:17] nickperry commented on #479
https://github.com/kubernetes/cloud-provider/blob/kubernetes-1.19.5/controllers/nodelifecycle/node_lifecycle_controller.go#L145-L151

[2021-06-18 00:16] inductor commented on #380
/remove-lifecycle rotten

[2021-06-18 02:35] #432 closed

[2021-06-18 17:42] #419 closed

[2021-06-24 00:31] divyenpatel commented on #463
@andrewsykim when can we fix the documentation and remove this page - https://cloud-provider-vsphere.sigs.k8s.io/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.html

Customers are getting confused regarding the requirement of CPI for topology feature - https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/966

The topology feature in the vSphere CSI driver works fine without the

[2021-06-25 16:27] mstrent opened #480 "Missing/out of date helm charts"
**What happened**:

Documentation references install via Helm but links are broken or out of date. No official, maintained source seems to exist. The barrier to entry is pretty high on vsphere-csi/cpi. Good helm packaging would improve on this drastically.

[code]

**What you expected to happen**:

Helm is a superior way to install and upgrade something like vsphere-cpi.

**How to reproduce it (as