[2021-06-28 03:46] lubronzhan commented on #479
Hi @nickperry. Do you still have the full CPI log.
According to the logic here https://github.com/kubernetes/cloud-provider-vsphere/blob/v1.2.1/pkg/common/vclib/datacenter.go#L119-L122. it should throw credentials error instead of ErrNotFound.

And also the log you showed, also indicate it didn't get into the deletion logic
[code]

https://github.com/kubernetes/cloud-provider/blob/5a236942a3ca6f04

[2021-06-28 12:53] nickperry commented on #479
Hi @lubronzhan . I agree - this was the the conclusion I drew when walking through code paths also. However, that line in my kube-apiserver audit logs -

`Event(v1.ObjectReference{Kind:"Node", Namespace:"", Name:"foo", UID:"365e994a-0d2e-4e0f-a82c-14ba25c392ee", APIVersion:"", ResourceVersion:"", FieldPath:""}): type: 'Normal' reason: 'Deleting node foo because it does not exist in the cloud provi

[2021-06-28 14:55] nickperry commented on #479
@lubronzhan Here are unfiltered logs for the period. I have just changed hostnames and IPs
[cpi-logs.txt](https://github.com/kubernetes/cloud-provider-vsphere/files/6727264/cpi-logs.txt)

[2021-07-03 01:42] #428 closed

[2021-07-08 12:09] dburianov opened #482 "1 nodes.go:85] Failed to register node:"masterxx". err=datacenter 'DCNAME - Region' not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have several configured DataCenters in our VSphere with names like:
DCNAME - Region, State
and we could not install cloud-provider-vsphere with error:
1 nodes.go:85] Failed to register node:"masterxx". err=datacenter 'DCNAME - Region' not found

**What you expected to happen**:
After investigate this problem we found n

[2021-07-12 20:08] nicolehanjing commented on #482
@andrewsykim wondering if we previously have any naming policy for DataCenter?
that code was written a few years ago, I might miss some contexts here

[2021-07-12 20:48] dburianov commented on #482
As I know we use this policy for naming resources more then 3 years. Now we start process upgrade (deploy new cluster with kubespray) exist Kubernetes infrastructure with implement VMWare storage and we have this error. We looked for sollution for renaming exist DataCenters but we have a lot of scripts, where used exists DC names.

[2021-07-12 20:52] dburianov commented on #482
and experiments with escape symbol `,` in Go have not positive results

[2021-07-13 20:12] nicolehanjing commented on #482
Hi @dburianov
can you also share the **vsphere.conf** you use?
e.g. https://github.com/kubernetes/cloud-provider-vsphere/blob/master/manifests/controller-manager/vsphere.conf#L14

Also, do you have the log that matches this line: https://github.com/kubernetes/cloud-provider-vsphere/blob/d5f062858935b9c50b0e8e53463b6985ca34494c/pkg/common/connectionmanager/search.go#L152, which would be helpful to

[2021-07-13 22:42] divyenpatel opened #483 "gcr.io/cloud-provider-vsphere/cpi/release/manager:latest is tagged to very old image v1.2.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`gcr.io/cloud-provider-vsphere/cpi/release/manager:latest` is tagged to very old image `gcr.io/cloud-provider-vsphere/cpi/release/manager:v1.2.1`

**What you expected to happen**:
Can we correct the latest tag to point to `gcr.io/cloud-provider-vsphere/cpi/release/manager:v1.21.0`

cc: @andrewsykim

[2021-07-13 22:55] divyenpatel opened #484 "vSphere Cloud Provider unable to find windows node VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

vSphere Cloud Provider unable to find windows node VM.

[code]

**What you expected to happen**:

ProviderID should be set on the windows worker node.

**How to reproduce it (as minimally and precisely as possible)**:
Added windows worker node on the Kubernetes cluster.

[code]
Node status becomes not ready.
ProviderID i

[2021-07-13 23:38] divyenpatel commented on #484
Thanks, @dvonthenen for tips to workaround.

set lowercase name `windows-node1` as DNS name, VM name and node name and things are working normally now.

[code]

[code]

previously Node name was lower case: `win-hffa4m36jvl`, VM name was the lower case: `win-hffa4m36jvl` but DNS name on the VM was the upper case: `WIN-HFFA4M36JVL`.

[2021-07-14 17:25] dburianov commented on #482
Hello @nicolehanjing

[code]

I don't found nothing in my logs for this log output

My logs:
[code]

[2021-07-14 18:25] nicolehanjing commented on #482
Hi @dburianov can you share the logs of `vsphere-cloud-controller-manager`?

[2021-07-14 20:12] dburianov commented on #482
``Hello @nicolehanjing
Additional logs for my previus post
`I0714 09:21:29.952307       1 controller.go:357] ControllerGetCapabilities: called with args {XXX_NoUnkeyedLiteral:{} XXX_unrecognized:[] XXX_sizecache:0}
I0714 09:21:30.284000       1 controller.go:357] ControllerGetCapabilities: called with args {XXX_NoUnkeyedLiteral:{} XXX_unrecognized:[] XXX_sizecache:0}
I0714 09:22:29.011706       1

[2021-07-14 20:14] dburianov commented on #482
`kubectl logs vsphere-cloud-controller-manager-jcz8n -n kube-system
I0714 09:22:10.081939       1 main.go:65] vsphere-cloud-controller-manager version: ${VERSION}
I0714 09:22:10.082249       1 flags.go:33] FLAG: --address="0.0.0.0"
I0714 09:22:10.082257       1 flags.go:33] FLAG: --allocate-node-cidrs="false"
I0714 09:22:10.082262       1 flags.go:33] FLAG: --allow-untagged-cloud="false"
I0714 09:

[2021-07-14 20:50] andrewsykim commented on #482
Do you think you can set the log verbosity to 4 (`--v=4`) and share the logs again?

[2021-07-14 20:52] andrewsykim commented on #482
Also, is it accurate to assume your data center is in the format `DCNAME - Region, State`? I _think_ if you don't set the datacenter in the config it will default to checking all datacenters which would work around the parsing issue. Our config reader accepts multiple datacenters that are separated by commands, so a name like `DCNAME - Region, State` is read as two separate datacenters, not one.

[2021-07-14 20:55] andrewsykim commented on #483
Hi @divyenpatel we intentionally stopped pushing to latest because folks were pulling the latest image _without_ updating their manifests accordingly which lead to breaking changes. The recommendation going forward is to use a tagged version based on the kubernetes version of the cluster (major and minors should match)

[2021-07-14 20:56] andrewsykim commented on #484
@dvonthenen do you have context on the requirement for hostnames to be lowercased?

[2021-07-15 19:05] jvrahav commented on #433
Had a brief discussion on this. Andrew suggested that we could potentially make use of NodeConditions to convey the status of CPI w.r.t node. With this we should be able to validate a node for CPI installation/configuration

[2021-07-16 19:48] chris93111 opened #485 "panic error after found instance in k3s"
Hello after install cpi , i have error panic after found vm in vcenter

[code]

[root@vldsokub01-chris ~]# kubectl get nodes
NAME               STATUS   ROLES                  AGE    VERSION
vldsokub01-chris   Ready    control-plane,master   4h4m   v1.20.4+k3s1
vldsokub02-chris   Ready    <none>                 4h1m   v1.20.4+k3s1
[root@vldsokub01-chris ~]# kubectl describe nodes | egrep "Taints:|

[2021-07-19 09:07] lubronzhan commented on #485
Hi @chris93111 , do you have the image tag for the CPI image so we could see what version you are using?
Looks like it's using k8s 1.15 code instead of the 1.20.4 which is is control plane node version
[code]

[2021-07-19 13:15] dburianov commented on #482
Hello @andrewsykim
as i see verbose mode set to 4

[code]

and in logs I see next:

[code]

as I understand, for my configuration with Datacenter with comma, I need rename my Datacenter.

[2021-07-19 15:02] chris93111 commented on #485
Hi @lubronzhan i use the manifest in documentation

[code]

[2021-07-19 20:37] nicolehanjing commented on #482
Hi @dburianov can you share the logs of `vsphere-cloud-controller-manager` and set the log verbosity to 4 (--v=4) ?

[2021-07-19 20:39] nicolehanjing commented on #485
Hi @chris93111 v1.2.1 is an old version of CPI, can you use the latest version: `gcr.io/cloud-provider-vsphere/cpi/release/manager:v1.21.0`?

[2021-07-19 22:50] chris93111 commented on #485
Hi @nicolehanjing thanks for you reply , so i tryed with version 1.21.0

[code]

[2021-07-20 05:32] nicolehanjing commented on #485
Hi @chris93111
Can you first verify that the setup for this part is correct? You will need to enter correct user/password, vc info and datacenter.
[code]
Also, can you share the link to the document you were referring to?
For v1.21.0, I added a sample release yaml file for your reference: https://github.com/kubernetes/cloud-provider-vsphere/pull/486/files#diff-1bf825163b0c7e334110351e52cff3091c739

[2021-07-20 08:42] chris93111 commented on #485
Hi @nicolehanjing this is my config :
global:
  user: XXXXXX
  password: "XXXXXXX"
  port: 443
  insecureFlag: true
vcenter:
  XXXXXXX:
    server: XXXXXX
    user: XXXXXX
    password: "XXXXXXX"
    datacenters:
      - XXXXXX
# labels for regions and zones

So i have used the manifest in the link for 1.21 and in thinks the error is same
[code]

[2021-07-21 02:50] lubronzhan commented on #485
Hi Chris there are two different issues here.
1. Why panic: our code missed the nil pointer case.
2. Why node not found: InstanceTypeByProviderID uses provider ID which is form as `vsphere://***`, since we [hardcode our providerName as vsphere](https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/cloud.go#L51). But when you deploy using k3s, the providerID is

[2021-07-21 08:42] chris93111 commented on #485
Hi @lubronzhan thanks for your reply

OK for the problem 1

For the problem 2 effectively the parameter --provider-id is not set in my cluster because i not found example for vsphere://xxxxx

thanks

[2021-07-21 13:08] dburianov commented on #482
Hello @nicolehanjing

[code]

[2021-07-21 18:37] nicolehanjing commented on #485
basically, you will need to set up parameters as @lubronzhan suggested
Also, we added the fix and doc for your reference: https://github.com/kubernetes/cloud-provider-vsphere/pull/486

[2021-07-22 00:02] chris93111 commented on #485
@nicolehanjing thanks is worked with your doc

[code]

[2021-07-22 17:53] #410 closed

[2021-07-22 23:59] #485 closed

[2021-07-27 02:25] braunsonm commented on #436
/remove-lifecycle-stale

[2021-07-27 02:26] braunsonm commented on #436
/remove-lifecycle stale

[2021-07-27 02:28] #436 closed

[2021-07-27 19:23] mstrent commented on #480
@nicolehanjing I'd say that PR doesn't fully fix this issue, since the instructions in the docs still specify a "helm repo add" command that doesn't work. As far as I can tell, there's still no valid Helm repo available, so either (1) you need to pull down a local copy of the charts from Github or (2) a proper Helm repo with an index.yaml needs to be provided/documented. (https://helm.sh/docs/topi

[2021-07-27 19:37] mstrent commented on #480
BTW there's several sources of documentation that need to be updated with correct instructions and current URLs:
https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-helm.html
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/kubernetes-on-vsphere-with-helm.md
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/charts/vsphe

[2021-07-27 19:53] andrewsykim commented on #483
/close

[2021-07-27 19:53] #483 closed

[2021-07-27 19:53] andrewsykim commented on #484
/close

[2021-07-27 19:53] #484 closed

[2021-07-27 19:55] nicolehanjing commented on #480
Hi @mstrent I will make updates for those related docs soon, once it's ready and fully tested I will let you know

[2021-07-27 22:01] mstrent commented on #480
One other quick thing for the Helm chart. On RKE2, the pods will never get scheduled due to 'node-role.kubernetes.io/master: ""' in the nodeSelector in the daemonset template. And since the template if / end value substitute doesn't cover that line, you can't override it with command line or values.yaml.

Either removing that line or extending the values override block around it would solve for RK

[2021-07-27 22:14] mstrent commented on #480
...and one more. The RBAC is missing permission for leases. This needs to be added to the role rules:

  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - watch
      - update

[2021-07-29 02:54] #480 closed

[2021-07-29 03:02] mstrent commented on #480
Thank you, @nicolehanjing !!

[2021-07-29 17:03] nicolehanjing commented on #482
Hi @drubin
From my understanding, the log you provided is not from a working leader instance of vsphere-cloud-controller-manager, see the logs:
[code]

I think there would be another vsphere-cloud-controller-manager pod that acquired leader lease, can you check that and provide the logs of the leader vsphere-cloud-controller-manager pod?

[2021-07-29 17:04] nicolehanjing commented on #456
/remove-lifecycle stale

[2021-07-29 17:15] nicolehanjing commented on #435
/remove-lifecycle rotten

[2021-07-29 17:18] nicolehanjing commented on #435
Hi @xgao3 the vsphere-cloud-controller-manager version (v1.2.1) you used was a very old one, zone/region support starts after v1.18.0
can you try using the latest version v1.21.0 and see if the issue is still reproducible?

[2021-07-29 19:21] nicolehanjing commented on #479
Hi @nickperry
Currently, the latest vsphere-cloud-controller-manager version is `1.21.0`. The version you used (v1.2.1) is an old one and `v1.2.1 cloud provider vsphere` used a very old **cloud provider** version: https://github.com/kubernetes/cloud-provider-vsphere/blob/v1.2.1/go.mod#L53
It might be good to update to the latest version.

I took a look at the logs, most of them are related to the

[2021-07-29 22:18] nickperry commented on #479
Thank you for your analysis @nicolehanjing

[2021-07-29 22:46] nicolehanjing commented on #479
@nickperry I tested with the latest cloud provider vsphere version 1.21.0, looks like this issue cannot be reproducible.

[2021-08-13 21:38] mitchellmaler commented on #476
If this is staying as an option can it be added as an option in the vsphere.conf file?

[2021-08-18 17:15] nicolehanjing commented on #380
/remove-lifecycle rotten

[2021-08-18 18:19] nicolehanjing commented on #463
Hi @divyenpatel The fix is currently working in progress: https://github.com/kubernetes/cloud-provider-vsphere/pull/497

[2021-08-19 05:16] moonek opened #498 "support for loadBalancerSourceRanges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The `loadBalancerSourceRanges` field of the k8s service object spec is intended to control access to the client ip.
[code]

This feature works by kube-proxy in in-cluster, but should also apply to external loadbalancer.

It seems to be implemented in the `pkg/cloudprovider/vsphereparavirtual` source.
https://github.c

[2021-08-19 07:42] inductor commented on #380
/reopen

[2021-08-20 14:21] kapalevan commented on #432
Does anyone solve that issue ?

Experiencing same issue with OpenShift 4.6

[2021-08-24 06:43] #463 closed

[2021-08-25 15:42] ozhankaraman opened #501 "old cached UUID is used to query from vSphere when adding new node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We plan to recycle/replace our nodes with same name, hostname, nodename but with different OS. First we delete the node with kubectl/kubespray, after that when we add new node cloud-provider-vsphere first responds like
" Successfully initialized node" and after that it gets error like below
"error while looking for vm=420

[2021-08-25 15:45] andrewsykim opened #502 "Get rid of grpc server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

The vSphere cloud provider runs a grpc server that serves information about nodes that are known to it. It's not really used in any way so it's probably worth investigating if we should just remove it. Curious if the grpc server is being used in any way by users.

[2021-09-01 12:36] Cellebyte opened #503 "[eCCM] If the kubeconfig or cloud-config changes the external CCM is not triggered to reload."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Instantiate a cluster with an external ccm monitoring it to check for the availability.
Delete the cluster and recreate it.
The CCM will now fail because it did not receive the kubeconfig change.

**What did you expect to happen:**
The CCM is functioning as expected and reloads when the

[2021-09-01 18:27] mcwumbly commented on #302
Reopening per discussion here on Slack: https://kubernetes.slack.com/archives/C8TSNPY4T/p1629900135316700

The second "validation" step documented here fails currently:

https://kubernetes.io/docs/tasks/network/validate-dual-stack/#validate-node-addressing

/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-09-01 19:53] srm09 commented on #302
/reopen

[2021-09-07 19:11] nicolehanjing opened #504 "New release image (v1.22) is not pushed to GCR"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We recently released v1.22 for cloud provider vsphere, see release here: https://github.com/kubernetes/cloud-provider-vsphere/releases/tag/v1.22.0
However, I didn't see the image get pushed to https://console.cloud.google.com/gcr/images/cloud-provider-vsphere/global/cpi/release/manager
Usually the Jenkins job will be trigg

[2021-09-10 20:03] #454 closed

[2021-09-16 09:09] #455 closed

[2021-09-16 20:48] ibauersachs commented on #465
An official documentation for supported versions and a support policy (like in the CSI documentation) is still missing.

/remove-lifecycle stale

[2021-09-22 15:06] PennyScissors opened #505 "Document CPI upgrade path between Kubernetes versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The official documentation does not provide a clear upgrade path between Kubernetes versions for any of the installation methods (manifests in release/ or helm chart).

**What you expected to happen**:
The official documentation should provide a clear upgrade path between Kubernetes versions for all current installation me

[2021-09-28 15:50] chris93111 opened #506 "k3s panic can't recover id"
**Is this a BUG REPORT **:

**What happened**:

Hi controller-manager panic with k3s, i don't know if the fix is present https://github.com/kubernetes/cloud-provider-vsphere/pull/486, the providerid is well configured in all nodes, the book tutorial for k3s is apply
i thinks the vm is found in datacenter "Found node 423613de-e909-d47d-e5f7-937e29dca684 as vm=VirtualMachine:vm-155207 in vc=vcenter1

[2021-09-30 13:43] chris93111 commented on #506
with v4 : and taint on master

[code]

[2021-10-05 13:47] bitnik opened #509 "vsphere-cpi chart fails when service is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `vsphere-cpi` chart deployment fails when service is enabled (`service.enabled`). `vsphere-cpi` pods stuck in "CreateContainerConfigError" state and when I describe a `vsphere-cpi` pod I see `Error: configmap "vsphere-cpi" not found` error.

**What you expected to happen**:

The `vsphere-cpi` chart is deployed succes

[2021-10-05 20:14] MaxRink commented on #474
/remove-lifecycle rotten

[2021-10-06 22:12] nicolehanjing commented on #509
Hi @bitnik thanks for raising this issue!
I think your solution should work, feel free to submit your PR and tag me for review

[2021-10-06 23:32] chris93111 commented on #506
Hi @nicolehanjing , thanks for your reply , yes is 1.21 -> gcr.io/cloud-provider-vsphere/cpi/release/manager:v1.21.0

[code]

[2021-10-07 08:32] ozhankaraman commented on #501
Hi @nicolehanjing, did you find any time to check this issue, issue is still valid, if you plan to work and send a fix I could test it on my platform.

[2021-10-13 00:22] jingxu97 commented on #78
@dvonthenen wondering whether you have any new update for this support? Thank you!

[2021-10-13 20:33] mcwumbly commented on #474
Just came across this and wanted to note that we considered the "list of strings" approach for the dual stack use case as well, but decided to cut that scope on our initial implementation, per https://github.com/kubernetes/cloud-provider-vsphere/pull/508:

perhaps this is one more reason to consider it though.

cc @tylerschultz

[2021-11-03 17:04] nicolehanjing commented on #504
Hi @brandond, this issue is solved by https://github.com/kubernetes/test-infra/pull/24029
You should be able to get 1.22 image now

[2021-11-03 22:26] nicolehanjing opened #521 "CPI is not adding proper 'ProviderID:' on the node with UUID"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We met an issue that when some nodes were deleted by the vSphere cloud provider(CPI), and later they got added back on the k8s cluster, CPI cannot set the proper providerID when the de-registered node was added back on the k8s cluster.

We've seen this case recently when the VM is undergoing failover, then when the VM is b

[2021-11-03 22:30] nicolehanjing commented on #521
after checking with vSphere team, there is a short period of time while a VM is being created that `config.uuid` will be empty.
To fix this, we'd like to defer node registration until the UUID is set.

[2021-11-08 18:43] #521 closed

[2021-11-08 19:46] ozhankaraman commented on #501
any news about the issue reported?

[2021-11-08 22:42] nicolehanjing commented on #501
Hi @ozhankaraman

I've investigated this issue today, and the problem I found is that even though `nodeRegUUIDMap` deletes the cache for node `dev-007-cluster-worker-0` with UUID `420d4a89-949a-19cb-5dd3-38adc685db54`, another cache called `nodeUUIDMap` still keeps that record (`420d4a89-949a-19cb-5dd3-38adc685db54` maps to `dev-007-cluster-worker-0`).

And then when we add node `dev-007-cluster-w

[2021-11-08 23:21] lubronzhan commented on #504
Fixed along with this issue https://github.com/kubernetes/test-infra/issues/23604 by https://github.com/kubernetes/test-infra/pull/24029

[2021-11-08 23:21] #504 closed

[2021-11-11 00:12] lubronzhan opened #525 "Need `priorityClassName: system-node-critical` on pod spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
There is no priority class in the pod spec
[code]

When there is high load on the control plane node, the cpi pod will be evicted because it doesn't have high priority

**What you expected to happen**:
cpi pod shouldn't be evicted when there is high load on the control plane node

**How to reproduce it (as minimally and p

[2021-11-11 00:22] nicolehanjing commented on #525
/good-first-issue

[2021-11-11 00:23] XudongLiuHarold commented on #525
/assign

[2021-11-11 18:33] divyenpatel opened #526 "CPI should not apply zone/region label on Nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**
/kind bug

**What happened**:
CSI finds the node's topology and returns the topology detail as part of the GetNodeInfo call which is set as a label on Node.
CPI should not apply zone/region labels on Nodes.

**What you expected to happen**:
- Remove documentation about configuring zone/region labels on nodes via CPI - https://cloud-provider-vsphere.sigs

[2021-11-11 23:31] divyenpatel commented on #526
I discussed this issue with the CSI team.

We can keep Cloud Provider adding zone/region labels, but when k8s administrators need to create storage class, they can look into what CSINodes CRD is publishing, rather than what all labels we have on nodes.

So closing this bug. I will create another issue to clear CSI examples from [here](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/deploying_

[2021-11-11 23:31] #526 closed

[2021-11-11 23:44] divyenpatel opened #527 "Need to remove vSphere CSI workload examples from CPI doc"
**Is this a BUG REPORT or FEATURE REQUEST?**:
We need to remove vSphere CSI workload examples (SC, PVC, etc.) from this page - https://cloud-provider-vsphere.sigs.k8s.io/tutorials/deploying_cpi_and_csi_with_multi_dc_vc_aka_zones.html

CSI Driver may not set the same labels CPI is setting. CSI is free to define its own topology labels and publish them on the node.
vSphere CSI Driver 2.4 is using cu

[2021-11-18 23:02] nicolehanjing commented on #435
/remove-lifecycle stale

[2021-11-21 16:36] Tony-The-Developer opened #529 "Cant create PVC with rancher vsphere CSI and CPI"
<  /kind bug

**What happened**:

Failed to provision volume with StorageClass "vsphere-csi-sc": rpc error: code = Internal desc = failed to get shared datastores in kubernetes cluster. Error: Empty List of Node VMs returned from nodeManager
xpected to happen**:

nodemanager.go:182] shakeOutNodeIDLookup failed. Err=nodeID is empty

**How to reproduce it (as minimally and precisely as possible)**:

[2021-11-22 00:59] lubronzhan commented on #529
Hi @Tony-The-Developer Could you turn on the log level to 5 so we could gather more information? Thank you.

[2021-11-22 01:03] Tony-The-Developer commented on #529
<html>
<body>

I1122 01:00:13.023803 1 controller.go:1332] provision "default/test" class "vsphere-csi-sc": started
--
Sun, Nov 21 2021 5:00:13 pm | I1122 01:00:13.023897 1 controller.go:520] skip translation of storage class for plugin: csi.vsphere.vmware.com
Sun, Nov 21 2021 5:00:13 pm | I1122 01:00:13.024105 1 event.go:282] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"defau

[2021-11-22 01:08] lubronzhan commented on #529
Is this CSI log? Could you share the CPI log instead? Since we only handle issues for CPI. There is different repo for CSI https://github.com/kubernetes-sigs/vsphere-csi-driver.

[2021-11-22 01:18] Tony-The-Developer commented on #529
I1121 16:49:10.159872 1 search.go:208] Found node 422ffd68-74b1-12e4-27ce-b125d5b1947d as vm=VirtualMachine:vm-9348 in vc=172.31.1.10 and datacenter=TTD
I1121 16:49:10.159937 1 search.go:210] Hostname: production-etcd1, UUID: 422ffd68-74b1-12e4-27ce-b125d5b1947d
I1121 16:49:10.159978 1 nodemanager.go:134] Discovered VM using normal UUID format
E1121 16:49:10.167826 1 nodemanager.go:182] shakeOutNo

[2021-11-22 01:47] lubronzhan commented on #529
Could you turn the log level to 4 by changing `--v=2` to `--v=5`then paste the CPI log here.
Looks like it tried to find the node and finally found it.
Could you show `kubectl describe nodes | grep "ProviderID"**` and `kubectl get node`
Are nodes all ready and has the providerID? If providerID are ok and nodes are ready, probably something wrong on the CSI side

[2021-11-22 02:43] Tony-The-Developer commented on #529
![image](https://user-images.githubusercontent.com/68414482/142793381-1abfe33a-9541-4461-aede-c2e5c41239aa.png)

[2021-11-22 02:44] Tony-The-Developer commented on #529
And where do I change the log level? I'm using rancher and helm.

[2021-11-22 17:56] nicolehanjing commented on #529
Hi @Tony-The-Developer
CSI installation doc is updated and can be found here: https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-61646244-E24F-4E7E-AB1A-F95B5A5DD518.html#GUID-61646244-E24F-4E7E-AB1A-F95B5A5DD518
We will update our doc in CPI to remove CSI parts soon, so please refer CSI docs directly

[2021-11-23 06:28] #527 closed

[2021-11-24 01:22] lubronzhan opened #531 "Reload pod if cloud secret is updated"
### What would you like to be added?

Currently, CPI reads data from a configMap and that configMap also refers to a secret:
For example:
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/releases/v1.22/vsphere-cloud-controller-manager.yaml#L11-L65

We should have a controller that watches these resource. Also the client shouldn't cache the CM and Secret since there could be tons of

[2021-11-24 01:26] lubronzhan commented on #503
Hi @Cellebyte how did you provision the cluster? I don't know we have this kind of way to deploy CCM before. Could you share the contexts? Thank you

[2021-12-02 01:47] alex-vmw opened #533 "vsphere-cloud-controller-manager version is not shown in the log correctly"
### What happened?

vsphere-cloud-controller-manager version is shown as `${VERSION}` in the log:
[code]

### What did you expect to happen?

Expected to see a version number instead of `${VERSION}`.

### How can we reproduce it (as minimally and precisely as possible)?

Start vsphere-cloud-controller-manager 1.22.3 and look at its log.

### Anything else we need to know (please consider providing

[2021-12-02 01:51] alex-vmw opened #534 "controllermanager.go version is not shown in the log correctly"
### What happened?

controllermanager.go version is shown as `v0.0.0-master+$Format:%H$` in the log:
[code]

### What did you expect to happen?

Expected to see a real version number instead of `v0.0.0-master+$Format:%H$`.

### How can we reproduce it (as minimally and precisely as possible)?

Start vsphere-cloud-controller-manager 1.22.3 and look at its log.

### Anything else we need to know (pl

[2021-12-02 18:07] nicolehanjing commented on #534
Hi @alex-vmw
this should be fixed in the upstream https://github.com/kubernetes/cloud-provider/blob/master/app/controllermanager.go#L144.
I've duplicated this issue in the cloud provider repo: https://github.com/kubernetes/cloud-provider/issues/53

[2021-12-02 21:33] nicolehanjing commented on #533
I think the value comes from https://github.com/kubernetes/cloud-provider-vsphere/blob/master/cmd/vsphere-cloud-controller-manager/main.go#L81, where [makefile](https://github.com/kubernetes/cloud-provider-vsphere/blob/master/Makefile#L76) passes the version value.

I checked the value by running:
[code]

So even the version value is correct, the problem is that we cannot pass it via MakeFile. Do

[2021-12-02 21:35] akutz commented on #533
Hi @nicolehanjing ,

I guarantee at one point in time a Go build flag was used to set `main.version` at https://github.com/kubernetes/cloud-provider-vsphere/blob/master/cmd/vsphere-cloud-controller-manager/main.go#L54.

[2021-12-02 21:35] #531 closed

[2021-12-02 21:36] akutz commented on #533
In fact, it should still set the version via https://github.com/kubernetes/cloud-provider-vsphere/blob/0ce006108f01994e3c7b4b35dde1162262807c93/Makefile#L76.

What I bet is happening is the official binary is being built where there are no git tags and thus no version is calculated.

[2021-12-02 21:46] akutz commented on #533
It still embeds the version when built locally:

1. Clone the repo
2. Run `make` and one can see the following in the output:
[code]
3. The binary will be built at `.build/bin/vsphere-cloud-controller-manager.linux_amd64`
4. Use the `strings` command to verify the version is in the binary:
[code]
5. I can even verify the binary prints the version by running the command via docker:
[code]

So it's

[2021-12-03 00:17] nicolehanjing commented on #533
Hi @akutz , thanks for the info and it looks like the issue is in the dockerfile for building images.
I've validated the fix and here's the PR: https://github.com/kubernetes/cloud-provider-vsphere/pull/535

[2021-12-03 01:13] lubronzhan opened #536 "IP address might not be update to date after node is rebooted"
### What happened?

Currently, our `NodeAddress` and `NodeAddressesByProviderID`  [link](https://github.com/kubernetes/cloud-provider-vsphere/blob/d5f062858935b9c50b0e8e53463b6985ca34494c/pkg/cloudprovider/vsphere/instances.go#L51-L93) reads node address and node tag from a `nodeUUIDMap`, if the node is discovered before and stored inside this `nodeUUIDMap`. This nodeUUIDMap only gets updates when

[2021-12-03 05:14] lubronzhan opened #537 "E2E test"
### What would you like to be added?

E2E test for CPI

### Why is this needed?

Currently we don't have e2e for CPI. There are some issue we only find out when customer are using it.
Which this is pretty late stage, we should test this out first in our upstream pipeline.

Azure also has its own e2e pipeline https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cloud-provider

[2021-12-03 06:03] lubronzhan commented on #536
Another symptom of this cache is this issue https://github.com/kubernetes/cloud-provider-vsphere/issues/501

[2021-12-03 07:36] lubronzhan commented on #302
We supports now, 1.22.3

[2021-12-03 07:36] #302 closed

[2021-12-03 13:25] randomvariable opened #538 "CPV should not remove nodes coming from a different provider"
### What happened?

1. Provision a vSphere cluster
2. Add a node using kubemark
3. CPI deletes the kubemark node:

[code]

### What did you expect to happen?

Node doesn't get deleted

### How can we reproduce it (as minimally and precisely as possible)?

See above

### Anything else we need to know (please consider providing level 4 or above logs of CPI)?

Related to https://github.com/kubernetes

[2021-12-03 13:31] YanzhaoLi commented on #538
And from the kube-apiserver audit log we can confirm it's CCM deleted the node:
[code]

BTW Alibaba cloudprovider uses service.beta.kubernetes.io/exclude-node in node labels to exclude node from ccm: https://github.com/kubernetes/cloud-provider/issues/35#issuecomment-586076810

[2021-12-03 17:34] lubronzhan commented on #538
Hi @YanzhaoLi  This is by design, currently, CPI doesn't support running multil different CCM inside a single cluster.
We do see there is an ongoing effort around enabling this feature on CPI with generic mechanism https://github.com/kubernetes/kubernetes/issues/88820

I'm checking @timoreimann on updates.

For now gonna close this

[2021-12-03 17:34] #538 closed

[2021-12-03 20:24] lubronzhan commented on #536
We should remove the entry based on UUID when unregistering nodehttps://github.com/kubernetes/cloud-provider-vsphere/issues/397#issuecomment-729076915

[2021-12-03 20:25] lubronzhan commented on #501
It's the same issue here https://github.com/kubernetes/cloud-provider-vsphere/issues/397#issuecomment-729076915
We will work on a fix ASAP

[2021-12-04 03:18] #533 closed

[2021-12-04 04:24] lubronzhan commented on #529
Hi @Tony-The-Developer have you tried the doc? We will close this one

[2021-12-04 05:39] #529 closed

[2021-12-06 18:54] lubronzhan commented on #501
This is fixed on master branch, we will cherry pick to 1.22 and 1.21

[2021-12-06 19:04] ozhankaraman commented on #501
thx @lubronzhan, good work cheers

[2021-12-06 19:10] lubronzhan commented on #501
@ozhankaraman I can give you a dev image to try it out for your specific case

[2021-12-06 19:15] ozhankaraman commented on #501
send me the image but I need an approval to test it, I will keep you updated, whether I could test or not

[2021-12-06 22:17] lubronzhan commented on #501
@ozhankaraman I created this one `lubronzhan/cpi:master` I just built from master branch. If you have security concern you can also build one from master

[2021-12-07 01:16] lubronzhan commented on #498
Fixed in add snat disable flag to preserve client IP when using inline mode #523

[2021-12-07 01:16] #498 closed

[2021-12-07 04:19] moonek commented on #498
@lubronzhan The `snatDisabled` flag is a prerequisite for developing `loadBalancerSourceRanges`. Currently the `loadBalancerSourceRanges` feature is not in `pkg/cloudprovider/vsphere`. Therefore, this issue cannot be closed. I can develop it later.

[2021-12-07 19:16] lubronzhan commented on #501
I also built this pre release image as well
`gcr.io/cloud-provider-vsphere/cpi/release/manager:v1.22.4-alpha.1`

[2021-12-07 23:07] lubronzhan opened #545 "For paravirtual mode Node UUID could be empty"
### What happened?

Node UUID could be empty when instance is booting. We should return error when the UUID is not initialized for paravirtual.
This was fixed in non-paravirtual mode in
https://github.com/kubernetes/cloud-provider-vsphere/pull/522

related issue: https://github.com/kubernetes/cloud-provider-vsphere/issues/521

### What did you expect to happen?

When booting the instance, the uuid

[2021-12-08 00:23] lubronzhan commented on #545
Fixed in https://github.com/kubernetes/cloud-provider-vsphere/pull/522

[2021-12-08 01:16] lubronzhan commented on #536
Fixed in https://github.com/kubernetes/cloud-provider-vsphere/pull/541

[2021-12-08 01:16] #536 closed

[2021-12-08 01:16] #545 closed

[2021-12-08 01:33] HanFa opened #549 "Add unit tests for the helm charts"
### What would you like to be added?

Unit tests for the CPV helm charts can be run with the unit test plugin https://github.com/helm-unittest/helm-unittest `helm unittest`

### Why is this needed?

Unit tests for the CPV helm charts can be added to improve the testability of the helm manifests.

[2021-12-12 18:53] nickperry commented on #479
Because the node resource was deleted.

The VM still existed. Given the credentials were known to be wrong it is impossible for VC to have returned any information, either right or wrong.

[2021-12-12 20:44] #433 closed

[2021-12-12 22:58] ozhankaraman commented on #501
Hey @lubronzhan, I tested it with v1.22.4 image and I approve that your fix resolves issue here, thanks for your help

[2021-12-12 22:58] #501 closed

[2021-12-15 21:32] jvrahav opened #552 "Add support for zones for paravirtual mode"
### What would you like to be added?

Implement zone interface for paravirtual mode

### Why is this needed?

As part of supporting HA use case for TKG, cloud provider should be aware of zones thereby helping kubelet set the failure domain on the nodes in TKC cluster.

To determine the failure domain we can rely on the failure domain populated by VMOperator on VirtualMachine Instance

[2021-12-16 06:05] #552 closed

[2021-12-16 08:34] moonek opened #554 "Orphaned IPs remain in IP Pool (/w nsx-t based Load Balancer)"
### What happened?

When using NSX-T based LoadBalancer, I encountered a problem where the number of IPs allocated to the IP Pool and the number of VIPs actually used did not match.
This results in the following issues that I checked through the NSX-T Web Console and REST API.
- There are orphaned IPs in the IP Pool.
- Duplicate IPs exist in the IP Pool. (Duplicate IPs cannot be deleted with REST

[2021-12-17 18:11] lubronzhan commented on #554
Sounds like a bug to me in NSX. CPV should just be request ip for the service, and NSX-T manager should be allocating the IP based on availability, from your description, NSX-T allocates IP and it failed to clean up all of them

[2021-12-17 18:11] lubronzhan commented on #554
Let me ask my NSX-T foks

[2021-12-18 03:17] moonek commented on #554
@lubronzhan This is an important issue for us. Thanks for checking further.

[2021-12-20 01:40] lubronzhan commented on #554
Hi @moonek I talked to them, they said you should talk to NSX-T GSS, the support guy. Collect bundle and file issue to NSX-T

[2021-12-23 02:05] moonek commented on #554
It is unclear whether CPV can solve it, so I will close it. I will reopen if there is any update in the future.

[2021-12-23 02:05] #554 closed

[2021-12-26 19:12] #456 closed

[2021-12-26 19:12] #482 closed

[2022-01-10 22:38] #476 closed

[2022-01-11 19:46] #479 closed

[2022-01-16 09:55] inductor commented on #380
/reopen

[2022-01-18 10:55] mohag commented on #465
/remove-lifecycle rotten

[2022-01-18 21:42] lubronzhan opened #565 "Add coverage pipeline"
### What would you like to be added?

Currently, we don't have pipeline to calculate test coverage for our unit test.

### Why is this needed?

To improve code quality

### Example
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml#L179-L211

### CPI's pipeline file
https://github.com/kubernetes/test-inf

[2022-01-18 21:58] PennyScissors commented on #505
/remove-lifecycle stale

[2022-01-20 04:48] HanFa commented on #565
/assign chenlin07
/honk

[2022-01-21 00:19] chenlin07 commented on #565
/assign

[2022-01-24 18:32] #525 closed

[2022-01-26 02:30] #565 closed

[2022-01-26 06:30] chenlin07 opened #574 "Test Coverage fails when running `make test-cover`"
### What happened?

When we run `make test-cover` to calculate test coverage, the test fails.

### What did you expect to happen?

We don't get errors when we run `make test-cover`

### How can we reproduce it (as minimally and precisely as possible)?

run `make test-cover`

### Anything else we need to know (please consider providing level 4 or above logs of CPI)?

_No response_

### Kubernetes v

[2022-01-26 06:45] chenlin07 commented on #574
Error Message:
[code]

We don't want to include e2e test into our test coverage, we should skip it.

[2022-01-26 06:49] chenlin07 commented on #574
[build-log.txt](https://github.com/kubernetes/cloud-provider-vsphere/files/7939495/build-log.txt)

[2022-01-26 15:17] netic-jsj opened #576 "IP addresses are remove from nodes"
### What happened?

After upgrading to version 1.22.4 some of our nodes lost there ip's

[code]

Now if i add a node (plat1-dc1-worker2)

[code]

and remove one of the defect nodes (plat1-dc1-worker1)

[code]

plat1-dc4-worker3 has now lost it's ip

Logs from active cloud-controller-manager

[code]

IP on node

[code]

### What did you expect to happen?

CPI should not remove ip's from node

### H

[2022-01-28 21:23] PennyScissors commented on #465
/remove-lifecycle rotten

[2022-02-02 09:23] mohag commented on #465
/remove-lifecycle stale

[2022-02-02 09:23] mohag commented on #465
/remove-lifecycle rotten

[2022-02-07 09:34] nickperry commented on #475
/remove-lifecycle rotten

[2022-02-07 09:35] nickperry commented on #475
/reopen

[2022-02-07 09:35] nickperry commented on #475
I still think this is worth fixing.

[2022-02-07 18:02] srm09 opened #583 "Update govmomi module to the latest version"
### What would you like to be added?

Update the `govmomi` module to the latest version.

### Why is this needed?

The `govmomi` module version currently stands at `v0.20.3` whereas the latest version for the module is at `v0.27.3`. The newer module version comes with a lot of fixes, and it makes sense to keep the codebase updated with the latest versions.

[2022-02-07 18:04] aartij17 commented on #583
/assign

[2022-02-08 01:24] chenlin07 commented on #574
fix in: https://github.com/kubernetes/cloud-provider-vsphere/pull/575

[2022-02-08 01:24] #574 closed

[2022-02-08 01:53] lubronzhan commented on #576
Hi @netic-jsj
Does the VM has IP address?
We removed the caching of nodeIP in since v1.22.4, since it will store wrong IP when node is shutdown and reboot.
CPI will try update node's IP every 5 minutes.
But the vmtool might not return correct ip address when it request the IP from VC.
After 5 minutes the correct IP should show up on the nodes, if the vmtool could return correct IP from VC.
Could y

[2022-02-08 02:23] lubronzhan commented on #576
Also let me consult the sig-cloud-provider, whether still there are use case of reaching node using the hostname.

[2022-02-08 08:18] netic-jsj commented on #576
Hi

I have changed the log level to 6 and attached logs from the 3 controllers.

My nodes looks like this

➜  ~ kubectl get nodes -o=jsonpath='{range .items[*]} {.status.addresses}{"\n"}{end}'
 [{"address":"plat1-controlplane1","type":"Hostname"},{"address":"10.240.84.33","type":"InternalIP"},{"address":"10.240.84.33","type":"ExternalIP"}]
 [{"address":"plat1-controlplane2","type":"Hostname"},{"ad

[2022-02-08 08:23] netic-jsj commented on #576
vmware-tools seems to show the right ip if i look in vsphere client
<img width="371" alt="Screenshot 2022-02-08 at 09 20 29" src="https://user-images.githubusercontent.com/48946742/152946768-efa0d01f-256f-4cb6-b920-413844726b47.png">

[2022-02-08 17:58] netic-jsj commented on #576
We have 6 other cluster which runs version 1.2.1. without problems. So im pretty sure it's not a problem with VC. My first upgrade was to v1.22.4, were i ran into the caching issue. I have only seen this issue with version 1.22.5.

[2022-02-08 18:12] lubronzhan commented on #576
This is log snippet that shows no IP is returned from VC
[code]

[2022-02-08 18:22] lubronzhan commented on #576
We removed the cache because it cause issue like this https://github.com/kubernetes/cloud-provider-vsphere/issues/501

[2022-02-08 18:52] XudongLiuHarold commented on #549
/assign

[2022-02-08 18:53] XudongLiuHarold commented on #537
/close

[2022-02-08 18:53] #537 closed

[2022-02-08 18:54] XudongLiuHarold commented on #534
Resolved by above PR.

/close

[2022-02-08 19:10] lubronzhan commented on #576
I can try cut a quick release with some caching workaround. Do you want to try?
We don't observe this issue in our scale testing environment

[2022-02-08 19:14] XudongLiuHarold commented on #475
Hi @nickperry , echo what Nicole said:
[code]
Line 164 uses level 2 is because it shows the important message that the instance exists, Line 179 is just for debugging propose, to log why the instance can't be found.

So this should be like this.

/close

[2022-02-08 19:14] #475 closed

[2022-02-09 14:33] netic-jsj commented on #576
If implement the caching again will we not have the issue from #501 again?

The funny thing is that when i call VC with govc, i always get the ip.

I had a small loop running for an hour without errors

[code]

[2022-02-09 20:01] lubronzhan commented on #576
The code to retrieve ip get the information from `oVM.Guest.Net`, because it needs to loop through all the nics and available IPs. https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/nodemanager.go#L265
The command you execute probably get from `oVM.Guest.IpAddress`. Maybe there is descrepency between this two.
Could you also grep the Nic information as well?

[2022-02-11 09:50] netic-jsj commented on #576
Hi @lubronzhan

You are right, the problem is with open-vm-tools.

Running the command
[code]
shows that it is empty.

Upgrading open-vm-tools from version 2:11.0.5-4 to 2:11.3.0-2 seems to fix the problem. After the upgrade i cannot reproduce the problem.

[2022-02-11 09:52] netic-jsj commented on #576
@lubronzhan thanks for your help. I think you have proven the problem is not with this project! :-)

[2022-02-11 19:59] lubronzhan commented on #576
Thanks @netic-jsj for finding this root cause!
We will also improve in CPI as well to workaround the issue in vm-tools.

[2022-02-15 10:48] #380 closed

[2022-02-15 23:26] lubronzhan opened #588 "In NSX-T config, remoteAuth value is not passed when creating NSX Config"
### What happened?

After setting `remoteAuth: "true"` in INI file or yaml config, calling `CreateConfig`
https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/nsxt/config/config_ini_legacy.go#L33-L48 https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/nsxt/config/config_yaml.go#L34-L49
The `RemoteAuth` is not passed over.

### What did you expect to happen?

The `R

[2022-02-17 00:02] KennethStebbins opened #593 "Broken link in vSphere Cloud Provider documentation"
### What happened?

In the [Deploying a Kubernetes Cluster on vSphere with CSI and CPI](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html#zones-and-regions-for-pod-and-volume-placement---cpi) tutorial, under the "Zones and Regions for Pod and Volume Placement - CPI" section, there is a broken link.

Link text: `there is a zones/regions tutorial on how to

[2022-02-18 01:50] #593 closed

[2022-02-23 20:39] #549 closed

[2022-02-23 20:39] XudongLiuHarold commented on #549
The helm unittest repo is not maintained anymore.

/close

[2022-03-02 17:01] #588 closed

[2022-03-02 17:34] lubronzhan commented on #534
Reopen since upstream hasn't fixed this yet

[2022-03-02 21:03] addyess opened #597 "chart: use of plaintext password in config map leaks credentials"
https://github.com/kubernetes/cloud-provider-vsphere/blob/ce447aa6b3d277a0fec371b1a648a26b3f3e7d63/charts/vsphere-cpi/templates/configmap.yaml#L26-L27

why don't these reference a secret like this:
[code]

[2022-03-10 20:47] steve-fraser opened #600 "Cloud provider failing to initialize"
### What happened?

I followed the getting started on https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/docs/getting_started.md

I am seeing the following cloud-provider error:
[code]

I am also seeing
[code]

### What did you expect to happen?

The cloud provider failed to come up healthy

### How can we reproduce it (as minimally and precisely as possible)?

Follow gettin

[2022-03-11 01:15] lubronzhan opened #603 "Integration test and several other test should be running on PR against release branch as well"
### What would you like to be added?

Below tests are only run against master branch
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml#L142-L284
We should make it run against release branch as well

### Why is this needed?

Currently, there are some tests we only run on master branch, there is no verification for P

[2022-03-11 01:18] HanFa commented on #603
Submitted a PR on test-infra that run CI against different release branches. https://github.com/kubernetes/test-infra/pull/25599

[2022-03-11 11:43] #600 closed

[2022-03-12 21:34] #474 closed

[2022-03-18 16:03] #505 closed

[2022-03-18 22:22] lubronzhan opened #606 "Bump govmomi to 0.27.3"
### What would you like to be added?

Bump the govmomi version

### Why is this needed?

Our GOVC is too old. We should pick up the recent one.
Also it has bug fix for https://github.com/vmware/govmomi/pull/1154

[2022-03-23 00:45] lubronzhan opened #608 "Replace `capw` label with `capv` label"
### What would you like to be added?

Replace `capw` label with `capv` label in vsphere-paravirtual.

### Why is this needed?

CAPV will be used to create cluster in paravirtual mode. And new VirtualMachines created by CAPV will contain label `capv` https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/pkg/services/vmoperator/control_plane_endpoint.go#L40-L41

Related CAPV issu

[2022-03-23 05:10] lubronzhan opened #609 "Replace cloud-provider-vsphere staticcheck with golangci-lint"
### Which jobs are failing?

cloud-provider-vsphere

### Which tests are failing?

pull-cloud-provider-vsphere-verify-staticcheck

### Since when has it been failing?

After base image was bumped

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/cloud-provider-vsphere/607/pull-cloud-provider-vsphere-verify-staticcheck/1506423298420903936

### Reason for failure (if po

[2022-03-24 12:28] Cellebyte commented on #503
@lubronzhan I think it is now fixed by using the new helm-chart.

[2022-04-08 15:42] bnason opened #614 "Node initialization fails with multiple IPs and node IP is not first"
### What happened?

Deployed vSphere CPI into a new cluster, when it goes to initialize the node, it is seemingly failing because it only gets the first IP in vSphere and that does not match the reported node IP. This node has 2 IPs associated with it initially: 1) the K8s API Server Floating IP and 2) the node ip

### What did you expect to happen?

vSphere CPI to check all IPs against the node i

[2022-04-12 18:02] bnason commented on #614
I've forked this repo and updated the code as best as I can to allow for multiple IPs and have it working for me.

Fix applied to v1.22.6
https://github.com/bnason/cloud-provider-vsphere/tree/v1.22.6-fix-multi-ips

Fix applied to master
https://github.com/bnason/cloud-provider-vsphere/tree/fix-multi-ips

[2022-04-18 05:07] #435 closed

[2022-04-19 23:39] XudongLiuHarold commented on #609
/assign

[2022-04-23 12:47] #503 closed

[2022-04-28 19:42] lubronzhan commented on #608
Merged to main and 1.23

[2022-04-28 19:42] #608 closed

[2022-04-28 21:09] lubronzhan opened #621 "Add E2E test for CPV"
### What would you like to be added?

We need following E2E test cases:
1. Create cluster, deploy CPV
      1.  Node is ready, has valid ip address, and uuid
1. Restart VM using GOVC
      1. Node becomes ready again eventually
1. Turn off VM using GOVC, wait for 30 seconds, turn on VM again
      1. Node becomes ready again eventually
1. Delete a VM using GOVC, node should be gone. Wait for aroun

[2022-05-09 01:00] srm09 commented on #583
/close
Merged with #605

[2022-05-09 01:00] #583 closed

[2022-05-09 18:07] lubronzhan opened #623 "Document and validate the least needed vSphere permission"
### What would you like to be added?

We should have documented the least needed permission. Also verify that CPV still works as expected.

In theory, it needs permission described in VCP https://github.com/vmware-archive/vsphere-storage-for-kubernetes/blob/master/documentation/vcp-roles.md#overview, beside the storage related part

### Why is this needed?

Customer might not want the full access

[2022-05-11 14:47] QuingKhaos commented on #234
Another use case: running OpenShift Data Foundation recommends using vSphere host anti-affinity rules to ensure the Ceph failure domains are distributed among different physical chassis/hypervisors. But with rack topology keys, which may not match zone/region tags we can use a rack failure domain for Ceph: https://github.com/rook/rook/blob/master/Documentation/ceph-cluster-crd.md#osd-topology

[2022-05-15 18:07] johnwc commented on #614
Did you create a PR for your fixes?

[2022-05-25 17:14] lubronzhan commented on #623
The create and delete permission shouldn't be needed.

[2022-06-02 13:38] mohag commented on #465
/remove-lifecycle rotten

[2022-06-19 16:20] cagataygurturk opened #631 "Helm repository contains an older chart version"
### What would you like to be added?

The chart repository contains 1.21 chart version that somehow does not work with 1.23.

$ helm search repo vsphere-cpi
NAME                   	CHART VERSION	APP VERSION	DESCRIPTION
vsphere-cpi/vsphere-cpi	1.0.0        	1.21.0     	A Helm chart for vSphere Cloud Provider Interfa..

### Why is this needed?

The default installation instructions does not work wit

[2022-06-20 06:03] HanFa commented on #631
Hi @cagataygurturk, thanks for submitting the issue. Could you also provide the log for the cloud controller manager? is it because https://github.com/kubernetes/cloud-provider-vsphere/pull/624#issuecomment-1159771482 doesn't get cherrypicked to the release?

[2022-06-20 10:42] cagataygurturk commented on #631
This issue might be unrelated to #624. I did not try the older chart with your fix in #624 because I saw #624 after opening this issue

But anyways, the charts are being updated but they are not uploaded to the chart repository.

[2022-06-22 00:55] lubronzhan commented on #631
Hm. we need to fix our helm chart configuration, to publish chart that released on each branch
https://github.com/kubernetes/cloud-provider-vsphere/blob/1469f5502886edf21ab67dd0d0751fb34a26980e/.github/workflows/release.yml
Let me fix that

[2022-06-22 03:01] lubronzhan commented on #631
In charts requirements, it requires a branch gh-pages to store published charts.
https://github.com/helm/chart-releaser-action
If we release this on each of the release branch, the releaser will merge gh-pages to the release branch and cause conflicts
Then we should move the tarball to master branch each time to avoid conflicts

[2022-06-22 03:54] lubronzhan commented on #631
[code]
Ok fixed it...
But this requires extra work every time we released a new release

[2022-06-22 17:55] lubronzhan commented on #631
@cagataygurturk could you please help verify?

[2022-06-27 18:37] lubronzhan commented on #631
Thanks. Close this for now

[2022-06-28 23:05] mstrent opened #637 "Helm install/upgrade fails"
### What happened?

Attempted to install the latest version of the CPI Helm chart and received the following error from Helm:

`Error: UPGRADE FAILED: template: vsphere-cpi/templates/service.yaml:1:14: executing \"vsphere-cpi/templates/service.yaml\" at <.Values.service.enabled>: nil pointer evaluating interface {}.enabled`

I believe this is due to removing the "service" section from values.yaml

[2022-06-29 00:19] mstrent opened #638 "vSphere CPI pods will never schedule on RKE2 due to nodeSelector in Helm chart"
https://github.com/kubernetes/cloud-provider-vsphere/blob/1650759df957b8d22d4f2fa32fc331e250163fe5/charts/vsphere-cpi/templates/daemonset.yaml#L43

The nodeSelector in the provided vSphere CPI Helm chart will result in pods never scheduling on RKE2 clusters.

Instead, the nodeSelector should be: `node-role.kubernetes.io/control-plane: "true"`

Adding `--set-string daemonset.nodeSelector."node-role

[2022-06-30 16:30] stratus-ss commented on #637
I have the same problem

K8s version: v1.23.5+3afdacb
OpenShift: 4.10.18

Cloud Provider: VMWare 7.x

[2022-07-10 20:01] #502 closed

[2022-07-11 18:40] tgelter commented on #597
/remove-lifecycle rotten

[2022-07-19 22:25] lubronzhan commented on #614
Sorry. I'll take a look at the code.
Currently, workaround would be using
[code]

[2022-07-21 23:00] tylerschultz opened #640 "vSphere CPI should be configurable with a server in the format of an IPv6 address"
### What happened?

When attempting to create a Kubernetes Secret in the format the vSphere CPI expects, with an IPv6 address, causes Kubernetes to error. The vSphere CPI expects the credentials Secret keys to contain the vSphere server address. IPv6 addresses contain colons, which are invalid Secret key characters. This forces users to use a DNS address when configuring in an IPv6 environment.

#

[2022-07-21 23:26] tylerschultz commented on #640
We propose a secret format that looks something like this:

[code]

When parsing the secret, a check could be made for the `credentials` key, if if present expect the above format, else falling back to the existing secret parsing logic.

We're happy to PR this if it's found to be an acceptable approach.

[2022-07-24 14:00] cagataygurturk commented on #631
@lubronzhan unfortunately now we again have an older chart version as 1.24 is out.

[2022-07-25 18:08] christianang commented on #640
Realized that the above also doesn't work because secrets are key value pairs. So `credentials` can't be an array. New proposal, use a suffix that can group server, username, and password together:

[code]

[2022-07-27 08:23] timoschwarzer commented on #631
I have the same problem as @cagataygurturk.

The latest release in the repository at https://kubernetes.github.io/cloud-provider-vsphere/index.yaml is 1.23.1 though 1.24.0 has been tagged a month ago.

[2022-07-30 19:34] #534 closed

[2022-08-08 01:40] #603 closed

[2022-08-15 23:52] #606 closed

[2022-08-17 21:09] tylerschultz commented on #640
Per offline discussion w @lubronzhan, we'll move forward with @christianang's above suggestion. The code will attempt to parse the legacy format, and if that fails, it will attempt to parse with Christian's proposed format. We intend to open a PR for this change.

[2022-08-18 23:45] divyenpatel opened #642 "CPI should not trigger deleting Node when Node VM is inaccessible"
### What happened?

When Node VM is inaccessible for any reason, but VM is still present in the VC inventory, CPI is telling k8s to delete the Node.

### What did you expect to happen?

CPI should not trigger Node Object deletion when Node is present in the VC inventory in any state. Only when Node is deleted from VC inventory it should be removed from k8s.

We can preserve VM MoRef somewhere on t

[2022-08-18 23:50] divyenpatel commented on #642
@yastij what is your opinion on the fix?
This fix will resolve a lot of issues occurring due to VM becoming inaccessible for a short period of time.

[2022-08-23 17:42] lubronzhan commented on #642
Hi @divyenpatel

Do you mean there could be a case that even the VM is not deleted, VC would still return error like `ErrNoVMFound`?  Otherwise why would CPI delete the node if it could find it.
Then what would adding `VM MoRef` make a difference? Since CPI would still call the same VC API.
Could you please clarify this?

[2022-08-25 19:15] divyenpatel commented on #642
@lubronzhan

When VM becomes in-accessible, ` SearchIndex -> FindbyUUID ` API return void, which is treated as "VM not found" by CPI, and thus CPI triggers delete of the Node object from the API server.

[2022-08-25 19:17] divyenpatel commented on #642
SearchIndex -> FindbyUUID does not differentiate between VM inaccessible vs VM removed from VC inventory.
but if you query VM using vm-moref, we can look up connectionstate and skip issuing VM object deletion for VMs went into an in-accessible state.

[2022-08-26 22:18] lubronzhan commented on #642
Thanks. We do have caching inside CPI, let me see if I can cache the moref in that and make use of it

[2022-08-27 17:12] lubronzhan commented on #638
Hi @mstrent do you know what tool does RKE use to spin up k8s bits?
Currently, CPI supports Kubeadm installed cluster by default. It labels control plane node with `node-role.kubernetes.io/control-plane=""` according to the doc here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/#mark-the-node-as-control-plane
That's why we only has the label `node-role.kubernetes

[2022-08-27 17:18] lubronzhan commented on #637
We removed the service  from CPI, let me fix the helm

[2022-08-27 17:52] lubronzhan commented on #638
I tried, the nodeSelector can only have one value. But looks like only RKE user is using it, let me change it to `node-role.kubernetes.io/control-plane="true"`

[2022-08-27 18:34] lubronzhan commented on #638
Ok I fixed the chart. But to keep the release version consistent, I release the 1.24.0.
You need to
[code]
Then install it

[2022-08-27 18:36] lubronzhan commented on #638
Or let me release a 1.24.1 tonight

[2022-08-29 20:58] lubronzhan commented on #638
I just released 1.24.1. Feel free to upgrade it

[2022-08-29 20:58] #638 closed

[2022-08-29 20:59] lubronzhan commented on #637
It's fixed in 1.24.1

[2022-08-29 20:59] #637 closed

[2022-08-29 20:59] #623 closed

[2022-08-29 22:40] mstrent commented on #637
Thank you!

[2022-08-29 22:44] mstrent commented on #638
Thank you!

[2022-08-30 00:15] #640 closed

[2022-09-08 23:43] lubronzhan commented on #642
Hi @divyenpatel I created a PR here could you review https://github.com/kubernetes/cloud-provider-vsphere/pull/650
Also is it possible to build a dev image and test in your environment? Since I'm not sure how to reproduce this scenario

[2022-09-13 19:39] divyenpatel commented on #642
We can reproduce this issue easily.

Deploy Node VM on NFS datastore, and then shut down NFS server, which in turn will make datastore and Node VM inaccessible. Node VM is still present on the VC inventory but it is inaccessible and in that case, Node should not be deleted from the API server.

@lubronzhan
Can you share the CPI image with the fix?

[2022-09-13 23:47] lubronzhan commented on #642
@divyenpatelhere it is: gcr.io/cf-pks-golf/cpi:test-vm-state-check
Ok, our nimbus testbed only has iscsi datastore

[2022-09-14 16:36] divyenpatel commented on #642
Thanks, @lubronzhan we will update you about the testing result.

[2022-09-15 22:35] divyenpatel commented on #642
@lubronzhan we have validated the image you have provided. It is working as expected.
you can merge the PR and provide us an official release.

[2022-09-16 07:35] wangyuan0916 opened #651 "Does out-of-tree vSphere CPI support Leader Migration in HA clusters?"
Hi folks, kubernetes core supports Leader Migration in HA clusters when upgrading, but it should work together with the Leader Migration implementation in vSphere CCM. I have searched docs about this but found nothing. Does vSphere out-of-tree CPI implement this?

[2022-09-17 02:45] #609 closed

[2022-09-22 22:38] lubronzhan opened #652 "CPI is not compatible with legacy paravirtual mode"
### What happened?

In legacy paravirtual mode, machine has label `capw.vmware.com`
but since CPI 1.23, it only add label selector `capv.vmware.com`
Loadbalancer service won't find correct backend machine with the new label, and it won't work

### What did you expect to happen?

Since legacy paravirtual mode is still supported, CPI should also supported it

### How can we reproduce it (as minimall

[2022-09-23 09:41] vadim-morozow commented on #597
bump

[2022-09-23 09:43] vadim-morozow commented on #597
/remove-lifecycle rotten

[2022-09-23 21:25] lubronzhan commented on #652
Close this will be in 1.24.2 and 1.23.2

[2022-09-23 21:25] #652 closed

[2022-09-23 22:19] lubronzhan commented on #642
Cool, 1.24.2 should include this fix
https://github.com/kubernetes/cloud-provider-vsphere/releases/tag/v1.24.2

[2022-09-23 22:19] #642 closed

[2022-09-30 15:20] mohag commented on #465
/remove-lifecycle rotten

[2022-09-30 18:49] lubronzhan commented on #614
Are you passing `--node-ip` to your kubelet?
https://github.com/kubernetes/cloud-provider/blob/v0.22.6/controllers/node/node_controller.go#L695-L708
Looks like if the IP that vsphere CPI pick up doesn't match the kubelet ip then it will fail.
Let me check with previous contributor why only single ip is added to Node, whether there are other potential risks

[2022-10-12 15:03] dkirrane opened #660 "Chart not deploying any Pods"
### What happened?

My cluster is deployed with kubeadm and `cloud-provider: external` is set.

I can see the coredns pods are in Pending
[code]

And Nodes are tainted
[code]

After deploying the Helm chart I can see the Configmap
[code]

A describe on the DaemonSet does not show any issues
However, no Pods come up and the Nodes stay tainted
[code]

Helm List & Status also looks good
[code]

What

[2022-10-12 16:16] dkirrane commented on #660
Found that the issue is the `nodeSelector` on the charts [Daemonset](https://github.com/kubernetes/cloud-provider-vsphere/blob/master/charts/vsphere-cpi/templates/daemonset.yaml#L43)

`node-role.kubernetes.io/control-plane: "true"`

whereas the node created by kubeadm init has this label

`node-role.kubernetes.io/control-plane: ''`

When I remove `true` from the Daemonset `nodeSelector` the Pod co

[2022-10-14 12:05] parogui opened #661 "CPI node discovery is finding VMs outside of the folder where the cluster is installed on"
### What happened?

After installing CSI driver, we noticed CPI is discovering nodes out of the cluster (OpenShift in this case) VMs folder.

If the nodes are manually deleted, they are re-discovered.

The only way we were able to workaround the issue is by reducing the permissions on the user used for vSphere so it only has access to its cluster, making us require a per-cluster vSphere user with

[2022-10-18 22:51] lubronzhan commented on #660
Yeah the problem is rancher is using this label `node-role.kubernetes.io/control-plane: "true"` while kubeadm is using `node-role.kubernetes.io/control-plane: ''`
I'll change the node selector to nodeAffinity instead
[code]

[2022-10-18 23:04] lubronzhan commented on #661
Thanks for opening up.
About this issue, when initializing the node, the Cloud-provider-vsphere will first try find the providerID of each node by searching with node name. [Related code](https://github.com/kubernetes/cloud-provider/blob/master/controllers/node/node_controller.go#L578). Then the Cloud provider vSphere will try find VM by [searching by DNS Name](https://github.com/kubernetes/cloud-

[2022-10-20 22:34] lubronzhan commented on #660
The newest 1.25.0 chart use affinity rule instead of node selector, so the issue should be gone

[2022-10-21 04:59] wangyuan0916 opened #664 "CCM cannot load vSphere credentials through 'secretsDirectory' in yaml based config file."
### What happened?

CCM cannot load vSphere credentials through 'secretsDirectory' in yaml based config file.
Error logs:

I configured vsphere.conf:

global:
  port: 443
  insecureFlag: true
  secretsDirectory: /var/vcap/jobs/cloud-controller-manager/config/credentials/
vcenter:
  wy-Datacenter:
    server: **.**.**.**
    datacenters:
      - Datacenter
labels:
  region: wy-k8s-region
  zone: wy

[2022-10-21 12:33] m-ferrero opened #665 "CPI cannot initialize vm, error "Failed to find VM by DNS Name", missing read-only permission on datacenter"
### What happened?

On a customer we have a kubernetes cluster installed with rancher inside a vmware vsphere environment.
We have installed cpi and csi vmware drivers with rancher helm charts.
The final goal is to use vsphere csi volumes in the kubernetes cluster.

There is a "rancher" user created in vmware for the cpi and csi drivers.
Permissions and roles have been created accordingly to this

[2022-10-24 23:31] lubronzhan commented on #665
Hi @m-ferrero, we have a page of minimum required documentation https://github.com/kubernetes/cloud-provider-vsphere/blob/83fe0cb99f97ee736e6e8471e76a979cdec7fd96/docs/book/vcp_roles.md
Unfortunately, datacenter readonly is required for that

[2022-11-02 09:15] parogui commented on #661
Hi, @lubronzhan thanks for your update.

Our folder structure in VC looks like this (e.g. for the clusters int-ocp and tst-ocp; we have 11 clusters in total):
[code]

[code]

The nodes of each cluster have the following hostnames:

[code]

The DNS records look like this:

[code]
All the nodes are on the same vSphere but in different folders. They may share hostname (master(n), worker(n)...) but no

[2022-11-04 00:11] lubronzhan commented on #661
Hi @parogui Unfortunately, looks like CPI using the hostname as node identifier at the very begining.
Is it possible to change VM to have distinct Hostname in Openshift? If you check kubelet log, probably it's telling it try to register node with this name, so that's why CPI is reconciling using this name

[2022-11-08 15:23] parogui commented on #661
Hi Lubron, thanks for your answer.

Doesn't it look for the full FQDN? It makes sense to simplify the hostname on hosts across clusters to make it easier to maintain infra if the names are recognizable.

[2022-11-09 17:36] divyenpatel opened #667 "Failed to install vsphere-cloud-controller-manager"
### What happened?

[code]

### What did you expect to happen?

There should not be any error in the sample deployment file provided on the repository

### How can we reproduce it (as minimally and precisely as possible)?

download following file, change vSphere credentials and execute kubectl apply -f with this file.

https://raw.githubusercontent.com/kubernetes/cloud-provider-vsphere/release-1.2

[2022-11-09 17:43] divyenpatel commented on #667
The following section on the YAML is not aligned properly

[code]